@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");


@font-face{
  font-family: "Goudy Text MT";
  src: url("../assets/fonts/goudy-text-mt.ttf");
}

@font-face{
  font-family: "vinque";
  src: url("../assets/fonts/vinque_rg.ttf");
}

@font-face{
  font-family: "bookAntiqua";
  src: url("../assets/fonts/book-antiqua.ttf");
}

@font-face{
  font-family: "bookAntiquaBold";
  src: url("../assets/fonts/book-antiqua-bold.ttf");
}

/* Global styles */
.body {
  font-weight: normal;
}

.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to arm5e sheets */

.arm5e .main{
  background-image: url("../assets/background.jpg");
  background-repeat: repeat-y;
  background-size: contain;
  font-family: "bookAntiquaBold";
  padding: 32px;
}
.arm5e .footer{
  background-image: url("../assets/footer.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  min-height: 120px;
  border: 0px;
}

.arm5e .item-form {
  font-family: "Roboto", sans-serif;
}

.arm5e .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 260px;
  flex: 0 0 260px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.arm5e .sheet-header-lab {
  -ms-flex: 0 0 315px;
  flex: 0 0 315px;
}

.arm5e .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 256px;
  flex: 0 0 256px;
  height: 256px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.arm5e .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.arm5e .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.arm5e .sheet-header h1.charname input {
  width: 100%;
  margin: 0;
  /*padding-top: 30px;
  line-height: 30;*/
  font-family: "vinque";
  /*letter-spacing: 1px;*/
}

.arm5e .sheet-header h2.covenantname {
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.arm5e .sheet-header h2.covenantname input {
  width: 100%;
  margin: 0;
  /*padding-top: 25px;
  line-height: 50;*/
  font-family: "vinque";
  /*letter-spacing: 1px;*/
}

.arm5e .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.arm5e .sheet-body,
.arm5e .sheet-body .tab,
.arm5e .sheet-body .tab .editor {
  height: 100%;
}

.arm5e .tox .tox-editor-container {
  background: #fff;
}

.arm5e .tox .tox-edit-area {
  padding: 0 8px;
}

.arm5e .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.arm5e .header-label {
  font-weight: bold;
}

.arm5eTabs{
  border:0px !important;
  background-image: url("../assets/barra.png");
  background-repeat: repeat-x;
  background-position-y: bottom;
  min-height: 40px;
  margin-bottom: 12px !important;
}

.arm5e .backSection{
  background-color: rgb(239 205 40 / 50%);
  border: 0px;
  border-radius: 8px;
  /* border-bottom: 1px solid #aaa; */
  /* border-right: 1px solid #aaa; */
  box-shadow: 5px 5px rgb(245 192 97 / 80%);
}
.arm5e .padding12{
  padding: 12px;
}
.arm5e .marginbot6{
  margin-bottom: 6px;
}
.arm5e .smallTitle{
  font-family: "vinque";
  margin-bottom: 6px;
  font-size: 18px;
}

.arm5e .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.arm5e .tabs .item {
  /*line-height: 60px;*/
  font-family: "vinque";
  font-size: 16pt;
}

.arm5e .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.arm5e .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.arm5e .items-list .item-header {
  font-weight: bold;
}

.arm5e .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.arm5e .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.arm5e .items-list .item img {
  display: block;
}

.arm5e .items-list .item-name {
  margin: 0;
}

.arm5e .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

.width4 {
  flex-grow: 4;
}
.width3{
  flex-grow: 3;
}
.width2{
  flex-grow: 2;
}
.width15{
  flex-grow: 1.5;
}
.flex04{
  flex: 0.4;
}
.flex05{
  flex: 0.5;
}
.flex06{
  flex: 0.6;
}
.flex07{
  flex: 0.7;
}
.flex08{
  flex: 0.8;
}