# IDE
.idea/
.vs/
externalV10/*

# Node Modules
package*.json
node_modules/
npm-debug.log
jsconfig.json
test.js
.npmignore
TODO.txt
foundry.js
packs/actors/**
packs/journals/**
packs/macros/**
packs/rolltables/**
packs/scenes/**
.eslintrc.json
website/UserGuide/.obsidian
arm5e.lock
CommitChangeNotes.md

.vscode/settings.json
