<form class="{{cssClass}} arm5eRoll" autocomplete="off">
  {{> "systems/arm5e/templates/roll/parts/roll-header.html" header="Aging"}}
  <div class="roll-options">
    <div class="flexrow flex-group-center">
      <label class="resource-label">{{ localize "arm5e.sheet.winter" }}</label>
      {{numberInput data.roll.environment.year min=1 step=1 class="SelectedYear"}}
    </div>

    <div class="flexrow flex-group-center">
      <label class="resource-label">{{ lookup data.roll.generic.txtOption 0 }} ({{lookup data.roll.generic.option 0
        }})</label>
    </div>
    {{#unless (eq (lookup data.roll.generic.txtOption 1) "")}}
      <div class="flexrow flex-group-center">
        <label class="resource-label">-</label>
      </div>
      <div class="flexrow flex-group-center">
        <label class="resource-label">{{ lookup data.roll.generic.txtOption 1 }} ({{lookup data.roll.generic.option 1
          }})</label>
      </div>
    {{/unless}}
    {{#unless (eq (lookup data.roll.generic.txtOption 2) "")}}
      <div class="flexrow flex-group-center">
        <label class="resource-label">-</label>
      </div>
      <div class="flexrow flex-group-center">
        <label class="resource-label">{{ lookup data.roll.generic.txtOption 2 }} ({{lookup data.roll.generic.option 2
          }})</label>
      </div>
    {{/unless}} {{#unless (eq (lookup data.roll.generic.txtOption 3) "")}}
      <div class="flexrow flex-group-center">
        <label class="resource-label">+</label>
      </div>
      <div class="flexrow flex-group-center">
        <label class="resource-label">{{ lookup data.roll.generic.txtOption 3 }} ({{lookup data.roll.generic.option
          3}})</label>
      </div>
    {{/unless}} {{#unless (eq (lookup data.roll.generic.txtOption 4) "")}}
      <div class="flexrow flex-group-center">
        <label class="resource-label">+</label>
      </div>
      <div class="flexrow flex-group-center">
        <label class="resource-label">{{ lookup data.roll.generic.txtOption 4 }} ({{lookup data.roll.generic.option 4
          }})</label>
      </div>
    {{/unless}}
    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize "arm5e.sheet.modifier" }}</label>
      <input type="text" name="data.roll.modifier" value="{{data.roll.modifier}}" data-dtype="Number"
        class="SelectedModifier" />
    </div>
  </div>
  {{> "systems/arm5e/templates/roll/parts/roll-footer.html" footer="Aging" }}
</form>