<form class="{{cssClass}} arm5eRoll" autocomplete="off" style="background-size: cover">
  {{> "systems/arm5e/templates/roll/parts/roll-header.html" header="Botch_rolls" }}
  <p style="padding-left: 32px; text-align: center">You rolled a 0. Check for Botch.</p>
  <div class="roll-options">
    <div class="flex-center" style="display: flex; width: 100%; margin-bottom: 10px; text-align: center">
      <p>
        <label for="botchDice" style="white-space: nowrap; margin-right: 10px; padding-top: 4px; text-align: center"
          >{{localize "arm5e.dialog.botch.num"}}
        </label>
        <input type="number" id="botchDice" name="botchDice" min="1" max="10" autofocus value="1" />
      </p>
    </div>
  </div>
  {{> "systems/arm5e/templates/roll/parts/roll-footer.html" footer="Botch_rolls"}}
</form>
