<form class="{{cssClass}} arm5eRoll" autocomplete="off">
  {{> "systems/arm5e/templates/roll/parts/roll-header.html" header="Rolls"}}
  <div class="roll-options">
    <input type="hidden" name="data.roll.Divide" value="2" data-dtype="Number" class="Divide" />

    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize "arm5e.sheet.technique"}}</label>
      <select name="data.roll.technique" data-type="String" class="SelectedTechnique">
        {{#select data.roll.technique}} {{#each data.arts.techniques as |item key|}}
            <option value="{{key}}">{{ item.label }} ({{ item.finalScore }})</option>
          {{/each}} {{/select}}
      </select>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize "arm5e.sheet.form"}}</label>
      <select name="data.roll.form" data-type="String" class="SelectedForm">
        {{#select data.roll.form}} {{#each data.arts.forms as |item key|}}
            <option value="{{ key }}">{{ item.label }} ({{ item.finalScore }})</option>
          {{/each}} {{/select}}
      </select>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize "arm5e.sheet.modifier" }}</label>
      <input type="number" name="data.roll.modifier" value="{{data.roll.modifier}}" data-dtype="Number"
        class="SelectedModifier" />
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>
    {{#unless data.roll.hasAuraBonus}}
      <div class="flexrow flex-group-center">
        <label class="resource-label">{{localize "arm5e.sheet.levelAura"}}</label>
        <input type="number" name="data.roll.aura" value="{{data.roll.aura}}" data-dtype="Number"
          class="SelectedAura" />
      </div>
      <div class="flexrow flex-group-center">
        <label class="resource-label">+</label>
      </div>
    {{/unless}}
    <div class="resource">
      <label class="header-label">{{localize "arm5e.spell.applyFocus" }}</label>
      <input type="checkbox" name="data.applyFocus" {{checked data.roll.focus}} />
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label clickable toggleHidden"
        data-hidden="activeEffects">{{localize "arm5.sheet.bonus.activeEffects"}} ({{ data.roll.bonusActiveEffects
        }})</label>
    </div>
    <div class="hidden activeEffects">
      {{#each data.roll.activeEffects as |item id|}}
        <div class="flexrow flex-group-center">
          <label class="resource-label">+</label>
        </div>
        <div class="flexrow flex-group-center">
          <label class="resource-label">{{ item.label }} {{ item.value }}</label>
        </div>
      {{/each}}
    </div>

    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize data.charmetadata.sta.label }} ({{ data.characteristics.sta.value
        }})</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize "arm5e.sheet.fatigue"}} ({{ data.fatigueTotal }})</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize "arm5e.sheet.wounds"}} ({{ data.woundsTotal }})</label>
    </div>
  </div>
  {{> "systems/arm5e/templates/roll/parts/roll-footer.html" footer="Rolls"}}
</form>