<form class="{{cssClass}} arm5eRoll" autocomplete="off">
  {{> "systems/arm5e/templates/roll/parts/roll-header.html" header="Rolls" }}
  <div class="roll-options">
    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize "arm5e.sheet.characteristic"}}</label>
      <select name="system.roll.characteristic" data-type="String" class="SelectedCharacteristic">
        {{#select system.roll.characteristic}} {{#each system.characteristics as |item key|}} {{#with (lookup
        @root.system.charmetadata key)~}}
              <option value="{{key}}">{{localize label}} ({{ item.value }})</option>
            {{/with}} {{/each}} {{/select}}
      </select>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize "arm5e.sheet.abilities"}}</label>
      <select name="system.roll.ability.id" data-type="String" class="ability-key SelectedAbility">
        <option value="None">{{localize "arm5e.sheet.activeEffect.subtypes.none"}} (0)</option>
        {{#select system.roll.ability.id}} {{#each system.abilities as |item key|}}
            <option value="{{ item._id }}">{{ item.name}} ({{ item.system.finalScore }})</option>
          {{/each}} {{/select}}
      </select>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize "arm5e.sheet.speciality"}} ({{system.roll.ability.speciality}})</label>
      <input type="checkbox" class="abilitySpeciality" name="system.roll.ability.specApply" {{checked
        system.roll.ability.specApply}} />
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize "arm5e.sheet.modifier" }}</label>
      <input type="text" name="system.roll.modifier" value="{{system.roll.modifier}}" data-dtype="Number"
        class="SelectedModifier" />
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize "arm5e.sheet.fatigue"}} ({{ system.fatigueTotal }})</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize "arm5e.sheet.wounds"}} ({{ system.woundsTotal }})</label>
    </div>
  </div>
  {{> "systems/arm5e/templates/roll/parts/roll-footer.html" footer="Rolls" }}
</form>