{{#if (eq system.charType.value "magus")}}
  <div class="flexrow flexcol">
    <div class="flexcol grid grid-2col">
      <div>
        <div class="flex-group-left backSection padding12">
          <div class="flexrow marginbot6">
            <label for="system.house.value" class="bold">{{localize "arm5e.sheet.house"}}</label>
            <span class="width2"><select name="system.house.value" data-type="String" style="width: 100%">
                {{#select system.house.value}} {{#each config.character.houses as |house key|}}
                    <option value="{{key}}">{{house.label}}</option>
                  {{/each}} {{/select}}
              </select></span>
          </div>
          <div class="flexrow marginbot6">
            <label for="system.dom-mag.label" class="bold">{{localize "arm5e.sheet.domusMagnus"}}</label>
            <span class="width2"><input type="text" name="system.dom-mag.value" value="{{system.dom-mag.value}}"
                data-dtype="String" /></span>
          </div>
          <div class="flexrow marginbot6">
            <label for="system.primus.value" class="bold">{{localize "arm5e.sheet.primus"}}</label>
            <span class="width2"><input type="text" name="system.primus.value" value="{{system.primus.value}}"
                data-dtype="String" /></span>
          </div>
          <div class="flexrow marginbot6">
            <label for="system.parens.value" class="bold">{{localize "arm5e.sheet.parens"}}</label>
            <span class="width2"><input type="text" name="system.parens.value" value="{{system.parens.value}}"
                data-dtype="String" /></span>
          </div>
          <div class="flexrow marginbot6">
            <label for="system.apprenticeship.value" class="bold">{{localize "arm5e.sheet.apprenticeship"}}</label>
            <span class="width2"><input type="text" name="system.apprenticeship.value"
                value="{{system.apprenticeship.value}}" data-dtype="String" /></span>
          </div>
        </div>
      </div>

      <div class="flex-group-left backSection padding12">
        <label for="system.sigil" class="smallTitle">{{localize "arm5e.sheet.sigil"}}</label>
        <div class="flex-group-left marginbot6" style="height: 140px">
          {{editor system.sigil.value target="system.sigil.value" button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>
  </div>
{{/if}} {{#if (or (eq actor.type "player") (eq actor.type "npc"))}}
  <div class="flexcol grid grid-2col">
    <div class="flex-group-left padding12 backSection">
      <label class="smallTitle">
        {{localize "arm5e.sheet.warping"}}
      </label>
      <div class="flexrow marginbot6 margintop6">
        <label for="system.warping.finalScore" class="bold">{{localize "arm5e.sheet.score"}}</label>
        <span class="marginbot6" style="margin-right: 24px"><input type="number" name="system.warping.finalScore"
            value="{{system.warping.finalScore}}" data-dtype="Number" /></span>
        <label for="system.warping.points" class="bold flex06">{{localize "arm5e.sheet.points"}}</label>
        <span class="marginbot6">
          <input type="number" name="system.warping.points" value="{{system.warping.points}}" data-dtype="Number"
            style="width: 50px" />&nbsp;/&nbsp;({{ system.warping.experienceNextLevel }})
        </span>
      </div>

      <div class="flexrow">
        <label for="system.warping.effects" class="bold">{{localize "arm5e.sheet.effects"}}</label>
      </div>
      <div class="flex-group-left marginbot6" style="height: 140px">
        {{editor system.warping.effects target="system.warping.effects" button=true owner=owner editable=editable}}
      </div>
    </div>

    <div class="flex-group-left padding12 backSection">
      {{#unless system.pendingCrisis }}
        <a class="rollable " title="Aging roll" data-roll="aging" data-year="{{system.datetime.year}}"
          style="font-size: 16pt;">
          <i class="icon-Icon_Aging2"></i>
        </a>
      {{/unless}}
      <label class="smallTitle padding12">
        {{localize "arm5e.sheet.aging"}} & {{localize "arm5e.sheet.decrepitude"}}

      </label>
      <div class="flexrow marginbot6 margintop6">
        <label for="system.decrepitude.finalScore" class="bold">{{localize "arm5e.sheet.score"}}</label>
        <span class="marginbot6" style="margin-right: 24px"><input type="text" name="system.decrepitude.finalScore"
            value="{{system.decrepitude.finalScore}}" data-dtype="Number" readonly /></span>
        <label for="system.decrepitude.points" class="bold flex06">{{localize "arm5e.sheet.points"}}</label>
        <span class="marginbot6">
          <input type="text" name="system.decrepitude.points" value="{{system.decrepitude.points}}" data-dtype="Number"
            style="width: 50px" />&nbsp;/&nbsp;({{system.decrepitude.experienceNextLevel }})
        </span>
      </div>

      <div class="flexrow">
        <label for="system.decrepitude.effects" class="bold">{{localize "arm5e.sheet.effects"}}</label>
      </div>
      <div class="flex-group-left marginbot6" style="height: 140px">
        {{editor system.decrepitude.effects target="system.decrepitude.effects" button=true owner=owner
      editable=editable}}
      </div>
    </div>
  </div>
{{/if}}

<div class="flexcol grid grid-2col margintop18">
  <div class="flex-group-left padding12 backSection">
    <label class="smallTitle">{{localize "arm5e.sheet.biography"}}</label>
    {{editor system.biography target="system.biography" button=true owner=owner editable=editable}}
  </div>

  <div>
    {{#if (eq actor.type "player")}}
      <div class="flex-group-left padding12 backSection">
        {{#each system.vitals as |vitals key|}}
          <div class="flexrow marginbot6">

            {{#if (eq key "siz")}}
              <span class="flex01 rollable" style="margin-right: 12px" data-roll="option"
                data-name="{{localize vitals.label}}" data-option1="{{ vitals.value }}"
                data-txtoption1="{{ vitals.label }}">
                <img src="/systems/arm5e/assets/dice.png" style="border: 0px; height: 18px" />
              </span>
            {{/if}}
            <label for="system.vitals.{{key}}.label" class="bold">{{vitals.label}}</label>
            <span>
              <input type="text" name="system.vitals.{{key}}.value"
                value="{{numberFormat vitals.value decimals=0 sign=true}}" data-dtype="Number" readonly />
            </span>
          </div>
        {{/each}}
      </div>
    {{/if}}

    <div class="flexcol flex-group-left padding12 backSection margintop18">
      <label class="smallTitle" style="width: 100%">{{localize "arm5e.sheet.personality"}}</label>
      <ol style="width: 100%">
        {{#each system.personality as |pers key|}}
          <li class="flexrow flex-group-left" data-attribute="{{key}}">
            <span class="flex01 rollable" style="margin-right: 12px" data-roll="option" data-physicalcondition="false"
              data-name="{{pers.label}}" data-option1="{{ pers.score }}" data-txtoption1="{{ pers.label }}">
              <img src="/systems/arm5e/assets/dice.png" style="border: 0px; height: 18px" />
            </span>
            <span class="flexrow" name="system.personality.{{key}}.label">
              <div class="flexrow">
                <input type="text" name="system.personality.{{key}}.label" value="{{pers.label}}" data-dtype="String" />
              </div>
            </span>
            <div class="flexrow">
              <span></span>
              <input type="text" name="system.personality.{{key}}.score"
                value="{{numberFormat pers.score decimals=0 sign=true}}" data-dtype="Number" />
            </div>
          </li>
        {{/each}}
      </ol>
    </div>

    <div class="flex-group-left padding12 backSection margintop18">
      {{#each system.description as |description key|}}
        <div class="flexrow marginbot6">
          {{#with (lookup @root.config.character.description key)}}
            <label for="system.description.{{key}}.label" class="bold">{{localize label}}</label>
          {{/with}}
          <span><input type="text" name="system.description.{{key}}.value" value="{{description.value}}"
              data-dtype="String" /></span>
        </div>
      {{/each}}
    </div>

    <div class="flexcol flex-group-left padding12 backSection margintop18">

      <ol style="width: 100%">
        <li class="item flexrow item-header"><label class="smallTitle"
            style="width: 100%">{{localize "arm5e.sheet.reputation"}}</label>
          <a class="item-control item-create"
            title='{{localize "arm5e.hints.create" item=(localize "arm5e.sheet.reputation")}}' data-type="reputation"><i
              class="fas fa-plus" style="margin-bottom: 12px; text-align: right;"></i></a>
        </li>
        {{log "reputations:" system.reputations}}
        {{#each system.reputations as |rep key|}}
          {{log "key:" key " -> val: " rep}}
          <li class="flexrow item flex-group-left" data-attribute="{{key}}" data-item-id="{{rep._id}}">
            <span class="flex02 rollable" style="min-width: 18px; margin-right: 12px" data-name="{{ rep.name }}"
              data-roll="option" data-physicalcondition="false" data-option1="{{ rep.system.score }}"
              data-txtoption1="{{ rep.name }}">
              <img src="/systems/arm5e/assets/dice.png" style="border: 0px; height: 18px" />
            </span>
            <span class="flexrow">
              <div class="flexrow item-control item-edit">
                <input type="text" name="system.reputations.{{key}}.name" value="{{rep.name}}" data-dtype="String"
                  readonly class="clickable" style="width: fit-content;" />
              </div>
            </span>
            <div class="flexrow">
              <label class="padding4" style="text-align: center;">
                {{localize (lookup (lookup @root.config.reputations rep.system.type) 'label')}}
              </label>
            </div>
            <div class="flexrow">
              <input type="text" name="system.reputation.{{key}}.system.score"
                value="{{numberFormat rep.system.score decimals=0 sign=true}}" data-dtype="Number"
                style="max-width: 65px;" readonly />
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
  </div>
</div>