{{!-- properties --}}
<ol class="items-list backSection">
    <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">{{localize "arm5e.sheet.properties"}}</div>
        <div class="item-controls">
            <a class="item-control item-create" title="Add property" data-type="possessionsCovenant"><i
                    class="fas fa-plus"></i></a>
        </div>
    </li>
    {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
    {{#each system.possessions as |item id|}}
        <li class="item flexrow item-value flex-center" data-name="{{item.name}}" data-attribute="{{id}}"
            data-item-id="{{item._id}}">
            <div class="flexrow flex-center">
                <span class="flexrow item-title width15">{{item.name}}</span>
                <span></span>
                <label><span class="bold">{{localize "arm5e.sheet.location"}}:</span> {{item.system.location}} </label>
                <label><span class="bold">{{localize "arm5e.sheet.dimensions"}}:</span> {{item.system.dimensions}}
                </label>
                <label><span class="bold">{{localize "arm5e.sheet.inhabitants"}}:</span> {{item.system.inhabitants}}
                </label>
            </div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Property"><i class="icon-Icon_Edit"></i></a>
                <a class="item-control item-delete" title="Delete Property"><i
                        class="icon-Icon_Delete_Hand_Gesture"></i></a>
            </div>
        </li>
    {{/each}}
</ol>

<ol class="items-list backSection margintop18">
    <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">Sanctums</div>
        <div class="item-controls">
            <a class="item-control item-create" title="Add a sanctum" data-type="labCovenant"><i
                    class="fas fa-plus"></i></a>
        </div>
    </li>
    {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
    {{#each system.labs as |item id|}}
        <li class="item flexrow item-value flex-center" data-name="{{item.name}}" data-attribute="{{id}}"
            data-item-id="{{item._id}}">
            <div class=" flexrow flex-center">
                <span class="flexrow item-title width15">{{item.name}}</span>
                <label><span class="bold">{{localize "arm5e.sheet.owner"}}: </label>{{item.system.owner}} </span>
                <label><span class="bold">{{localize "arm5e.sheet.quality"}}: </label>({{item.system.quality}}) </span>
                <label><span class="bold">{{localize "arm5e.lab.upkeep"}}: </label>({{item.system.points}}
                {{localize "arm5e.sheet.points"}}) </span>
            </div>
            <div class="item-controls">
                {{#if (eq item.system.linked true)}}
                    <a class="item-control actor-link" title="Linked to sanctum"
                        data-actorid="{{item.system.actorId}}"><i class=" fas fa-link fa-sm"></i></a>
                {{else}}
                    <a title="Not linked to sanctum"><i class="fas fa-unlink fa-sm"></i></a>
                {{/if}}
                <a class="item-control item-edit" title="Edit sanctum"><i class="icon-Icon_Edit"></i></a>
                <a class="item-control item-delete" title="Delete sanctum"><i
                        class="icon-Icon_Delete_Hand_Gesture"></i></a>
            </div>
        </li>
    {{/each}}
</ol>

{{> "systems/arm5e/templates/actor/parts/actor-weapons.html" }}
{{> "systems/arm5e/templates/actor/parts/actor-armor.html" }}
{{!-- magicItems --}}
<ol class="items-list backSection margintop18">
    <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">{{localize "arm5e.sheet.magicItems"}}</div>
        <div class="item-controls">
            <a class="item-control item-create" title="Add magicItem" data-type="magicItem"><i
                    class="fas fa-plus"></i></a>
        </div>
    </li>
    {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
    {{#each system.magicItems as |item id|}}
        <li class="item flexrow item-value flex-center" data-name="{{item.name}}" data-attribute="{{id}}"
            data-item-id="{{item._id}}">
            <div class="flexrow flex-center">
                <span class="flexrow item-title width15">{{item.name}}</span>
                <span></span>
                <span class="flexrow bold">{{localize "arm5e.sheet.creator"}}: {{item.system.creator}} </span>
                <span class="flexrow bold">{{localize "arm5e.sheet.year"}}: {{item.system.year}} </span>
            </div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit magicItem"><i class="icon-Icon_Edit"></i></a>
                <a class="item-control item-delete" title="Delete magicItem"><i
                        class="icon-Icon_Delete_Hand_Gesture"></i></a>
            </div>
        </li>
    {{/each}}
</ol>


{{!-- vis sources --}}
<ol class="items-list backSection margintop18">
    <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">{{localize "arm5e.sheet.visSources"}}</div>
        <div class="item-controls">
            <a class="item-control item-create" title="Add visSourcesCovenant" data-type="visSourcesCovenant"><i
                    class="fas fa-plus"></i></a>
        </div>
    </li>
    {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
    {{#each system.visSources as |item id|}}
        <li class="item item-value flexrow flex-center" data-name="{{item.name}}" data-attribute="{{id}}"
            data-item-id="{{item._id}}">
            <div class="flexrow flex-center">
                <span class="flexrow item-title width15">{{item.name}}</span>
                <span></span>
                <span class="flexrow bold">{{localize "arm5e.sheet.art"}}:
                    {{#with (lookup @root.config.magic.arts item.system.art)~}}{{label~}}
                    {{/with}}</span>
                <span class="flexrow bold">{{localize "arm5e.sheet.pawns"}}: {{item.system.pawns}} </span>
            </div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit visSourcesCovenant"><i class="icon-Icon_Edit"></i></a>
                <a class="item-control item-delete" title="Delete visSourcesCovenant"><i
                        class="icon-Icon_Delete_Hand_Gesture"></i></a>
            </div>
        </li>
    {{/each}}
</ol>
{{> "systems/arm5e/templates/actor/parts/actor-vis.html" }}
{{> "systems/arm5e/templates/actor/parts/actor-items.html" }}