<div class="flexrow grid grid-3col backSection">
    <div>
        <ol>
            <li class="flexrow">
                <div class=" width15"><span class="smallTitle">{{localize "arm5e.sheet.techniques"}}</span><span>
                        ({{ data.totalXPArts }}xp)</span></div>
                <label class="body">{{localize "arm5e.sheet.score"}}</label>
                <label class="body">{{localize "arm5e.sheet.experience"}}</label>
            </li>
            {{#each data.arts.techniques as |techniques key|}}
                <li class="flexrow flex-group-center" data-attribute="{{key}}">
                    <div class="flexrow flex-group-left">
                        <span class="flex01">
                            <img src="/systems/arm5e/assets/hands/{{key}}.png" style="border: 0px; height: 18px;" />
                        </span>
                        <span class="flexrow item-title rollable" name="data.arts.techniques.{{key}}.label" data-roll="magic" data-technique="{{key}}">
                            {{label}}
                        </span>
                    </div>
                    <div class="flexrow">
                        <input class="flexrow flex07" style="margin-right: 8px;" type="text" name="data.arts.techniques.{{key}}.score" value="{{techniques.score}}" data-dtype="Number">
                        <span class="flexrow">
                            <input type="text" name="data.arts.techniques.{{key}}.experience" value="{{techniques.experience}}" data-dtype="Number"> &nbsp;/ {{ techniques.experienceNextLevel }}
                        </span>
                    </div>
                </li>
            {{/each}}
        </ol>
    </div>

    <div>
        <ol>
            <li class="flexrow">
                <label class="smallTitle width15">{{localize "arm5e.sheet.forms"}}</label>
                <label class="body">{{localize "arm5e.sheet.score"}}</label>
                <label class="body">{{localize "arm5e.sheet.experience"}}</label>
            </li>
            {{#each data.arts.forms as |forms key|}}
                <li class="flexrow flex-group-center" data-attribute="{{key}}">
                    <div class="flexrow flex-group-left">
                        <a class="flex01 link" href="/systems/arm5e/pdf/spells/{{key}}.pdf" target="_blank">
                            <img src="/systems/arm5e/assets/hands/{{key}}.png" style="border: 0px; height: 18px;" />
                        </a>
                        <span class="flexrow item-title rollable" name="data.arts.forms.{{key}}.label" data-roll="magic" data-mform="{{key}}">
                            {{label}}&nbsp;({{ forms.magicResistance }})
                        </span>
                    </div>
                    <div class="flexrow">
                        <input class="flexrow flex07" style="margin-right: 8px;" type="text" name="data.arts.forms.{{key}}.score" value="{{forms.score}}" data-dtype="Number">
                        <span class="flexrow">
                            <input type="text" name="data.arts.forms.{{key}}.experience" value="{{forms.experience}}" data-dtype="Number"> &nbsp;/ {{ forms.experienceNextLevel }}
                        </span>
                    </div>
                </li>
                {{#if (eq key "he")}}
        </ol>
    </div>
    <div>
        <ol>
            <li class="flexrow">
                <label class="smallTitle width15">{{localize "arm5e.sheet.forms"}}</label>
                <label class="body">{{localize "arm5e.sheet.score"}}</label>
                <label class="body">{{localize "arm5e.sheet.experience"}}</label>
            </li>
            {{/if}}
            {{/each}}
        </ol>
    </div>
</div>

{{> "systems/arm5e/templates/actor/parts/actor-laboratoryTotals.html" show="arts" }}


<div class="flexrow backSection margintop18">
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
            <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

            <div class="item-image"></div>
            <div><span class="item-name">{{localize "arm5e.sheet.spells"}}</span><span> ({{ data.totalXPSpells }} lvl)</span>
            </div>
            <div class="item-controls">
                <a class="item-control item-create" title="Create spell" data-type="spell"><i class="fas fa-plus"></i></a>
            </div>
        </li>
        {{#each data.spells as |item id|}}
            <li class="item item-value flexrow" data-item-id="{{item._id}}" data-attribute="{{id}}">
                <div class="flexrow flex-center">
                    <span class="flexrow item-title width4 rollable" data-roll="spell" data-technique="{{item.data.technique.value}}" data-mform="{{item.data.form.value}}" data-bonus="{{ item.data.bonus }}" data-bonus2="{{ item.data.mastery }}" name="item.name">
                        {{item.name}} ( {{#with (lookup @root.metadata.magic.techniques item.data.technique.value)~}}{{label~}}
                        {{/with}}
                        {{#with (lookup @root.metadata.magic.forms item.data.form.value)~}}{{label~}}
                        {{/with}}
                        - {{item.data.level}})
                    </span>
                    <label><span class="bold">{{localize "arm5e.sheet.range"}}:</span>
                        {{#with (lookup @root.metadata.magic.ranges item.data.range.value)~}}
                            {{localize label~}}
                        {{/with}}
                    </label>
                    <label><span class="bold">{{localize "arm5e.sheet.duration"}}:</span>
                        {{#with (lookup @root.metadata.magic.durations item.data.duration.value)~}}
                            {{localize label~}}
                        {{/with}}</label>
                    <label><span class="bold">{{localize "arm5e.sheet.target"}}:</span>
                        {{#with (lookup @root.metadata.magic.targets item.data.target.value)~}}
                            {{localize label~}}
                        {{/with}}</label>
                    <label><span class="bold">{{localize "arm5e.sheet.bonus"}}:</span> {{item.data.bonus}}</label>
                </div>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit spell"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete spell"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
    </ol>
</div>

<div class="flexrow backSection margintop18">
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
            <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

            <div class="item-image"></div>
            <div><span class="item-name">{{localize "arm5e.sheet.magicalEffects"}}</span></div>
            <div class="item-controls">
                <a class="item-control item-create" title="Create magical effect" data-type="magicalEffect"><i class="fas fa-plus"></i></a>
            </div>
        </li>
        {{#each data.magicalEffects as |item id|}}
            <li class="item item-value flexrow" data-item-id="{{item._id}}" data-attribute="{{id}}">
                <div class="flexrow flex-center">
                    <span class="flexrow item-title width4 rollable" data-roll="magic" data-technique="{{item.data.technique.value}}" data-mform="{{item.data.form.value}}" data-bonus="{{ item.data.bonus }}" data-divide="2" name="item.name">
                        {{item.name}} ( {{#with (lookup @root.metadata.magic.techniques item.data.technique.value)~}}{{label~}}
                        {{/with}}
                        {{#with (lookup @root.metadata.magic.forms item.data.form.value)~}}{{label~}}
                        {{/with}}
                        - {{item.data.level}})
                    </span>
                    <label><span class="bold">{{localize "arm5e.sheet.range"}}:</span>
                        {{#with (lookup @root.metadata.magic.ranges item.data.range.value)~}}
                            {{localize label~}}
                        {{/with}}
                    </label>
                    <label><span class="bold">{{localize "arm5e.sheet.duration"}}:</span>
                        {{#with (lookup @root.metadata.magic.durations item.data.duration.value)~}}
                            {{localize label~}}
                        {{/with}}</label>
                    <label><span class="bold">{{localize "arm5e.sheet.target"}}:</span>
                        {{#with (lookup @root.metadata.magic.targets item.data.target.value)~}}
                            {{localize label~}}
                        {{/with}}</label>
                    <label><span class="bold">{{localize "arm5e.sheet.castingTotal"}}:</span> {{item.data.castingTotal}}</label>
                </div>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit spell"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete spell"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
    </ol>
</div>

{{#if (eq actor.type "npc")}}
    <div class="flexrow backSection margintop18">
        <ol class="items-list">
            <li class="item flexrow item-header">
                <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
                <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

                <div class="item-image"></div>
                <div class="item-name">{{localize "arm5e.sheet.mights"}}</div>
                <div class="item-controls">
                    <a class="item-control item-create" title="Create might" data-type="might"><i class="fas fa-plus"></i></a>
                </div>
            </li>
            {{#each data.mights as |item id|}}
                <li class="item item-value flexrow" data-item-id="{{item._id}}" data-attribute="{{id}}">
                    <div class="flexrow flex-center">
                        <span class="flexrow item-title width4" name="item.name">
                            {{item.name}}
                        </span>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit might"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete might"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
        </ol>
    </div>
{{/if}}

<div class="backSection margintop18" style="padding-bottom: 1px;">
    <div class="characteristics grid grid-2col">
        <div class="flexrow flex-group-center" style="border:0px">
            <label class="bold">{{localize "arm5e.sheet.setAbilities"}}</label>
        </div>
    </div>
    <div class="characteristics grid grid-3col">
        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.finesse.abilityID" class="bold">{{localize "arm5e.sheet.finesse"}}</label>
            <select name="data.laboratory.abilitiesSelected.finesse.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.finesse.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>

        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.awareness.abilityID" class="bold">{{localize "arm5e.sheet.awareness"}}</label>
            <select name="data.laboratory.abilitiesSelected.awareness.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.awareness.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>

        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.concentration.abilityID" class="bold">{{localize "arm5e.sheet.concentration"}}</label>
            <select name="data.laboratory.abilitiesSelected.concentration.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.concentration.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>

        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.artesLib.abilityID" class="bold">{{localize "arm5e.sheet.artesLib"}}</label>
            <select name="data.laboratory.abilitiesSelected.artesLib.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.artesLib.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>

        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.philosophy.abilityID" class="bold">{{localize "arm5e.sheet.philosophy"}}</label>
            <select name="data.laboratory.abilitiesSelected.philosophy.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.philosophy.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>

        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.parma.abilityID" class="bold">{{localize "arm5e.sheet.parma"}}</label>
            <select name="data.laboratory.abilitiesSelected.parma.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.parma.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>

        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.magicTheory.abilityID" class="bold">{{localize "arm5e.sheet.magicTheory"}}</label>
            <select name="data.laboratory.abilitiesSelected.magicTheory.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.magicTheory.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>
    </div>


</div>