<div class="backSection padding12 flex" stype="height: 150px;">
  <label class="smallTitle">{{localize "arm5e.sheet.description"}}</label>
  <div class="flexrow" style="border: 0px; height: 150px">
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
  </div>
</div>
<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
    <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.reputation"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Add reputations" data-type="reputation"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{#each data.reputations as |item id|}}
  <li class="item item-value flexrow flex-center" data-attribute="{{id}}" data-item-id="{{item._id}}">
    <div class="flexrow flex-center">
      <span class="flexrow item-title width3">{{item.name}}</span>
      <span></span>
      <span class="flexrow bold">{{localize "arm5e.sheet.points"}}: {{item.data.points}} </span>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit reputation"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete reputation"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
<div class="backSection margintop18">
  <div class="flexrow flex-group-center" style="border: 0px">
    <ol style="width: 100%">
      <li class="flexrow flex-group-left" style="border: 0px">
        <label for="data.constructionPoints.data.{{key}}.initials" class="smallTitle flex08"
          >{{localize "arm5e.sheet.constructionPoints" }}</label
        >
        <label for="data.constructionPoints.data.{{key}}.initials" class="bold flex03"
          >{{localize "arm5e.sheet.initials" }}</label
        >
        <label for="data.constructionPoints.data.{{key}}.initials" class="bold flex05"
          >{{localize "arm5e.sheet.actuals" }}</label
        >
        <label for="data.constructionPoints.data.{{key}}.initials" class="bold width2"
          >{{localize "arm5e.sheet.notes" }}</label
        >
      </li>
      {{#each data.constructionPoints.data as |data key|}}
      <li class="flexrow flex-group-left" style="border: 0px" data-attribute="{{key}}">
        <span class="flex07">
          {{#with (lookup @root.metadata.covenant.labels key)}}
          <label for="data.constructionPoints.data.{{key}}.initials" class="bold">{{localize label}}</label>
          {{/with}}
        </span>
        <span class="flex03" style="margin-right: 6px">
          <input
            type="text"
            name="data.constructionPoints.data.{{key}}.initials"
            value="{{numberFormat data.initials decimals=0 sign=true}}"
            data-dtype="Number"
          />
        </span>
        <span class="flex03" style="margin-right: 6px">
          <input
            type="text"
            name="data.constructionPoints.data.{{key}}.actuals"
            value="{{numberFormat data.actuals decimals=0 sign=true}}"
            data-dtype="Number"
          />
        </span>
        <span class="flex2">
          <input
            type="text"
            name="data.constructionPoints.data.{{key}}.notes"
            value="{{ data.notes }}"
            data-dtype="String"
          />
        </span>
      </li>
      {{/each}}
    </ol>
  </div>
</div>

{{> "systems/arm5e/templates/actor/parts/actor-virtuesFlaws.html" }}
