
{{!-- magicBooks --}}
<ol class="items-list backSection">
  <li class="item flexrow item-header">
    <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
    <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.magicBooks"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Add book" data-type="book"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{#each data.magicBooks as |item id|}}
  <li class="item item-value flexrow flex-center" data-attribute="{{id}}" data-item-id="{{item._id}}">
      <div  class="flexrow flex-center">
        <span  class="flexrow item-title width15">{{item.name}}</span>

        <span  class="flexrow bold">{{localize "arm5e.sheet.type"}}: {{#with (lookup item.data.types item.data.type.value)~}}{{label~}} 
          {{/with}}</span>
        <span  class="flexrow bold">{{localize "arm5e.sheet.level"}}: {{item.data.level}} </span>
        <span  class="flexrow bold">{{localize "arm5e.sheet.quality"}}: {{item.data.quality}} </span>
        <span  class="flexrow bold">{{localize "arm5e.sheet.art"}}: {{#with (lookup @root.metadata.arts item.data.art.value)~}}{{label~}} 
        {{/with}}</span>
      </div>  
      <div class="item-controls">
          <a class="item-control item-edit" title="Edit book"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete book"><i class="fas fa-trash"></i></a>
      </div>
  </li>
{{/each}}
</ol>


{{!-- laboratoryTexts --}}
<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
    <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.laboratoryTexts"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Add laboratoryText" data-type="laboratoryText"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{#each data.laboratoryTexts as |item id|}}
  <li class="item item-value flexrow flex-center" data-attribute="{{id}}" data-item-id="{{item._id}}">
      <div  class="flexrow flex-center">
        <span  class="flexrow item-title width15">{{item.name}} ( {{#with (lookup @root.metadata.techniques item.data.technique.value)~}}{{label~}} 
          {{/with}}
          {{#with (lookup @root.metadata.forms item.data.form.value)~}}{{label~}} 
          {{/with}} - {{item.data.level}} )</span>
      </div>  
      <div class="item-controls">
          <a class="item-control item-edit" title="Edit laboratoryText"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete laboratoryText"><i class="fas fa-trash"></i></a>
      </div>
  </li>
{{/each}}
</ol>


{{!-- mundaneBooks --}}
<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
    <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.mundaneBooks"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Add mundaneBook" data-type="mundaneBook"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{#each data.mundaneBooks as |item id|}}
  <li class="item item-value flexrow flex-center" data-attribute="{{id}}" data-item-id="{{item._id}}">
      <div  class="flexrow flex-center">
        <span  class="flexrow item-title width15">{{item.name}}</span>
        <span  class="flexrow bold">{{localize "arm5e.sheet.ability"}}: {{item.data.ability}} </span>
        <span  class="flexrow bold">{{localize "arm5e.sheet.type"}}: {{item.data.type.value}} </span>
        <span  class="flexrow bold">{{localize "arm5e.sheet.level"}}: {{item.data.level}} </span>
        <span  class="flexrow bold">{{localize "arm5e.sheet.quality"}}: {{item.data.quality}} </span>
      </div>  
      <div class="item-controls">
          <a class="item-control item-edit" title="Edit mundaneBook"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete mundaneBook"><i class="fas fa-trash"></i></a>
      </div>
  </li>
{{/each}}
</ol>
