<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.rawVis"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create vis" data-type="vis"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{#each system.rawVis as |item id|}}
    <li class="item item-value flexrow" data-name="{{item.name}}" data-item-id="{{item._id}}">
      <div class="item-image item-control item-edit"><img src="{{item.img}}" title="{{item.name}}" /></div>
      <h4 class="item-title">{{item.name}}</h4>
      <span></span>
      <span class="flexrow bold">{{localize "arm5e.sheet.art"}}:
        {{#with (lookup @root.config.magic.arts item.system.art)~}}{{label~}}
        {{/with}}
      </span>
      <span class="flexrow bold">{{localize "arm5e.sheet.pawns"}}: {{item.system.pawns}} </span>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit vis"><i class="icon-Icon_Edit"></i></a>
        <a class="item-control item-delete" title="Delete vis"><i class="icon-Icon_Delete_Hand_Gesture"></i></a>
      </div>
    </li>
  {{/each}}
</ol>

<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.items"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{#each system.items as |item id|}}
    <li class="item item-value flexrow" data-name="{{item.name}}" data-item-id="{{item._id}}">
      <div class="item-image item-control item-edit"><img src="{{item.img}}" title="{{item.name}}" /></div>
      <h4 class="item-title">{{item.name}}</h4>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit item"><i class="icon-Icon_Edit"></i></a>
        <a class="item-control item-delete" title="Delete item"><i class="icon-Icon_Delete_Hand_Gesture"></i></a>
      </div>
    </li>
  {{/each}}
</ol>