<div class="flexrow">
  {{#if (eq actor.type "player")}}
    <div class="flexcol" style="max-width: 200px;">
      <div class="flex-group-left backSection padding12">
        <label class="smallTitle">
          <a class="link" href="systems/arm5e/pdf/experience.pdf" target="_blank">
            {{localize "arm5e.sheet.pendingExperience"}}
          </a>
        </label>
        <span><input type="number" name="system.pendingXps" value="{{system.pendingXps}}" data-dtype="Number"
            style="margin-top: 12px" readonly /></span>
      </div>
    </div>
  {{/if}}
  {{#if system.isCharacter}}
    <div class="resource">
      <a class="character-schedule flex0" style="width:50px"><i class="icon-Tool_AstrolabBig"></i></a>
    </div>
  {{/if}}
</div>

<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.diary"}}</div>
    <div class="item-controls">
      <a class="item-control toggleHidden" title="Filter" data-category="events" data-list="diaryEvents"><i
          class="fas fa-sort" data-hidden="diaryEvents" {{{ui.diaryFilter}}}>
        </i>
      </a>
      <a class="item-control item-create" title="Add diary" data-type="diaryEntry"><i
          class="fas fa-plus"></i>{{localize "arm5e.sheet.action.Create"}}</a>
    </div>
  </li>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{> "systems/arm5e/templates/actor/parts/timeFilter.hbs" list="diaryEvents" visibility=ui.diaryFilterVisibility}}
  {{#each system.activities as |activity year|}}
    {{#each activity.seasons as |entries season|}}
      {{#each entries}}
        <li class="item item-value flexrow flex-center" data-name="{{name}}" data-attribute="{{id}}"
          data-item-id="{{_id}}">
          <div class="item-image item-control item-edit"><img src="{{img}}" title="{{name}}" /></div>
          <div class="flexrow flex-center">
            <span class="flexrow item-title">{{../../year}} ({{#with (lookup @root.config.seasons
              season)~}}{{localize label~}} {{/with}}) {{date}}</span>
            <div class="clickable item-edit" {{{ui.diary}}}>{{name}}
              ({{type}})</div>
            <div class="flex0 item-controls">
              <a class="item-control item-delete-confirm" title="Delete diary"><i class="icon-Icon_Delete_Hand_Gesture"
                  style="font-size:small"></i></a>
            </div>
          </div>

        </li>
      {{/each}}
    {{/each}}
  {{/each}}
</ol>