<div class="flexcol">
  <div class="flexrow   " style="min-height: 260px;">
    <div class="flexcol backSection" style="margin-right: 10px; margin-bottom: 5px;">
      <label class="smallTitle padding4 flex0" stype="height: 32px;">{{localize "arm5e.sheet.specialities"}}</label>
      {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
      <div class="flexrow padding4" style="border: 0px; height: 150px">
        {{editor system.specialties target="system.specialties" button=true owner=owner editable=editable}}
      </div>
    </div>
    <div class="flexcol backSection" style="margin-right: 10px; margin-bottom: 5px;">
      <label class="smallTitle padding4 flex0" stype="height: 32px;">{{localize "arm5e.sheet.personality"}}</label>
      {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
      <div class="flexrow padding4" style="border: 0px; height: 150px">
        {{editor system.personalities target="system.personalities" button=true owner=owner editable=editable}}
      </div>
    </div>
  </div>
  <div class="flexrow" style="min-height: 260px;">
    <div class="flexcol backSection" style="margin-right: 10px; margin-bottom: 5px;">
      <label class="smallTitle padding4 flex0" stype="height: 32px;">{{localize "arm5e.sheet.features"}}</label>
      {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
      {{editor system.features target="system.features" button=true owner=owner editable=editable}}
    </div>
    <div class="flexcol backSection" style="margin-right: 10px; margin-bottom: 5px;">

      <label class="smallTitle padding4 flex0" stype="height: 32px;">{{localize "arm5e.sheet.rooms"}}</label>
      {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
      {{editor system.rooms target="system.rooms" button=true owner=owner editable=editable}}
    </div>
  </div>

  <div class="flexrow backSection">
    <ol class="items-list">
      <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">{{localize "arm5e.sheet.specialities"}}</div>
        <div class="item-controls">
          <a class="item-control item-create" title="Create speciality" data-type="speciality"><i
              class="fas fa-plus"></i></a>
        </div>
      </li>
      {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
      {{#each system.specialities_old as |item id|}}
        <li class="item item-value flexrow" data-name="{{item.name}}" data-item-id="{{item._id}}"
          data-attribute="{{id}}">
          <div class="flexrow flex-center">
            <span class="flexrow item-title width4" name="item.name"> {{item.name}} </span>
            <label><span class="bold">{{localize "arm5e.sheet.points"}}:</span> {{item.system.points}}</label>
          </div>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit speciality"><i class="icon-Icon_Edit"></i></a>
            <a class="item-control item-delete" title="Delete v"><i class="icon-Icon_Delete_Hand_Gesture"></i></a>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
</div>

<div class="flexrow backSection margintop18">
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-image"></div>
      <div class="item-name">{{localize "arm5e.sheet.personality"}}</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create personality" data-type="personality"><i
            class="fas fa-plus"></i></a>
      </div>
    </li>
    {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
    {{#each system.personalities_old as |item id|}}
      <li class="item item-value flexrow" data-name="{{item.name}}" data-item-id="{{item._id}}" data-attribute="{{id}}">
        <div class="flexrow flex-center">
          <span class="flexrow item-title width4" data-roll="1d10+{{item.system.score}}" name="item.name">
            {{item.name}}
          </span>
          <label><span class="bold">{{localize "arm5e.sheet.points"}}:</span> {{item.system.points}}</label>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit personality"><i class="icon-Icon_Edit"></i></a>
          <a class="item-control item-delete" title="Delete personality"><i
              class="icon-Icon_Delete_Hand_Gesture"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>
</div>

<div class="flexrow backSection margintop18">
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-image"></div>
      <div class="item-name">{{localize "arm5e.sheet.features"}}</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create feature" data-type="distinctive"><i
            class="fas fa-plus"></i></a>
      </div>
    </li>
    {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
    {{#each system.distinctive as |item id|}}
      <li class="item item-value flexrow" data-name="{{item.name}}" data-item-id="{{item._id}}" data-attribute="{{id}}">
        <div class="flexrow flex-center">
          <span class="flexrow item-title width2" name="item.name"> {{item.name}} </span>
          <label><span class="bold">{{localize "arm5e.sheet.focus"}}:</span> {{item.system.foco}}</label>
          <label><span class="bold">{{localize "arm5e.sheet.speciality"}}:</span> {{item.system.speciality}}</label>
          <label><span class="bold">{{localize "arm5e.sheet.bonus.label"}}:</span> {{item.system.bonus}}</label>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit distinctive"><i class="icon-Icon_Edit"></i></a>
          <a class="item-control item-delete" title="Delete distinctive"><i
              class="icon-Icon_Delete_Hand_Gesture"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>
</div>

<div class="flexrow backSection margintop18">
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-image"></div>
      <div class="item-name">{{localize "arm5e.sheet.rooms"}}</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create rooms" data-type="sanctumRoom"><i class="fas fa-plus"></i></a>
      </div>
    </li>
    {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
    {{#each system.rooms_old as |item id|}}
      <li class="item item-value flexrow" data-name="{{item.name}}" data-item-id="{{item._id}}" data-attribute="{{id}}">
        <div class="flexrow flex-center">
          <span class="flexrow item-title width4" data-roll="1d10+{{item.system.score}}" name="item.name">
            {{item.name}}
          </span>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit rooms"><i class="icon-Icon_Edit"></i></a>
          <a class="item-control item-delete" title="Delete rooms"><i class="icon-Icon_Delete_Hand_Gesture"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>
</div>