{{> "systems/arm5e/templates/actor/parts/actor-combat.html" }}

<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
    <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

    <div class="item-image"></div>
    <div class="item-name">
      <a class="link" href="/systems/arm5e/pdf/weapons.pdf" target="_blank"> {{localize "arm5e.sheet.weapons"}} </a>
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create weapon" data-type="weapon"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{#each data.weapons as |item id|}}
  <li class="item item-value flexrow macro-ready" data-item-id="{{item._id}}">
    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
    <div class="flexrow flex-center">
      <span class="flexrow item-title">{{item.name}}</span>
      <label><span class="bold">{{localize "arm5e.sheet.initiative"}}:</span> {{item.data.init}}</label>
      <label><span class="bold">{{localize "arm5e.sheet.attack"}}:</span> {{item.data.atk}}</label>
      <label><span class="bold">{{localize "arm5e.sheet.defense"}}:</span> {{item.data.dfn}}</label>
      <label
        ><span class="bold">{{localize "arm5e.sheet.damage"}}:</span> {{item.data.dam}} (+{{
        ../data.characteristics.str.value }})</label
      >
      <span class="bold"
        ><label>{{localize "arm5e.sheet.equiped"}}:</label>
        <input type="checkbox" name="equiped" class="quick-edit" {{checked item.data.equiped}} data-dtype="Boolean" />
      </span>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit weapon"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete weapon"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>

<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
    <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.armor"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create armor" data-type="armor"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{#each data.armor as |item id|}}
  <li class="item item-value flexrow" data-item-id="{{item._id}}">
    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
    <div class="flexrow flex-center">
      <span class="flexrow item-title">{{item.name}}</span>
      <label
        ><span class="bold">{{localize "arm5e.sheet.protection"}}:</span> {{item.data.prot}} (+{{
        ../data.characteristics.sta.value }})</label
      >
      <label><span class="bold">{{localize "arm5e.sheet.weight"}}:</span> {{item.data.weight}}</label>
      <span class="bold">
        <label>{{localize "arm5e.sheet.equiped"}}:</label>
        <input type="checkbox" class="quick-edit" name="equiped" {{checked data.equiped}} data-dtype="Boolean"
      /></span>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit armor"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete armor"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>

<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
    <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.items"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{#each data.items as |item id|}}
  <li class="item item-value flexrow" data-item-id="{{item._id}}">
    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
    <h4 class="item-title">{{item.name}}</h4>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit item"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete item"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>

<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
    <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.books"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create book" data-type="book"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{#each data.books as |item id|}}
  <li class="item item-value flexrow" data-item-id="{{item._id}}">
    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
    <div class="flexrow flex-center">
      <span class="flexrow item-title">{{item.name}}</span>
      <label
        ><span class="bold">{{localize "arm5e.sheet.art"}}:</span> {{#with (lookup @root.config.magic.arts
        item.data.art.value)~}}{{label~}} {{/with}}</label
      >
      <label><span class="bold">{{localize "arm5e.sheet.type"}}:</span> {{item.data.type.value}}</label>
      <label><span class="bold">{{localize "arm5e.sheet.quality"}}:</span> {{item.data.quality}}</label>
      <label><span class="bold">{{localize "arm5e.sheet.level"}}:</span> {{item.data.level}}</label>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit book"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete book"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>

<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
    <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.rawVis"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create vis" data-type="vis"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{#each data.vis as |item id|}}
  <li class="item item-value flexrow" data-item-id="{{item._id}}">
    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
    <div class="flexrow flex-center">
      <span class="flexrow item-title">{{item.name}}</span>
      <label
        ><span class="bold">{{localize "arm5e.sheet.art"}}:</span> {{#with (lookup @root.config.magic.arts
        item.data.art.value)~}}{{label~}} {{/with}}</label
      >
      <label><span class="bold">{{localize "arm5e.sheet.pawns"}}:</span> {{item.data.pawns}}</label>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit vis"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete vis"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
