<div class="characteristics grid grid-2col backSection margintop18">
  <div class="flexrow flex-group-left">
    <label class="item-title width1">{{localize "arm5e.sheet.magic.voice"}}</label>
    <select name="system.stances.voiceStance" class=" voice-and-gestures" effect="voice">
      {{#select system.stances.voiceStance}} {{#each config.magic.mod.voice as
      |voiceType key| }}
          <option value="{{key}}" data-dtype="Number">{{localize voiceType.mnemonic}}</option>
        {{/each}} {{/select}}
    </select>
  </div>
  <div class="flexrow flex-group-left">
    <label class="item-title width1">{{localize "arm5e.sheet.magic.gestures"}}</label>
    <select name="system.stances.gesturesStance" class="voice-and-gestures" effect="gestures">
      {{#select system.stances.gesturesStance}} {{#each config.magic.mod.gestures as
      |gestureType key| }} {{!--log "key" key--}}
          <option value="{{key}}" data-dtype="Number">{{localize gestureType.mnemonic}}</option>
        {{/each}} {{/select}}
    </select>
  </div>
</div>