{{#if (eq data.charType.value "magus")}}
  <div class="flexrow flexcol">
    <div class="flexcol grid grid-2col">
      <div>
        <div class="flex-group-left backSection padding12">
          <div class="flexrow marginbot6">
            <label for="data.house.value" class="bold">{{localize "arm5e.sheet.house"}}</label>
            <span class="width2"><select name="data.house.value" data-type="String" style="width: 100%">
                {{#select data.house.value}} {{#each config.character.houses as |house key|}}
                    <option value="{{key}}">{{house.label}}</option>
                  {{/each}} {{/select}}
              </select></span>
          </div>
          <div class="flexrow marginbot6">
            <label for="data.dom-mag.label" class="bold">{{localize "arm5e.sheet.domusMagnus"}}</label>
            <span class="width2"><input type="text" name="data.dom-mag.value" value="{{data.dom-mag.value}}"
                data-dtype="String" /></span>
          </div>
          <div class="flexrow marginbot6">
            <label for="data.primus.value" class="bold">{{localize "arm5e.sheet.primus"}}</label>
            <span class="width2"><input type="text" name="data.primus.value" value="{{data.primus.value}}"
                data-dtype="String" /></span>
          </div>
          <div class="flexrow marginbot6">
            <label for="data.parens.value" class="bold">{{localize "arm5e.sheet.parens"}}</label>
            <span class="width2"><input type="text" name="data.parens.value" value="{{data.parens.value}}"
                data-dtype="String" /></span>
          </div>
          <div class="flexrow marginbot6">
            <label for="data.apprenticeship.value" class="bold">{{localize "arm5e.sheet.apprenticeship"}}</label>
            <span class="width2"><input type="text" name="data.apprenticeship.value"
                value="{{data.apprenticeship.value}}" data-dtype="String" /></span>
          </div>
        </div>
      </div>

      <div class="flex-group-left backSection padding12">
        <label for="data.sigil" class="smallTitle">{{localize "arm5e.sheet.sigil"}}</label>
        <div class="flex-group-left marginbot6" style="height: 140px">
          {{editor content=data.sigil.value target="data.sigil.value" button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>
  </div>
{{/if}} {{#if (or (eq actor.type "player") (eq actor.type "npc"))}}
  <div class="flexcol grid grid-2col">
    <div class="flex-group-left padding12 backSection">
      <label class="smallTitle">
        <a class="link" href="/systems/arm5e/pdf/warping.pdf" target="_blank"> {{localize "arm5e.sheet.warping"}} </a>
      </label>
      <div class="flexrow marginbot6 margintop6">
        <label for="data.warping.score" class="bold">{{localize "arm5e.sheet.score"}}</label>
        <span class="marginbot6" style="margin-right: 24px"><input type="number" name="data.warping.score"
            value="{{data.warping.score}}" data-dtype="String" /></span>
        <label for="data.warping.points" class="bold flex06">{{localize "arm5e.sheet.points"}}</label>
        <span class="marginbot6">
          <input type="number" name="data.warping.points" value="{{data.warping.points}}" data-dtype="String"
            style="width: 50px" />&nbsp;/&nbsp;({{ data.warping.experienceNextLevel }})
        </span>
      </div>

      <div class="flexrow">
        <label for="data.warping.effects" class="bold">{{localize "arm5e.sheet.effects"}}</label>
      </div>
      <div class="flex-group-left marginbot6" style="height: 140px">
        {{editor content=data.warping.effects target="data.warping.effects" button=true owner=owner editable=editable}}
      </div>
    </div>

    <div class="flex-group-left padding12 backSection">
      <label class="smallTitle">
        {{localize "arm5e.sheet.aging"}} & {{localize "arm5e.sheet.decrepitude"}}
        {{#unless data.pendingCrisis }}
          <a class="rollable" title="Aging roll" data-roll="aging" data-year="{{data.year.value}}"> <i
              class="fas fa-hourglass"></i></a>
        {{/unless}}
      </label>
      <div class="flexrow marginbot6 margintop6">
        <label for="data.decrepitude.finalScore" class="bold">{{localize "arm5e.sheet.score"}}</label>
        <span class="marginbot6" style="margin-right: 24px"><input type="text" name="data.decrepitude.finalScore"
            value="{{data.decrepitude.finalScore}}" data-dtype="Number" readonly /></span>
        <label for="data.decrepitude.points" class="bold flex06">{{localize "arm5e.sheet.points"}}</label>
        <span class="marginbot6">
          <input type="text" name="data.decrepitude.points" value="{{data.decrepitude.points}}" data-dtype="Number"
            style="width: 50px" />&nbsp;/&nbsp;({{data.decrepitude.experienceNextLevel }})
        </span>
      </div>

      <div class="flexrow">
        <label for="data.decrepitude.effects" class="bold">{{localize "arm5e.sheet.effects"}}</label>
      </div>
      <div class="flex-group-left marginbot6" style="height: 140px">
        {{editor content=data.decrepitude.effects target="data.decrepitude.effects" button=true owner=owner
      editable=editable}}
      </div>
    </div>
  </div>
{{/if}}

<div class="flexcol grid grid-2col margintop18">
  <div class="flex-group-left padding12 backSection">
    <label class="smallTitle">{{localize "arm5e.sheet.biography"}}</label>
    {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
  </div>

  <div>
    {{#if (eq actor.type "player")}}
      <div class="flex-group-left padding12 backSection">
        {{#each data.vitals as |vitals key|}}
          <div class="flexrow marginbot6">
            {{#with (lookup @root.config.character.vitals key)}}
              <label for="data.vitals.{{key}}.label" class="bold">{{localize label}}</label>
            {{/with}}
            <span>
              {{#if (eq key "soa")}}
                <input type="text" name="data.vitals.{{key}}.value"
                  value="{{numberFormat vitals.value decimals=0 sign=true}}" data-dtype="Number" readonly />
              {{else}}
                <input type="text" name="data.vitals.{{key}}.value"
                  value="{{numberFormat vitals.value decimals=0 sign=true}}" data-dtype="Number" />
              {{/if}}
            </span>
          </div>
        {{/each}}
      </div>
    {{/if}}

    <div class="flexcol flex-group-left padding12 backSection margintop18">
      <label class="smallTitle" style="width: 100%">{{localize "arm5e.sheet.personality"}}</label>
      <ol style="width: 100%">
        {{#each data.personality as |pers key|}}
          <li class="flexrow flex-group-left" data-attribute="{{key}}">
            <span class="flex01 rollable" style="margin-right: 12px" data-roll="option" data-usefatigue="false"
              data-option1="{{ pers.score }}" data-txtoption1="{{ pers.label }}">
              <img src="/systems/arm5e/assets/dice.png" style="border: 0px; height: 18px" />
            </span>
            <span class="flexrow" name="data.personality.{{key}}.label">
              <div class="flexrow">
                <input type="text" name="data.personality.{{key}}.label" value="{{pers.label}}" data-dtype="String" />
              </div>
            </span>
            <div class="flexrow">
              <span></span>
              <input type="text" name="data.personality.{{key}}.score"
                value="{{numberFormat pers.score decimals=0 sign=true}}" data-dtype="Number" />
            </div>
          </li>
        {{/each}}
      </ol>
    </div>

    <div class="flex-group-left padding12 backSection margintop18">
      {{#each data.description as |description key|}}
        <div class="flexrow marginbot6">
          {{#with (lookup @root.config.character.description key)}}
            <label for="data.description.{{key}}.label" class="bold">{{localize label}}</label>
          {{/with}}
          <span><input type="text" name="data.description.{{key}}.value" value="{{description.value}}"
              data-dtype="String" /></span>
        </div>
      {{/each}}
    </div>

    <div class="flexcol flex-group-left padding12 backSection margintop18">
      <label class="smallTitle" style="width: 100%">{{localize "arm5e.sheet.reputation"}}</label>
      <ol style="width: 100%">
        {{#each data.reputation as |rep key|}}
          <li class="flexrow flex-group-left" data-attribute="{{key}}">
            <span class="flex02 rollable" style="margin-right: 12px" data-roll="option" data-usefatigue="false"
              data-option1="{{ rep.score }}" data-txtoption1="{{ rep.label }}">
              <img src="/systems/arm5e/assets/dice.png" style="border: 0px; height: 18px" />
            </span>
            <span class="flexrow" name="data.reputation.{{key}}.label">
              <div class="flexrow">
                <input type="text" name="data.reputation.{{key}}.label" value="{{rep.label}}" data-dtype="String" />
              </div>
            </span>
            <div class="flexrow">
              <span></span>
              <input type="text" name="data.reputation.{{key}}.type" value="{{rep.type}}" data-dtype="String" />
            </div>
            <div class="flexrow">
              <span></span>
              <input type="text" name="data.reputation.{{key}}.score"
                value="{{numberFormat rep.score decimals=0 sign=true}}" data-dtype="Number" />
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
  </div>
</div>