<form class="{{cssClass}} arm5eRoll" autocomplete="off">
  {{> "systems/arm5e/templates/roll/parts/roll-header.html" }}
  <div class="roll-options">
    <div class="flexrow flex-group-center">
      <label class="resource-label" name="strenght" value="{{actor.data.data.characteristics.str.value}}"
        >{{localize "arm5e.sheet.strength" }} ({{ numberFormat actor.data.data.characteristics.str.value decimals=0
        sign=true }})</label
      >
    </div>

    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label" name="weapon" value="{{actor.data.data.combat.dam}}"
        >{{localize "arm5e.sheet.damage" }} ({{ numberFormat actor.data.data.combat.dam decimals=0 sign=true }})</label
      >
    </div>

    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize "arm5e.sheet.advantage" }}</label>
      <input
        type="text"
        name="advantage"
        value="{{extraData.advantage}}"
        data-dtype="Number"
        class="SelectedModifier"
      />
    </div>

    <div class="flexrow flex-group-center">
      <label class="resource-label">+</label>
    </div>

    <div class="flexrow flex-group-center">
      <label class="resource-label">{{localize "arm5e.sheet.modifier" }}</label>
      <input type="text" name="modifier" value="{{extraData.modifier}}" data-dtype="Number" class="SelectedModifier" />
    </div>
  </div>
  {{> "systems/arm5e/templates/roll/parts/roll-footer.html" }}
</form>
