<div class="backSection margintop18" style="padding-bottom: 1px;">
    <div class="characteristics">
        <div class="flexrow" style="border:0px; margin-left: 12px; padding-top: 12px;">
            <label class="bold">{{localize "arm5e.sheet.setAbilities"}}</label>
            <a class="item-control abilities-generate" title="Generate missing default abilities" data-type="ability"><i
                    class="fas fa-cog"></i></a>
        </div>
    </div>


    <div class="characteristics grid grid-3col">
        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.finesse.abilityID"
                class="bold">{{localize "arm5e.skill.arcane.finesse"}}</label>
            <select name="data.laboratory.abilitiesSelected.finesse.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.finesse.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>

        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.awareness.abilityID"
                class="bold">{{localize "arm5e.skill.general.awareness"}}</label>
            <select name="data.laboratory.abilitiesSelected.awareness.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.awareness.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>

        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.concentration.abilityID"
                class="bold">{{localize "arm5e.skill.general.concentration"}}</label>
            <select name="data.laboratory.abilitiesSelected.concentration.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.concentration.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>

        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.artesLib.abilityID"
                class="bold">{{localize "arm5e.skill.academic.artesLib"}}</label>
            <select name="data.laboratory.abilitiesSelected.artesLib.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.artesLib.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>

        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.philosophy.abilityID"
                class="bold">{{localize "arm5e.skill.academic.philosophy"}}</label>
            <select name="data.laboratory.abilitiesSelected.philosophy.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.philosophy.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>

        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.parma.abilityID"
                class="bold">{{localize "arm5e.skill.arcane.parma"}}</label>
            <select name="data.laboratory.abilitiesSelected.parma.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.parma.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>

        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.magicTheory.abilityID"
                class="bold">{{localize "arm5e.skill.arcane.magicTheory"}}</label>
            <select name="data.laboratory.abilitiesSelected.magicTheory.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.magicTheory.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>

        <div class="flexrow flex-group-center" style="border:0px">
            <label for="data.laboratory.abilitiesSelected.penetration.abilityID"
                class="bold">{{localize "arm5e.skill.arcane.penetration"}}</label>
            <select name="data.laboratory.abilitiesSelected.penetration.abilityID" data-type="String">
                {{#select data.laboratory.abilitiesSelected.penetration.abilityID }}
                    {{#each data.abilities as |ability key|}}
                        <option value="{{ability._id}}">{{ability.name}}</option>
                    {{/each}} {{/select}}
            </select>
        </div>
    </div>
</div>