<div>
  <label class="smallTitle" style="position:relative; font-size: 10pt;">{{system.characTotal}}
    {{localize "arm5e.sheet.pointsShort"}}
  </label>
  <div class="characteristics grid grid-4col" style="gap: 8px;
margin-top: -10px;">
    {{#each system.characteristics as |characteristic key|}}
      <div class="characteristic flexrow flex-group-center">
        {{#with (lookup @root.config.character.characteristics key)}}
          <label for="system.characteristics.{{key}}.value" class="resource-label rollable-aging" data-roll="char"
            data-characteristic="{{key}}">{{localize short}}</label>
        {{/with}}
        <input type="text" name="system.characteristics.{{key}}.value" class="agingPoints"
          value="{{numberFormat characteristic.value decimals=0 sign=true}}" data-dtype="Number"
          {{{characteristic.ui.style}}} title="{{characteristic.ui.title}}" />
      </div>
    {{/each}}
  </div>
</div>