<div class="flexcol grid grid-2col margintop18">
  <div class="flex-group-left backSection padding12">
    <div class="grid grid-3col">
      <label class="smallTitle">{{localize "arm5e.sheet.fatigue"}} ({{ system.fatigueTotal }})</label>
      <div>
        <a class="item-control removeFatigue" title="Remove fatigue level"><i class="fas fa-minus fa-lg"></i></a>
        <a class="item-control addFatigue" title="Add fatigue level"> <i class="fas fa-plus fa-lg"></i></a>
      </div>
      <button class="arm5e rest" style="font-family: blackmoor">{{localize "arm5e.sheet.action.rest"}}</button>
    </div>

    <ol>
      <div class="flexrow flex-between marginbot6"></div>
      {{#each system.fatigue as |fatigue key|}}
        <span class="grid grid-4col">
          {{#with (lookup @root.config.character.fatigueLevels key)}}
            <label for="config.character.fatigueLevels.{{key}}.label">{{localize label}}</label>
          {{/with}}
          <li class="flexrow" data-attribute="{{key}}">
            {{#each fatigue.levels}}
              <!-- <input type="checkbox" name="system.fatigue.{{key}}.level.value" {{checked fatigue.level.value}} /> -->
              <input type="checkbox" disabled="disabled" name="" {{checked this }} />
            {{/each}}
          </li>
          <input type="text" name="system.fatigue.{{key}}.number"
            value="{{numberFormat fatigue.number decimals=0 sign=true}}" data-dtype="Number" readonly />
          {{#with (lookup @root.config.character.fatigueLevels key)}}
            <input type="text" name="config.character.fatigueLevels.{{key}}.time" value="{{time}}" data-dtype="String"
              readonly />
          {{/with}}
        </span>
      {{/each}}
    </ol>
  </div>

  <div class="flex-group-left backSection padding12">
    <div class="flexrow">
      <label class="smallTitle">{{localize "arm5e.sheet.wounds"}} ({{ system.woundsTotal }})</label>
      <!-- <img class="clickable recovery-start" src="systems/arm5e/assets/icons/recovery.svg" title="Wounds recovery"
        style="max-width:30px" /> -->
      <!-- <a class="recovery clickable" title="Wounds recovery" style="font-size: 16pt;">
          <i class="icon-Icon_Aging2"></i>
        </a> -->
    </div>
    <div class="flexrow flex-group-left">
      <span class="flex07"><br /></span>
      <span class="bold flex07">{{localize config.character.wounds.labels.number}}</span>
      <span class="bold">{{localize config.character.wounds.labels.penalty}}</span>
      <span class="bold width15">{{localize config.character.wounds.labels.notes}}</span>
    </div>

    <ol>
      {{#each system.wounds as |wounds key|}}

        <li class="flexrow flex-group-left" data-attribute="{{key}}">
          <div class="flexrow flex-between">
            {{#with (lookup @root.config.character.wounds key)}}
              <label for="{{label}}" class="flex05" title="{{wounds.range}}">{{localize label}}</label>
            {{/with}}
            <span class="flex05">
              <input type="text" name="system.wounds.{{key}}.number.value" value="{{wounds.number.value}}"
                data-dtype="Number" class="resource-focus" />
            </span>
            <span class="flex03">
              <input type="text" name="system.wounds.{{key}}.penalty.value" value="{{wounds.penalty.value}}"
                data-dtype="Number" readonly />
            </span>
            <span class="width2">
              <input type="text" name="system.wounds.{{key}}.notes.value" value="{{wounds.notes.value}}"
                data-dtype="String" placeholder="Notes" />
            </span>
          </div>
        </li>

      {{/each}}
    </ol>
  </div>
</div>