<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header book-topic" data-topic="topic-arts">
    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.topics.arts"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create book" data-type="book"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  <div id="topic-arts" class="topic collapse">
    {{#each system.artsTopics as |item id|}}
      <li class="item item-value flexrow" data-name="{{item.book}}" data-index="{{item.index}}"
        data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.book}}" width="24" height="24" /></div>
        <div class="flexrow flex-center">
          <span class="flexrow item-title width15">{{item.book}}</span>
          <span class="flexrow bold">{{localize "arm5e.sheet.type"}}:{{item.type~}} </span>
          {{#if (eq item.type "Summa")}}
            <span class="flexrow bold">{{localize "arm5e.sheet.level"}}: {{item.level}} </span>
          {{else}}
            <span class="flexrow bold"></span>
          {{/if}}
          <span class="flexrow bold">{{localize "arm5e.sheet.quality"}}: {{item.quality}} </span>
          <span class="flexrow bold">{{localize "arm5e.sheet.art"}}: {{#with (lookup @root.config.magic.arts
        item.art)~}}{{label~}} {{/with}}</span>
        </div>
        <div class="item-controls">
          <a class="item-control book-edit" title="Edit book"><i class="icon-Icon_Edit"></i></a>
          <a class="item-control item-delete" title="Delete book"><i class="icon-Icon_Delete_Hand_Gesture"></i></a>
        </div>
      </li>
    {{/each}}
  </div>
</ol>
<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header book-topic" data-topic="topic-abilities">
    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.topics.abilities"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Add mundaneBook" data-type="book"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  <div id="topic-abilities" class="topic collapse">
    {{#each system.mundaneTopics as |item id|}}

      <li class="item item-value flexrow flex-center" data-name="{{item.book}}" data-index="{{item.index}}"
        data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.book}}" width="24" height="24" /></div>
        <div class="flexrow flex-center">
          <span class="flexrow item-title width15">{{item.book}}</span>

          {{#if (eq item.category "ability")}}
            <span class="flexrow bold">{{localize "arm5e.sheet.ability"}}:
              {{localize (lookup (lookup @root.config.ALL_ABILITIES item.key) "mnemonic") option=item.option}}
            </span>
          {{/if}}
          <div class="flexrow">
            <span class="flexrow bold">{{localize "arm5e.sheet.type"}}: {{item.type~}} </span>
            {{#if (eq item.type "Summa")}}
              <span class="flexrow bold">{{localize "arm5e.sheet.level"}}: {{item.level}} </span>
            {{else}}
              <span class="flexrow bold"></span>
            {{/if}}
            <span class="flexrow bold">{{localize "arm5e.sheet.quality"}}: {{item.quality}} </span>
          </div>
        </div>
        <div class="item-controls">
          <a class="item-control book-edit" title="Edit book"><i class="icon-Icon_Edit"></i></a>
          <a class="item-control item-delete" title="Delete book"><i class="icon-Icon_Delete_Hand_Gesture"></i></a>
        </div>
      </li>
    {{/each}}
  </div>
</ol>
<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header book-topic" data-topic="topic-masteries">
    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.topics.masteries"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Add mundaneBook" data-type="book"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  <div id="topic-masteries" class="topic collapse">
    {{#each system.masteryTopics as |item id|}}

      <li class="item item-value flexrow flex-center" data-name="{{item.book}}" data-index="{{item.index}}"
        data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.book}}" width="24" height="24" /></div>
        <div class="flexrow flex-center">
          <span class="flexrow item-title width15">{{item.book}}</span>

          <span class="flexrow bold">{{localize "arm5e.sheet.spell"}}:
            {{item.spellLabel}}
          </span>
          <div class="flexrow">
            <span class="flexrow bold">{{localize "arm5e.sheet.type"}}: {{item.type~}} </span>

            <span class="flexrow bold">{{localize "arm5e.sheet.quality"}}: {{item.quality}} </span>
          </div>
        </div>
        <div class="item-controls">
          <a class="item-control book-edit" title="Edit book"><i class="icon-Icon_Edit"></i></a>
          <a class="item-control item-delete" title="Delete book"><i class="icon-Icon_Delete_Hand_Gesture"></i></a>
        </div>
      </li>
    {{/each}}
  </div>
</ol>

{{!-- laboratoryTexts --}}
<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.laboratoryTexts"}}</div>
    <div class="item-controls">
      <a class="item-control toggleHidden" title="Filter"><i class="fas fa-sort" data-hidden="laboratoryTexts"
          data-list="laboratoryTexts" {{{ui.labTextFilter}}}>
        </i>
      </a>
      <a class="item-control item-create" title="Add laboratoryText" data-type="laboratoryText"><i
          class="fas fa-plus"></i></a>
    </div>
  </li>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{> "systems/arm5e/templates/actor/parts/hermeticFilter.html" list="laboratoryTexts" visibility=ui.labtTextFilterVisibility }}
  {{#each
  system.laboratoryTexts as |item id|}}
    <li class="item item-value flexrow flex-center" data-name="{{item.name}}" data-index="{{item.index}}"
      data-item-id="{{item.id}}">
      <div class="flexrow flex-center">
        <span class="flexrow item-title width15">
          {{localize (lookup @root.config.lab.labTextType item.system.type)~}} : {{item.name}} ( {{#with
        (lookup @root.config.magic.techniques item.system.technique.value)~}}{{label~}} {{/with}}
          {{#with (lookup @root.config.magic.forms item.system.form.value)~}}{{label~}} {{/with}} -
          {{item.system.level}} ) {{#if (eq item.system.ritual true )}} , {{localize
        "arm5e.sheet.ritual"}} {{/if}}
        </span>
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit laboratoryText"><i class="icon-Icon_Edit"></i></a>
        <a class="item-control item-delete" title="Delete laboratoryText"><i
            class="icon-Icon_Delete_Hand_Gesture"></i></a>
      </div>
    </li>
  {{/each}}
</ol>