<ol class="spell-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
    <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

    <div class="item-image"></div>
    <div>
      <span class="item-name">{{localize "arm5e.sheet.enchantments"}} </span>
      <span>( {{ system.enchantmentsCount }} )</span>
    </div>
  </li>
  {{#each system.enchantments as |enchantment id|}}
    <li class="item spell-value flexrow flex-center" data-name="{{enchantment.name}}" data-item-id="{{enchantment.id}}"
      data-item-type="{{enchantment.type}}">
      <div class="flexrow flex-center">
        <span class="flexrow spell-title design" data-name="{{enchantment.name}}">
          <!-- data-level="{{enchantment.system.baseLevel}}" data-technique="{{enchantment.system.technique.value}}" data-form="{{enchantment.system.form.value}}"-->
          {{enchantment.name}} : {{enchantment.system.localizedDesc}}
        </span>
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit enchantment"><i class="icon-Icon_Edit"></i></a>
        <a class="item-control effect-delete" title="Delete enchantment"><i
            class="icon-Icon_Delete_Hand_Gesture"></i></a>
      </div>
    </li>
  {{/each}}
</ol>