<ol class="spell-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
    <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

    <div class="item-image"></div>
    <div>
      <span class="item-name">{{localize "arm5e.sheet.spells"}} </span>
      <span>( {{ data.spellsCount }} )</span>
    </div>
  </li>
  {{#each data.spells as |spell id|}}
  <li
    class="item spell-value flexrow"
    data-name="{{spell.data.name}}"
    data-item-id="{{spell.id}}"
    data-item-type="{{spell.data.type}}"
  >
    <div class="flexrow flex-center">
      <span class="flexrow spell-title design" data-name="{{spell.data.name}}">
        <!-- data-level="{{spell.data.data.baseLevel}}" data-technique="{{spell.data.data.technique.value}}" data-form="{{spell.data.data.form.value}}"-->
        <!--div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="{{spell.img}}" title="{{item.name}}" width="24" height="24" /></a>
                        </div-->
        {{spell.data.name}} {{#if (eq spell.data.data.ritual true )}} , {{localize "arm5e.sheet.ritual"}} - {{/if}}
        {{spell.data.localizedDesc}}
      </span>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Spell"><i class="fas fa-edit"></i></a>
      <a class="item-control effect-delete" title="Delete Spell"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
