<div class="characteristics grid backSection margintop18">
  <header class="lab-total-header grid-6col flexrow flex-group-center">
    <div class="techLabel">{{localize "arm5e.sheet.labTotal"}}</div>
    {{#each data.arts.techniques as |technique key|}}
    <div class="techLabel">{{label}}</div>
    {{/each}}
  </header>
  <ol class="form-list grid-6col">
    {{#each data.arts.forms as |form key|}}
    <li class="flexrow flex-group-center" style="padding: 0px">
      <div class="formLabel flexrow flex-group-center">{{label}}</div>
      {{#each ../data.arts.techniques as |technique k2|}}
      <div class="lab-total flexrow flex-group-center">{{lookup ( lookup @root.data.labTotals key) k2}}</div>
      {{/each}}
    </li>
    {{/each}}
  </ol>
  <div class="characteristics grid grid-3col">
    <div class="flexrow flex-group-center" style="border: 0px">
      <label class="header-label">{{localize "arm5e.spell.applyFocus" }}</label>
      <input type="checkbox" name="data.labtotal.applyFocus" {{checked data.labtotal.applyFocus}} />
    </div>
    <div class="flexrow flex-group-center" style="border: 0px">
      <label class="header-label">{{localize "arm5e.sheet.aura" }}</label>
      <input type="text" name="data.labtotal.aura" value="{{numberFormat data.labtotal.aura decimals=0 sign=true }}" />
    </div>
    <div class="flexrow flex-group-center" style="border: 0px">
      <label class="header-label">{{localize "arm5e.sheet.laboratory" }} {{localize "arm5e.sheet.quality" }}</label>
      <input
        type="text"
        name="data.labtotal.quality"
        value="{{numberFormat data.labtotal.quality decimals=0 sign=true }}"
      />
    </div>
    <div class="flexrow flex-group-center" style="border: 0px">
      <label class="header-label">{{localize "arm5e.sheet.modifier" }}</label>
      <input
        type="text"
        name="data.labtotal.modifier"
        value="{{numberFormat data.labtotal.modifier decimals=0 sign=true }}"
      />
    </div>
  </div>
</div>
<div class="backSection margintop18" style="padding-bottom: 1px">
  <div class="characteristics grid grid-3col">
    <div class="flexrow flex-group-center" style="border: 0px">
      <label class="smallTitle">{{localize "arm5e.sheet.apprentice"}}</label>
    </div>

    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="data.apprentice.name" class="bold">{{localize "arm5e.sheet.name"}}</label>
      <input type="text" name="data.apprentice.name" value="{{data.apprentice.name }}" data-dtype="String" />
    </div>

    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="data.apprentice.age" class="bold">{{localize "arm5e.sheet.age"}}</label>
      <input type="text" name="data.apprentice.age" value="{{data.apprentice.age }}" data-dtype="Number" />
    </div>
  </div>

  <div class="characteristics grid grid-3col">
    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="data.apprentice.int" class="bold">{{localize "arm5e.sheet.int"}}</label>
      <input
        type="text"
        name="data.apprentice.int"
        value="{{numberFormat data.apprentice.int decimals=0 sign=true }}"
        data-dtype="Number"
      />
    </div>

    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="data.apprentice.magicTheory" class="bold">{{localize "arm5e.skill.arcane.magicTheory"}}</label>
      <input
        type="text"
        name="data.apprentice.magicTheory"
        value="{{data.apprentice.magicTheory }}"
        data-dtype="Number"
      />
    </div>

    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="data.apprentice.years" class="bold">{{localize "arm5e.sheet.years"}}</label>
      <input type="text" name="data.apprentice.years" value="{{data.apprentice.years }}" data-dtype="Number" />
    </div>
  </div>
</div>
