<div class="workbench flexrow" data-drop="workbench">
    <div class="flexcol flex02 ">
        <img class="profile-img moreinfo" src="{{owner.img}}" data-id="{{owner._id}}" title="{{owner.name}}" height="75"
            width="75" />
        {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.sheet.intelligence" 
        name="int" attributes="readonly" value=owner.system.characteristics.int.value type="number" dtype="Number"}}
        {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.skill.arcane.magicTheory" 
        name="magicTheory" attributes="readonly" value=owner.magicTheory.score type="number" dtype="Number"}}
        {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.lab.bonus.activity" 
        name="activityBonus" attributes="readonly" value=planning.activityBonus type="number" dtype="Number"}}
        {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.lab.bonus.apprentice" 
        name="apprentice" attributes="readonly" value=planning.modifiers.apprentice type="number" dtype="Number"}}
        {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.generic.other" 
        name="flags.arm5e.planning.modifiers.generic" attributes="" classes="editable" value=planning.modifiers.generic type="number" dtype="Number"}}

    </div>
    <div class="flexcol">
        <div class="flexrow flex01" style="margin-bottom: 5px; ;">
            <label class="header-label flex01"
                style="padding-right: 5px;">{{localize "arm5e.activity.activity"}}</label>
            <select class="lab-activity flex01" name="flags.arm5e.planning.type" data-dtype="String"
                data-activity="{{planning.type}}">
                {{#select flags.arm5e.planning.type}}
                    {{#each config.activities.lab as |activity key|}}
                        <option value="{{key}}" {{activity.enabled}}>{{localize activity.label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        {{#if planning.display.spellDesign}}
            <h1 class="charname flexrow flex01" style="font-size: 12pt;">
                <input name="{{namePrefix}}.name" title="{{planning.data.name}}" type="text"
                    value="{{planning.data.name}}" placeholder="Name" />
            </h1>
            <label class="resource flex01 padd">{{planning.label}}</label>
            {{> "systems/arm5e/templates/generic/metalic-bar.html" }}

            {{> "systems/arm5e/templates/item/parts/spell-design-V2.html" prefix=namePrefix spelldata=planning.data }}
        {{/if}}
        <div class="flexrow flex01">
            <div class="flexcol" style="margin-top: 10px; margin-right: 10px;">
                <label class="planning-item header-label clickable flex0 " data-item="planning-options"
                    data-persist="options">{{localize "arm5e.generic.options"}}</label>
                <div class="planning-options {{planning.visibility.options}}" id="planning-options">
                    <div class="flexrow">
                        <div class="resource flexcol flex-center">
                            <label class="header-label ">{{localize "arm5e.skill.arcane.magicTheory"}}
                                {{localize "arm5e.sheet.speciality"}}</label>
                            <input class="flex01" name="mtSpec" title="{{owner.magicTheory.speciality}}" type="text"
                                value="{{owner.magicTheory.speciality}}" readonly style="max-width: 150px" />
                            <input type="checkbox" name="flags.arm5e.planning.magicThSpecApply" {{checked
                                planning.magicThSpecApply }} />
                        </div>
                        <div class="resource flexcol flex-center flex01">
                            <label class="header-label ">{{localize "arm5e.lab.distraction.label"}}
                            </label>
                            <select name="flags.arm5e.planning.distractions" data-dtype="String"
                                style="max-height: 22px">
                                {{#select flags.arm5e.planning.distractions}}
                                    {{#each config.activities.distractions as |type key|}}
                                        <option value="{{key}}">{{localize type.label}}</option>
                                    {{/each}} {{/select}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resource flex-group-center backSection" style="margin-right: 10px;
        margin-bottom: 5px; max-height: 160px;">
            <label class="resource flex01"><u>{{localize "arm5e.generic.info"}}</u></label>
            <div class="flexcol flex01">
                <div class="flexrow flex01">
                    <div class="lab-total backSection flex-group-center ">
                        <label class="smallTitle"
                            title="{{{planning.labTotal.label}}}">{{localize "arm5e.sheet.labTotal"}}</label>
                        <div class="resource-content flexrow flex-center flex-between margintop6">
                            <input type="number" name="labTotal" value={{planning.labTotal.score}} data-dtype="Number"
                                readonly style="font-size: 14pt;" />
                        </div>
                    </div>
                    <div class="backSection" style="margin-top: 10px;">
                        <label class="resource">{{{planning.message}}}<br /></label>
                    </div>
                    <div class="flex-group-right flexcol flex0">
                        <button class="arm5e flex0 schedule" {{edition.schedule}}
                            style="font-family: bookAntiquaBold">{{localize "arm5e.lab.planning.button.schedule"}}</button>
                        <button class="arm5e flex0 refresh"
                            style="font-family: bookAntiquaBold">{{localize "arm5e.lab.planning.button.refresh"}}</button>
                        <button class="arm5e flex0 reset-planning"
                            style="font-family: bookAntiquaBold">{{localize "arm5e.lab.planning.button.reset"}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flexcol flex02">
        <div class="resource flex-group-center smallBackSection editable" style="max-height: 60px;">
            <label for="datetime.season" class="smallTitle">{{localize "arm5e.sheet.season"}}</label>
            <div class="resource-content flexrow flex-center flex-between margintop6">
                <select name="flags.arm5e.planning.date.season" data-type="String" style="width: 100%">
                    {{#select planning.date.season}} {{#each config.seasons as |season key|}}
                            <option value="{{key}}">{{localize season.label}}</option>
                        {{/each}} {{/select}}
                </select>
            </div>
        </div>
        {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.sheet.year" 
        name="flags.arm5e.planning.date.year" attributes="" classes="editable" value=planning.date.year type="number" dtype="Number"}}
        {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.sheet.aura" 
        name="flags.arm5e.planning.modifiers.aura" classes=classes.aura attributes=edition.aura value=planning.modifiers.aura type="number" dtype="Number"}}
        {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.lab.planning.labQuality" 
        name="quality" attributes="readonly" value=system.generalQuality.total type="number" dtype="Number"}}
        {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.lab.bonus.specialties" 
        name="specialty" attributes="readonly" value=planning.labSpecTotal type="number" dtype="Number"}}
        {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.sheet.duration" 
        name="duration" attributes="readonly" value=planning.duration type="number" dtype="Number"}}
    </div>
</div>