<ol class="items-list backSection">
  <li class="item flexrow item-header">
    <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>
    <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" /></div>

    <div class="item-image"></div>
    <div>
      <span class="item-name">
        <a class="link" href="/systems/arm5e/pdf/abilities.pdf" target="_blank">
          {{localize "arm5e.sheet.abilities"}}
        </a>
      </span>
      <span> ({{ data.totalXPAbilities }}xp)</span>
    </div>
    <div class="item-controls">
      <a class="item-control sortable" title="Sort" data-list="abilities"><i class="fas fa-sort"> </i> </a>
      <a class="item-control item-create" title="Add ability" data-type="ability"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{#each data.abilities as |item id|}}
  <li class="item item-value flexrow flex-center macro-ready" data-attribute="{{id}}" data-item-id="{{item._id}}">
    <div class="flexrow flex-center">
      <span
        class="flexrow item-title rollable width4"
        data-roll="ability"
        data-ability="{{item._id}}"
        data-defaultCharacteristicForAbility="{{item.data.defaultChaAb}}"
        name="item.name"
        >{{item.name}} ( {{item.data.speciality}} )</span
      >
      <label class="marginRight8">{{localize "arm5e.sheet.score"}}</label
      ><input
        type="text"
        name="item.{{id}}.finalScore"
        value="{{item.data.finalScore}}"
        readonly
        data-dtype="Number"
        {{{item.ui.style}}}
      />
      <span></span>
      <label class="marginRight8">{{localize "arm5e.sheet.experience"}}</label
      ><input
        type="text"
        name="item.{{id}}.remainingXp"
        value="{{item.data.remainingXp}} / {{ item.data.xpNextLevel }}"
        readonly
        data-dtype="Number"
      />
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit ability"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete ability"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
