<ol class="items-list backSection margintop18">
    <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">
            <a class="link" href="/systems/arm5e/pdf/weapons.pdf" target="_blank">
                {{localize "arm5e.sheet.weapons"}} </a>
        </div>
        <div class="item-controls">
            <a class="item-control item-create"
                title='{{localize "arm5e.hints.create" item=(localize "ITEM.TypeWeapon")}}' data-type="weapon"><i
                    class="fas fa-plus"></i></a>
        </div>
    </li>
    {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
    {{#each system.weapons as |item id|}}
        <li class="item item-value flexrow macro-ready" data-name="{{item.name}}" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <div class="flexrow flex-center">
                <span class="flexrow item-title">{{item.name}}</span>
                <label><span class="bold">{{localize "arm5e.sheet.initiative"}}:</span> {{item.system.init}}</label>
                <label><span class="bold">{{localize "arm5e.sheet.attack"}}:</span> {{item.system.atk}}</label>
                <label><span class="bold">{{localize "arm5e.sheet.defense"}}:</span> {{item.system.dfn}}</label>
                <label><span class="bold">{{localize "arm5e.sheet.damage"}}:</span> {{item.system.dam}} (+{{
                    ../system.characteristics.str.value }})</label>
                <span class="bold"><label>{{localize "arm5e.sheet.equiped"}}:</label>
                    <input type="checkbox" name="equiped" class="quick-edit" {{checked item.system.equiped}}
                        data-dtype="Boolean" />
                </span>
            </div>
            <div class="item-controls">
                <a class="item-control item-edit"
                    title='{{localize "arm5e.hints.edit" item=(localize "ITEM.TypeWeapon")}}'><i
                        class="icon-Icon_Edit"></i></a>
                <a class="item-control item-delete"
                    title='{{localize "arm5e.hints.delete" item=(localize "ITEM.TypeWeapon")}}'><i
                        class="icon-Icon_Delete_Hand_Gesture"></i></a>
            </div>
        </li>
    {{/each}}
</ol>