{{> "systems/arm5e/templates/actor/parts/actor-magic-attributes.html" show="laboratory" }}
<div class="backSection margintop18">
  <div class="characteristics grid grid-3col">
    <div class="flexrow flex-group-center" style="border: 0px">
      <label class="smallTitle">
        <a class="link" href="/systems/arm5e/pdf/longevityRitual.pdf" target="_blank">
          {{localize "arm5e.sheet.longevityRitual"}}
        </a>
      </label>
    </div>

    <div class="flexrow flex-group-center" style="border: 0px">
      <label class="smallTitle">
        <a class="link" href="/systems/arm5e/pdf/laboratory.pdf" target="_blank">
          {{localize "arm5e.sheet.laboratory"}}
        </a>
      </label>
    </div>
  </div>

  <div class="characteristics grid grid-2col">
    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="data.sanctum.value" class="bold">{{localize "arm5e.sheet.sanctum"}}</label>
      <input type="text" name="data.sanctum.value" value="{{data.sanctum.value }}" data-dtype="String" />
      {{#if (eq data.sanctum.linked true)}}
      <a class="item-control actor-link" title="Linked to sanctum" data-actorid="{{data.sanctum.actorId}}"
        ><i class="fas fa-link fa-sm"></i
      ></a>
      {{else}}
      <a title="Not linked to sanctum"><i class="fas fa-unlink fa-sm"></i></a>
      {{/if}}
    </div>
    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="data.laboratory.longevityRitual.labTotal" class="bold">{{localize "arm5e.sheet.labTotal"}}</label>
      <input
        type="text"
        name="data.laboratory.longevityRitual.labTotal"
        value="{{data.laboratory.longevityRitual.labTotal }}"
        data-dtype="String"
      />
    </div>

    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="data.laboratory.longevityRitual.modifier" class="bold">{{localize "arm5e.sheet.ageModifier"}}</label>
      <input
        type="text"
        name="data.laboratory.longevityRitual.modifier"
        value="{{data.laboratory.longevityRitual.modifier }}"
        data-dtype="Number"
      />
    </div>
  </div>

  <div class="flexcol">
    <div class="flex-group-left" style="border: 0px; height: 200px">
      <label class="bold">{{localize "arm5e.sheet.twilightScars"}}</label>
      {{editor content=data.laboratory.longevityRitual.twilightScars
      target="data.laboratory.longevityRitual.twilightScars" button=true owner=owner editable=editable}}
    </div>
  </div>
</div>

{{> "systems/arm5e/templates/actor/parts/actor-familiar.html" }}
