<ol class="items-list backSection">
  <li class="item flexrow item-header">
    <div class="item-image"></div>
    <div>
      <span class="item-name">
        <a class="link" href="/systems/arm5e/pdf/abilities.pdf" target="_blank">
          {{localize "arm5e.sheet.abilities"}}
        </a>
      </span>
      <span> ({{ system.totalXPAbilities }}xp)</span>
    </div>
    <div class="item-controls">
      <a class="item-control" title="Sort" data-list="abilities"><i class="fas fa-sort"> </i> </a>
      <a class="item-control item-create" title="Add ability" data-type="ability"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{log "sorted abilities " sortedAbilities}}
  {{#each sortedAbilities as |abilitySet id|}}
    {{#if abilitySet.abilities}}
      <li class="ability-category item flexrow item-header" data-category="{{id}}">
        <label style="font-size:12pt; border-bottom: 1px solid #4a4a48;">{{localize abilitySet.label }}</label>
      </li>
      <div id="{{id}}" class="collapse">
        {{#each abilitySet.abilities as |item id|}}
          <li class="item item-value flexrow flex-center macro-ready" data-name="{{item.name}}" data-attribute="{{id}}"
            data-item-id="{{item._id}}">
            <div class="flexrow flex-center">
              <span class="flexrow item-title rollable width4" data-roll="ability" data-ability="{{item._id}}"
                data-defaultcharacteristic="{{item.system.defaultChaAb}}" name="item.name">{{item.name}} (
                {{item.system.speciality}} )</span>
              <label class="marginRight8">{{localize "arm5e.sheet.score"}}</label><input type="text"
                name="item.{{id}}.finalScore" value="{{item.system.finalScore}}" readonly data-dtype="Number"
                {{{item.ui.style}}} />
              <span></span>
              <label class="marginRight8">{{localize "arm5e.sheet.experience"}}</label><input type="text"
                name="item.{{id}}.remainingXp" value="{{item.system.remainingXp}} / {{ item.system.xpNextLevel }}"
                readonly data-dtype="Number" />
            </div>
            <div class="item-controls">
              <a class="item-control item-edit" title="Edit ability"><i class="icon-Icon_Edit"></i></a>
              <a class="item-control item-delete" title="Delete ability"><i
                  class="icon-Icon_Delete_Hand_Gesture"></i></a>
            </div>
          </li>
        {{/each}}
      </div>
    {{/if}}
  {{/each}}
</ol>