{{!-- "wealth"  --}}
  <div style="border: 1px solid #999; margin-top:24px;">

    <div class="resources grid grid-2col" style="border: 0px;">
      <span style="border: 0px;">
        <label  for="data.governForm" class="header-label">{{localize "arm5e.sheet.wealth"}}</label>
      </span>
    </div>
 
    <div class="resources grid grid-2col" style="border: 0px;">
      <span style="border: 0px;">
        <label  for="data.wealth.inhabitantsPoints" class="header-label">{{localize "arm5e.sheet.inhabitantsPoints"}}</label>
        <input type="text" name="data.wealth.inhabitantsPoints" value="{{data.wealth.inhabitantsPoints}}" data-dtype="String"/>
      </span>
      <span style="border: 0px;">
        <label  for="data.wealth.totalIncome" class="header-label">{{localize "arm5e.sheet.totalIncome"}}</label>
        <input type="text" name="data.wealth.totalIncome" value="{{data.wealth.totalIncome}}" data-dtype="String"/>
      </span>
      <span style="border: 0px;">
        <label  for="data.wealth.laboratoriesPoints" class="header-label">{{localize "arm5e.sheet.laboratoriesPoints"}}</label>
        <input type="text" name="data.wealth.laboratoriesPoints" value="{{data.wealth.laboratoriesPoints}}" data-dtype="String"/>
      </span>
      <span style="border: 0px;">
        <label  for="data.wealth.baseExpenditure" class="header-label">{{localize "arm5e.sheet.baseExpenditure"}}</label>
        <input type="text" name="data.wealth.baseExpenditure" value="{{data.wealth.baseExpenditure}}" data-dtype="String"/>
      </span>
      <span style="border: 0px;">
        <label  for="data.wealth.weaponsPoints" class="header-label">{{localize "arm5e.sheet.weaponsPoints"}}</label>
        <input type="text" name="data.wealth.weaponsPoints" value="{{data.wealth.weaponsPoints}}" data-dtype="String"/>
      </span>
      <span style="border: 0px;">
        <label  for="data.wealth.costSavings" class="header-label">{{localize "arm5e.sheet.costSavings"}}</label>
        <input type="text" name="data.wealth.costSavings" value="{{data.wealth.costSavings}}" data-dtype="String"/>
      </span>
      <span style="border: 0px;">
        <br />
      </span>
      <span style="border: 0px;">
        <label  for="data.wealth.totalExpenditure" class="header-label">{{localize "arm5e.sheet.totalExpenditure"}}</label>
        <input type="text" name="data.wealth.totalExpenditure" value="{{data.wealth.totalExpenditure}}" data-dtype="String"/>
      </span>
    </div>
  
  </div>


<div style="border: 1px solid #999; margin-top:24px;">

{{!-- incomingSources --}}
<ol class="items-list backSection margintop18">
  <li class="item flexrow item-header">
    <div class="item-image"></div>
    <div class="item-name">{{localize "arm5e.sheet.incomingSources"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Add incomingSource" data-type="incomingSource"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{#each actor.data.incomingSources as |item id|}}
  <li class="item flexrow flex-center" data-attribute="{{id}}" data-item-id="{{item._id}}">
      <div  class="flexrow flex-center">
        <span  class="flexrow header-label width15">{{item.name}}</span>
        <span></span>
        <span  class="flexrow header-label">{{localize "arm5e.sheet.type"}}: {{item.data.type}} </span>
        <span  class="flexrow header-label">{{localize "arm5e.sheet.incoming"}}: {{item.data.incoming}} </span>
      </div>  
      <div class="item-controls">
          <a class="item-control item-edit" title="Edit incomingSource"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete incomingSource"><i class="fas fa-trash"></i></a>
      </div>
  </li>
{{/each}}
</ol>

</div>


{{!-- "yearExpenditure" --}}
  <div style="border: 1px solid #999; margin-top:24px;">
    <div class="flexrow flex-group-center" style="border:0px">
      <ol style="width: 100%;">
        <li class="flexrow flex-group-left" style="border:0px" data-attribute="{{key}}">
          <span>
            <label class="header-label">{{localize "arm5e.sheet.yearExpenditure" }}</label>
          </span>
        </li>
        {{#each actor.data.yearExpenditure as |data key|}}
        <li class="flexrow flex-group-left" style="border:0px" data-attribute="{{key}}">
          <span class="width2">
            <label class="header-label">{{localize data.label}} {{localize data.sumary}}</label>
          </span>
          <span class="flex05">
            <label for="data.yearExpenditure.{{key}}.expenditure" class="header-label">{{localize "arm5e.sheet.expenditure"}}</label>
            <input type="text" name="data.yearExpenditure.{{key}}.expenditure" value="{{numberFormat data.expenditure decimals=0 sign=true}}" data-dtype="Number" />
          </span>
          <span class="width2">
            <label for="data.yearExpenditure.{{key}}.notes" class="header-label">{{localize "arm5e.sheet.notes"}}</label>
            <input type="text" name="data.yearExpenditure.{{key}}.notes" value="{{data.notes}}" data-dtype="String" />
          </span>
        </li>
        {{/each}}
      </ol>
    </div>
  </div>


  {{!--   "costsSavings"    --}}
    <div style="border: 1px solid #999; margin-top:24px;">
      <div class="flexrow flex-group-center" style="border:0px">
        <ol style="width: 100%;">
          <li class="flexrow flex-group-left" style="border:0px" data-attribute="{{key}}">
            <span>
              <label class="header-label">{{localize "arm5e.sheet.costsSavings" }}</label>
            </span>
          </li>
          {{#each actor.data.costsSavings as |data key|}}
          <li class="flexrow flex-group-left" style="border:0px" data-attribute="{{key}}">
            <span class="flex07">
              <label class="header-label">{{localize data.label}} {{localize data.sumary}}</label>
            </span>
            <span class="flex05">
              <label for="data.costsSavings.{{key}}.quantity" class="header-label">{{localize "arm5e.sheet.quantity"}}</label>
              <input type="text" name="data.costsSavings.{{key}}.quantity" value="{{numberFormat data.quantity decimals=0 sign=true}}" data-dtype="Number" />
            </span>
            <span class="flex05">
              <label for="data.costsSavings.{{key}}.saving" class="header-label">{{localize "arm5e.sheet.saving"}}</label>
              <input type="text" name="data.costsSavings.{{key}}.saving" value="{{numberFormat data.saving decimals=0 sign=true}}" data-dtype="Number" />
            </span>
            <span class="width">
              <label for="data.costsSavings.{{key}}.notes" class="header-label">{{localize "arm5e.sheet.notes"}}</label>
              <input type="text" name="data.costsSavings.{{key}}.notes" value="{{data.notes}}" data-dtype="String" />
            </span>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>