<div class="characteristics grid grid-4col">
  {{#each system.characteristics as |characteristic key|}}
    <div class="characteristic flexrow flex-group-center">
      {{#with (lookup @root.config.character.characteristics key)}}
        <label for="system.characteristics.{{key}}.value" class="resource-label rollable" data-roll="char"
          data-characteristic="{{key}}">{{localize short}}</label>
      {{/with}}
      <input type="text" name="system.characteristics.{{key}}.value"
        value="{{numberFormat characteristic.value decimals=0 sign=true}}" data-dtype="Number"
        {{{characteristic.ui.style}}} title="{{characteristic.ui.title}}" />
    </div>
  {{/each}}
</div>