<div class="backSection margintop18">
  <div class="characteristics grid grid-4col">
    <div class="flexrow flex-group-center" style="border: 0px">
      <label class="smallTitle">
        <a class="link" href="systems/arm5e/pdf/familiar.pdf" target="_blank"> {{localize "arm5e.sheet.familiar"}} </a>
      </label>
    </div>
  </div>

  <div class="characteristics grid grid-4col">
    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="system.familiar.nameFam" class="bold">{{localize "arm5e.sheet.name"}}</label>
      <input type="text" name="system.familiar.nameFam" value="{{system.familiar.nameFam }}" data-dtype="String" />
    </div>

    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="system.familiar.specieFam" class="bold">{{localize "arm5e.sheet.specie"}}</label>
      <input type="text" name="system.familiar.specieFam" value="{{system.familiar.specieFam }}" data-dtype="String" />
    </div>

    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="system.familiar.techniqueFam.value" class="bold">{{localize "arm5e.sheet.technique"}}</label>
      <select name="system.familiar.techniqueFam.value" data-type="String">
        {{#select system.familiar.techniqueFam.value}} {{#each system.arts.techniques as |techniques key|}}
            <option value="{{key}}">{{techniques.label}}</option>
          {{/each}} {{/select}}
      </select>
    </div>

    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="system.familiar.formFam.value" class="bold">{{localize "arm5e.sheet.form"}}</label>
      <select name="system.familiar.formFam.value" data-type="String">
        {{#select system.familiar.formFam.value}} {{#each system.arts.forms as |techniques key|}}
            <option value="{{key}}">{{techniques.label}}</option>
          {{/each}} {{/select}}
      </select>
    </div>
  </div>

  <div class="characteristics grid grid-4col">
    <div class="flexrow flex-group-center" style="border: 0px">
      <label class="bold">{{localize "arm5e.sheet.cord"}}</label>
    </div>

    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="system.familiar.cordFam.bronze" class="bold">{{localize "arm5e.sheet.bronze"}}</label>
      <input type="text" name="system.familiar.cordFam.bronze" value="{{system.familiar.cordFam.bronze }}"
        data-dtype="Number" />
    </div>

    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="system.familiar.cordFam.silver" class="bold">{{localize "arm5e.sheet.silver"}}</label>
      <input type="text" name="system.familiar.cordFam.silver" value="{{system.familiar.cordFam.silver }}"
        data-dtype="Number" />
    </div>

    <div class="flexrow flex-group-center" style="border: 0px">
      <label for="system.familiar.cordFam.gold" class="bold">{{localize "arm5e.sheet.gold"}}</label>
      <input type="text" name="system.familiar.cordFam.gold" value="{{system.familiar.cordFam.gold }}"
        data-dtype="Number" />
    </div>
  </div>

  <div class="characteristics grid grid-4col">
    <div class="flexrow flex-group-center" style="border: 0px">
      <ol style="width: 100%">
        {{#each system.familiar.characteristicsFam as |charac key|}} {{#with (lookup @root.config.character.characteristics
        key)}}
            <li class="flexrow flex-group-left" style="border: 0px" data-attribute="{{key}}">
              <label for="system.familiar.characteristicsFam.{{key}}.value" class="bold rollable"
                data-roll="1d10+@characteristics.{{key}}.value">{{localize short}}</label>
          {{/with}}
          <input type="text" name="system.familiar.characteristicsFam.{{key}}.value"
            value="{{numberFormat charac.value decimals=0 sign=true}}" data-dtype="Number" />
          </li>
        {{/each}}
      </ol>
    </div>

    <div class="flexrow flex-group-center" style="border: 0px">
      <ol style="width: 100%">
        {{#each system.familiar.vitalsFam as |vital key|}}
          <li class="flexrow flex-group-left" style="border: 0px" data-attribute="{{key}}">
            {{#with (lookup @root.config.familiar.labels key)}}
              <label for="system.familiar.vitalsFam.{{key}}.value" class="bold rollable"
                data-roll="1d10+@vitalsFam.{{key}}.value">{{localize label}}</label>
            {{/with}}
            <input type="text" name="system.familiar.vitalsFam.{{key}}.value"
              value="{{numberFormat vital.value decimals=0 sign=true}}" data-dtype="Number" />
          </li>
        {{/each}}
      </ol>
    </div>

    <div class="flexrow flex-group-center" style="border: 0px; align-content: flex-start">
      <ol class="items-list" style="width: 100%">
        <li class="item flexrow item-header">
          <div class="item-name">{{localize "arm5e.sheet.abilities"}}</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Add abilityFamiliar" data-type="abilityFamiliar"><i
                class="fas fa-plus"></i></a>
          </div>
        </li>
        {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
        {{#each system.familiar.abilitiesFam as |ability key|}}
          <li class="item item-value flexrow" data-name="{{item.name}}" data-item-id="{{ability._id}}">
            <div class="flexrow flex-center">
              <span class="flexrow item-title rollable" data-roll="1d10+{{item.system.score}}"
                name="item.name">{{ability.name}}
              </span>
            </div>
            <div class="item-controls">
              <a class="item-control item-edit" title="Edit abilityFamiliar"><i class="icon-Icon_Edit"></i></a>
              <a class="item-control item-delete" title="Delete abilityFamiliar"><i
                  class="icon-Icon_Delete_Hand_Gesture"></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>

    <div class="flexrow flex-group-center" style="border: 0px; align-content: flex-start">
      <ol class="items-list" style="width: 100%">
        <li class="item flexrow item-header">
          <div class="item-name">{{localize "arm5e.sheet.powers"}}</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Add power" data-type="powerFamiliar"><i
                class="fas fa-plus"></i></a>
          </div>
        </li>
        {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
        {{#each system.familiar.powersFam as |power key|}}
          <li class="item item-value flexrow" data-name="{{item.name}}" data-item-id="{{power._id}}">
            <div class="flexrow flex-center">
              <span class="flexrow item-title" name="item.name">{{power.name}} </span>
            </div>
            <div class="item-controls">
              <a class="item-control item-edit" title="Edit Power"><i class="icon-Icon_Edit"></i></a>
              <a class="item-control item-delete" title="Delete Power"><i class="icon-Icon_Delete_Hand_Gesture"></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
  </div>
</div>