<div class="grid grid-2col item" data-item-id="{{system.receptacle.system._id}}">
  <div class="resource">
    <label class="header-label">{{localize "arm5e.lab.enchantment.item.material.base" }}</label>
    <select class="quick-edit" name="materialBase" data-dtype="Number">
      {{#select system.receptacle.system.materialBase}} {{#each config.lab.enchantment.materialBase as |mat key|}}
          <option value="{{mat.value}}">{{localize mat.eg}}</option>
        {{/each}} {{/select}}
    </select>
  </div>
  <div class="resource">
    <label class="header-label">{{localize "arm5e.lab.enchantment.item.size.label" }}</label>
    <select class="quick-edit" name="sizeMultiplier" data-dtype="Number">
      {{#select system.receptacle.system.sizeMultiplier}} {{#each config.lab.enchantment.sizeMultiplier as |size key|}}
          <option value="{{key}}">{{localize size.eg}}</option>
        {{/each}} {{/select}}
    </select>
  </div>
  <div class="resource">
    <label class="header-label">{{localize "arm5e.lab.enchantment.item.material.label" }}</label>
    <input type="text" class="quick-edit" name="material" value="{{system.receptacle.system.material}}"
      data-dtype="String" />
  </div>
  <div class="resource">
    <label class="header-label">{{localize "arm5e.lab.enchantment.item.material.bonus"}}</label>
    <input type="text" class="quick-edit" name="materialBonus" value="{{system.receptacle.system.materialBonus}}"
      data-dtype="Number" />
  </div>
  <div class="resource">
    <label class="header-label">{{localize "arm5e.lab.enchantment.item.shape.label"}}</label>
    <input type="text" class="quick-edit" name="shape" value="{{system.receptacle.system.shape}}" data-dtype="String" />
  </div>
  <div class="resource">
    <label class="header-label">{{localize "arm5e.lab.enchantment.item.shape.bonus"}}</label>
    <input type="text" class="quick-edit" name="shapeBonus" value="{{system.receptacle.system.shapeBonus}}"
      data-dtype="Number" />
  </div>
  <div class="resource">
    <label class="header-label">{{localize "arm5e.lab.enchantment.item.expiry.label"}}</label>
    <select class="quick-edit" name="expiry" data-dtype="Number">
      {{#select system.receptacle.system.expiry}} {{#each config.lab.enchantment.expiry as |exp key|}}
          <option value="{{key}}">{{localize exp}}</option>
        {{/each}} {{/select}}
    </select>
  </div>
  <div class="flexrow">
    <label class="header-label">{{localize "arm5e.lab.enchantment.item.charged"}}</label>
    <input type="checkbox" name="charged" class="quick-edit" {{checked system.receptacle.system.charged}}
      data-dtype="Boolean" />
    {{#if (eq system.receptacle.system.charged true )}}
      <label for="charges" class="header-label">{{localize "arm5e.lab.enchantment.item.charges"}}</label>
      <input type="text" class="quick-edit" name="charges" value="{{system.receptacle.system.charges}}"
        data-dtype="Number" />
    {{/if}}
  </div>
</div>