<div class="grid grid-2col item" data-item-id="{{data.receptacle.data._id}}">
    <div class=" resource">
        <label class="header-label">{{localize "arm5e.lab.enchantment.item.material.base" }}</label>
        <select class="quick-edit" name="materialBase" data-dtype="Number">
            {{#select data.receptacle.data.data.materialBase}}
                {{#each metadata.lab.enchantment.materialBase as |mat key|}}
                    <option value="{{mat.value}}"> {{localize mat.eg}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="resource">
        <label class="header-label">{{localize "arm5e.lab.enchantment.item.size.label" }}</label>
        <select class="quick-edit" name="sizeMultiplier" data-dtype="Number">
            {{#select data.receptacle.data.data.sizeMultiplier}}
                {{#each metadata.lab.enchantment.sizeMuliplier as |size key|}}
                    <option value="{{size.value}}"> {{localize size.eg}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="resource">
        <label class="header-label">{{localize "arm5e.lab.enchantment.item.material.label" }}</label>
        <input type="text" class="quick-edit" name="material" value="{{data.receptacle.data.data.material}}" data-dtype="String" />
    </div>
    <div class="resource">
        <label class="header-label">{{localize "arm5e.lab.enchantment.item.material.bonus"}}</label>
        <input type="text" class="quick-edit" name="materialBonus" value="{{data.receptacle.data.data.materialBonus}}" data-dtype="Number" />
    </div>
    <div class="resource">
        <label class="header-label">{{localize "arm5e.lab.enchantment.item.shape.label"}}</label>
        <input type="text" class="quick-edit" name="shape" value="{{data.receptacle.data.data.shape}}" data-dtype="String" />
    </div>
    <div class="resource">
        <label class="header-label">{{localize "arm5e.lab.enchantment.item.shape.bonus"}}</label>
        <input type="text" class="quick-edit" name="shapeBonus" value="{{data.receptacle.data.data.shapeBonus}}" data-dtype="Number" />
    </div>
    <div class="resource">
        <label class="header-label">{{localize "arm5e.lab.enchantment.item.expiry.label"}}</label>
        <select class="quick-edit" name="expiry" data-dtype="Number">
            {{#select data.receptacle.data.data.expiry}}
                {{#each metadata.lab.enchantment.expiry as |exp key|}}
                    <option value="{{key}}"> {{localize exp}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="flexrow">
        <label class="header-label">{{localize "arm5e.lab.enchantment.item.charged"}}</label>
        <input type="checkbox" name="charged" class="quick-edit" {{checked data.receptacle.data.data.charged}} data-dtype="Boolean">
        {{#if (eq data.receptacle.data.data.charged true )}}
            <label for="charges" class="header-label">{{localize "arm5e.lab.enchantment.item.charges"}}</label>
            <input type="text" class="quick-edit" name="charges" value="{{data.receptacle.data.data.charges}}" data-dtype="Number" />
        {{/if}}
    </div>
</div>