<form class="{{cssClass}} calendar calendar-sheet" autocomplete="off">
  <div class="astrolab header-background" style="width:600px; margin: 0px;">
    <img src="systems/arm5e/assets/astrolab/Astrolab_Header.png" />
  </div>
  <h1 class="astrolab-title width: 100%;" text-align="center">{{title}}</h1>
  <div class="sheet-body">
    <div class="flexrow">
      <div class="img-container"><img class="nav-arrow clickable  previous-step " data-year="{{displayYear}}"
          src=" systems/arm5e/assets/bLeft.png" style="height:20px; margin-left: 132px;" />
      </div>
      <div class="flex-center">
        <input type="number" name="displayYear" value="{{displayYear}}" data-dtype="Number"
          class="calendar change-year resource-focus" style="
        font-size: 18pt; text-align: center; width : 100px" />
      </div>
      <div class="img-container" style="height:15px"><img class="nav-arrow clickable  next-step "
          data-year="{{displayYear}}" src="systems/arm5e/assets/bRight.png" style="height:20px" />
      </div>
    </div>
    <div class="flexrow">

      <!-- <div class="calendar-field"> -->
      <div class="backSection padding6">
        <label>{{activityName}}</label>
      </div>

    </div>
    <div>
      {{> "systems/arm5e/templates/generic/calendar-grid.html"}}
    </div>
    <div class="flexrow padding12">
      <div class="flex-group-center">
        <label style="font-size: 18pt;">{{selectedCnt}} / {{activity.system.duration}}
          {{localize "arm5e.sheet.seasons"}}</label>
        <label style="color:red">
          <p>{{message}}</p>
        </label>
      </div>
      <button class="schedule-update" {{updatePossible}}
        style="max-height: 60px; max-width: 120px; font-size: 16pt; font-family: bookAntiquaBold;">{{localize "arm5e.sheet.action.update"}}</button>
    </div>
  </div>

  <div class="astrolab footer-background" style="width:600px; margin: 0px; height: 75px;">
    <img src="systems/arm5e/assets/astrolab/Astrolab_Footer.png" />
  </div>
</form>