<form class="{{cssClass}} arm5ActiveEffect" autocomplete="off">
  {{> "systems/arm5e/templates/roll/parts/roll-header.html" }}
  <!-- Effect Header -->
  <header class="sheet-header effect-options">
    <img class="effect-icon" src="{{ data.icon }}" data-edit="icon" />
    <h1 class="effect-title">{{ data.label }}</h1>
  </header>

  <!-- Effect Configuration Tabs -->
  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="details"><i class="fas fa-book"></i> {{localize "EFFECT.TabDetails"}}</a>
    <a class="item" data-tab="effects"><i class="fas fa-cogs"></i> {{localize "EFFECT.TabEffects"}}</a>
  </nav>

  <!-- Details Tab -->
  {{!-- Sheet Body --}}
  <section class="sheet-body effect-options" style="height: auto">
    <section class="tab" data-tab="details">
      <div class="form-group">
        <label>{{ localize "EFFECT.Label" }}</label>
        <div class="form-fields">
          <input type="text" name="label" value="{{ data.label }}" />
        </div>
      </div>

      <div class="form-group">
        <label>{{ localize "EFFECT.Icon" }}</label>
        <div class="form-fields">
          {{filePicker target="icon" type="image"}}
          <input class="image" type="text" name="icon" placeholder="path/image.png" value="{{data.icon}}" />
        </div>
      </div>

      <!-- <div class="form-group">
        <label>{{!-- localize "arm5e.sheet.type" --}}</label>
        <div class="form-fields">
          <select name="data.flags.arm5e.type" class="effect-type" data-type="String">

            <option value="{{this}}">TRAITS</option>
          </select>
        </div>
      </div> -->

      <!-- not sure of the use of this one -->

      <!-- <div class="form-group">
        <label>{{ localize "EFFECT.IconTint" }}</label>
        <div class="form-fields">
          <input class="color" type="text" name="tint" value="{{data.tint}}" />
          <input type="color" value="{{data.tint}}" data-edit="tint" />
        </div>
      </div> -->

      <div class="form-group">
        <label>{{ localize "EFFECT.Disabled" }}</label>
        <input type="checkbox" name="disabled" {{ checked data.disabled }} />
      </div>

      {{#if isItemEffect}}
      <div class="form-group">
        <label>{{ localize "EFFECT.Transfer" }}</label>
        <div class="form-fields">
          <input type="checkbox" name="transfer" {{checked data.transfer}} />
        </div>
      </div>
      {{/if}}
    </section>

    <!-- Effects Tab -->
    <section class="tab" data-tab="effects">
      <header class="effect-change effects-header flexrow">
        <div class="type">{{ localize "arm5e.sheet.type" }}</div>
        <div class="key">{{ localize "arm5e.sheet.attributes" }}</div>
        <div class="mode">{{ localize "arm5e.sheet.activeEffect.changeMode" }}</div>
        <div class="value">{{ localize "arm5e.sheet.activeEffect.changeValue" }}</div>
        <div class="effect-controls">
          <a class="effect-control" data-action="add"><i class="fas fa-plus"></i></a>
        </div>
      </header>
      <ol class="changes-list">
        {{#each data.changes as |change i|}}

        <li class="effect-change">
          <div class="flexrow">
            <div class="type">
              <select name="../flags.arm5e.type.{{i}}" data-type="String" class="effect-type" data-index="{{i}}">
                {{#select (lookup ../selectedTypes i)}} {{#each ../types as |type id|}}
                <option value="{{id}}">{{localize type.label}}</option>
                {{/each}} {{/select}}
              </select>
            </div>
            <div class="key">
              <select
                name="changes.{{i}}.key"
                data-subtype="{{lookup ../subtypes i}}"
                class="effect-subtype"
                data-index="{{i}}"
              >
                {{#select (lookup (lookup (lookup ../subtypes i) (lookup ../selectedSubtypes i)) "key")}} {{#each
                (lookup ../subtypes i) as |st id |}}
                <option data-subtype="{{id}}" value="{{st.key}}">{{localize st.label}}</option>
                {{/each}} {{/select}}
              </select>
              <div style="font-size: 8pt; overflow-wrap: break-word">{{#if ../devMode}}{{change.key}}{{/if}}</div>
            </div>
            <div class="mode">{{localize (concat "arm5e.sheet.activeEffect.mode_" change.mode)}}</div>
            <div class="value">
              <input type="text" name="changes.{{i}}.value" value="{{change.value}}" data-dtype="Number" />
            </div>

            <div class="effect-controls">
              <a class="effect-control" data-idx="{{i}}" data-action="delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>
          <div style="position: absolute; right: -2300px">
            <input type="text" name="changes.{{i}}.mode" value="{{change.mode}}" data-dtype="Number" readonly />
          </div>
        </li>
        {{/each}}
      </ol>
    </section>
  </section>

  <footer class="sheet-footer" style="height: auto">
    {{> "systems/arm5e/templates/roll/parts/roll-footer.html" }}
  </footer>
  <!-- <button type="submit"><i class="fas fa-save"></i> {{localize submitText}}</button> -->
</form>
