<form class="{{cssClass}} arm5eChooser" autocomplete="off">
  {{> "systems/arm5e/templates/roll/parts/roll-header.html" header="Inputs" }}
  <div style="text-align: center;">
    <label class="smallTitle" style="font-size: 16pt; ">{{label}} ( {{numberFormat value sign=true}} )</label>
  </div>
  <div class="flexrow3 backSection" style="padding: 36px">
    <div class="flexrow">
      <label>{{ localize fieldName }}</label>
      <input type="number" class="textInput resource-focus" name="inputField" value="{{aging}}"
        placeholder="{{localize placeholder}}" style="width: 100px;" />
    </div>
  </div>
  <div style="text-align: center;">
    <label></label>
  </div>
  {{> "systems/arm5e/templates/roll/parts/roll-footer.html" footer="Inputs"}}
</form>