<div class="flexrow" style="margin:10px">
  {{#each config.seasons as |season key|}}
    <div class=" flex-center">
      <label for="season" class="smallTitle" style="font-size:14pt">{{localize season.label}}</label>
    </div>
  {{/each}}
</div>
<div class="{{type}}-years flexcol">
  {{#each selectedDates }}
    <div class="backSection calendar-year flex-center flex-between">
      <label for="year" class="smallTitle" style="font-size:16pt">{{this.year}}</label>
      <div class="flexrow">
        {{#each this.seasons }}
          <div class="calendar-season flexrow" {{{this.style}}}>
            {{#if this.edition}}
              <input type="checkbox" name="" {{checked this.selected}} class="selectedSeason"
                data-year="{{../this.year}}" data-season="{{@key}}" data-selected="{{this.selected}}">
            {{/if}}
            <div class="flexrow">
              {{#each this.others}}
                <div class="vignette" data-id="{{this.id}}" {{{this.style}}}><img src="{{this.img}}"
                    title="{{this.name}}" /> </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>