<form class="{{cssClass}} calendar calendar-sheet" autocomplete="off">
  <div class="astrolab header-background" style="width:600px; margin: 0px;">
    <img src="systems/arm5e/assets/astrolab/Astrolab_Header.png" />
  </div>
  <h1 class="astrolab-title width: 100%;" text-align="center">Calendar</h1>
  <div class="sheet-body">
    {{> "systems/arm5e/templates/generic/calendar-grid.html" }}
  </div>
  <div class="astrolab footer-background" style="width:600px; margin: 0px; height: 75px;">
    <img src="systems/arm5e/assets/astrolab/Astrolab_Footer.png" />
  </div>
</form>