<form class="{{cssClass}} calendar calendar-sheet" autocomplete="off">
  <div class="astrolab header-background" style="width:600px; margin: 0px;">
    <img src="systems/arm5e/assets/astrolab/Astrolab_Header.png" />
  </div>
  <h1 class="astrolab-title width: 100%;" text-align="center">{{title}}</h1>
  <div class="sheet-body">
    <div class="flexrow">
      <div class="img-container"><img class="nav-arrow clickable  previous-step " data-year="{{displayYear}}"
          src=" systems/arm5e/assets/bLeft.png" style="height:20px" />
      </div>
      <div class="flex-center">
        <input type="number" name="displayYear" value="{{displayYear}}" data-dtype="Number"
          class="calendar change-year resource-focus" style="
        font-size: 18pt; text-align: center; width : 100px" />
      </div>
      <div class="img-container"><img class="nav-arrow clickable  next-step " data-year="{{displayYear}}"
          src="systems/arm5e/assets/bRight.png" style="height:20px" />
      </div>
    </div>
    <div class="flex-center">
      <select name="troupeFilter" class="astrolab troupeFilter"
        style="max-width:100px; background: rgba(0, 0, 0, 0.15);">
        {{#select troupeFilter}}
          <option value="players">{{localize "arm5e.sheet.players"}}</option>
          <option value="magi">{{localize "arm5e.sheet.maguss"}}</option>
          <option value="companions">{{localize "arm5e.sheet.companions"}}</option>
          <option value="grogs">{{localize "arm5e.sheet.grogs"}}</option>
          <option value="all">{{localize "arm5e.generic.all"}}</option>
          <option value="npcs">{{localize "arm5e.sheet.npcs"}}</option>
        {{/select}}
      </select>
    </div>
    <div>
      {{> "systems/arm5e/templates/generic/group-schedule-grid.html" }}
    </div>
  </div>

  <div class="astrolab footer-background" style="width:600px; margin: 0px; height: 75px;">
    <img src="systems/arm5e/assets/astrolab/Astrolab_Footer.png" />
  </div>
</form>