<div class="flex0 metalic-bar">
    <div class="flexrow">
        <div class="item-left-ball flex0" style="width: 10px; top: {{topoffset}}"><img
                src="/systems/arm5e/assets/ballSilver.png" />
        </div>
        <img src="/systems/arm5e/assets/bSilver.png" style="height: 4px; width: 90%;" class="" />

        <div class="item-right-ball flex0" style="width: 10px; top: {{topoffset}}"><img
                src="/systems/arm5e/assets/ballSilver.png" />
        </div>
    </div>
</div>