<form class="{{cssClass}} arm5eChooser" autocomplete="off">
  {{> "systems/arm5e/templates/roll/parts/roll-header.html" header="Inputs" }}
  <div class="flexrow3 backSection" style="padding: 36px">
    <div class="flex-center">
      <label>{{prompt}}</label><br />
      <label>{{ help }}</label>
    </div>
    <div class="flex-center ">
      <input type="number" class="numberInput resource-focus" name="inputField" value="{{value}}" min="{{min}}"
        max="{{max}}" step="1" style="max-width: 100px; margin-top: 10px;" />
    </div>
  </div>
  {{> "systems/arm5e/templates/roll/parts/roll-footer.html" footer="Inputs"}}
</form>