<div class="flexcol margintop18 padding6 "
  style="background-image: url(systems/arm5e/assets/chat/background.webp);background-size: cover;">
  <div class="flexrow flex-group-center">{{name}}</div>
  <div class="flex-group-left ">
    <div class="flexrow">
      <label class="smallTitle" style="min-width: 100px;">{{localize "arm5e.sheet.fatigue"}} {{#if conscious}} ({{
          actor.system.fatigueTotal
          }}) {{actor.system.fatigueCurrent}} / {{actor.system.fatigueMaxLevel}}
        {{else}} - {{localize "arm5e.sheet.unconscious" }} {{/if}}</label>
      <div class="flex0">
        <a class="item-control addFatigue flex0" title="Add fatigue level"> <i class="fas fa-plus fa-lg"></i></a>
        <a class="item-control removeFatigue flex0" title="Remove fatigue level"><i class="fas fa-minus fa-lg"></i></a>
      </div>
    </div>
    <div class="flexrow">
      <button class="arm5e clickable dialog-buttons rest paddingSide18"
        style="font-family: blackmoor">{{localize "arm5e.sheet.action.rest"}}</button>
      <button class="arm5e clickable dialog-buttons recovery paddingSide18"
        style="font-family: blackmoor">{{localize "arm5e.activity.recovery"}}</button>
    </div>
  </div>

  <div class="flex-group-center padding6">
    <label class="smallTitle">{{localize "arm5e.sheet.wounds"}} ({{ actor.system.penalties.wounds.total }})</label>
    {{#each actor.system.wounds as |wounds key|}}
      {{#unless (eq key "healthy")}}
        <div class="flexrow">
          <div class="flex-left flex01" style="padding-top: 10px; padding-left: 6px;">
            {{#with (lookup ../woundCfg key)}}
              <label for="{{label}}" class="flex01" title="{{wounds.range}}">{{localize label}}</label>
            {{/with}}
          </div>
          <div class="flexrow flex-group-right">
            <div class="flex0">
              <a class="item-control addWound flex0" title="Add wound level" data-type="{{key}}"> <i
                  class="fas fa-plus fa-lg"></i></a>
              <!-- <a class="item-control removeWound flex0" title="Remove wound level" data-type="{{key}}"><i
                class="fas fa-minus fa-lg"></i></a> -->
            </div>
            <div class="flex02 " style="padding-left: 5px;">
              <input class="wound-level" type="text" name=""
                value="{{numberFormat wounds.length decimals=0 sign=false}}" data-dtype="Number" style="width: 40px;"
                readonly />
            </div>
          </div>
        </div>
      {{/unless}}
    {{/each}}
  </div>
</div>