<div class="flexcol margintop18 padding6 "
  style="background-image: url(systems/arm5e/assets/chat/background.png);background-size: cover;">
  <div class="flexrow flex-group-center">{{name}}</div>
  <div class="flex-group-left ">
    <div class="flexrow">
      <label class="smallTitle" style="min-width: 100px;">{{localize "arm5e.sheet.fatigue"}} {{#if conscious}} ({{
          system.fatigueTotal
          }}) {{system.fatigueCurrent}} / {{system.fatigueMaxLevel}}
        {{else}} - {{localize "arm5e.sheet.unconscious" }} {{/if}}</label>
      <div class="flex0">
        <a class="item-control addFatigue flex0" title="Add fatigue level"> <i class="fas fa-plus fa-lg"></i></a>
        <a class="item-control removeFatigue flex0" title="Remove fatigue level"><i class="fas fa-minus fa-lg"></i></a>
      </div>
    </div>
    <button class="arm5e clickable dialog-buttons rest paddingSide18"
      style="font-family: blackmoor">{{localize "arm5e.sheet.action.rest"}}</button>
  </div>

  <div class="flex-group-center padding6">
    <label class="smallTitle">{{localize "arm5e.sheet.wounds"}} ({{ system.penalties.wounds.total }})</label>
    {{#each system.wounds as |wounds key|}}
      <div class="flexrow">
        <div class="flex-left flex01" style="padding-top: 10px; padding-left: 6px;">
          {{#with (lookup ../woundCfg key)}}
            <label for="{{label}}" class="flex01" title="{{wounds.range}}">{{localize label}}</label>
          {{/with}}
        </div>
        <div class="flexrow flex-group-right">
          <div class="flex0">
            <a class="item-control addWound flex0" title="Add wound level" data-type="{{key}}"> <i
                class="fas fa-plus fa-lg"></i></a>
            <a class="item-control removeWound flex0" title="Remove wound level" data-type="{{key}}"><i
                class="fas fa-minus fa-lg"></i></a>
          </div>
          <div class="flex02 " style="padding-left: 5px;">
            <input class="wound-level" type="text" name="system.wounds.{{key}}.number.value"
              value="{{numberFormat wounds.number.value decimals=0 sign=false}}" data-dtype="Number"
              style="width: 40px;" readonly />
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>