<div class="backSection padding12 margintop18"
  style="background-image: url(systems/arm5e/assets/chat/background.png);background-size: cover;">
  <form>
    <div class="flexrow flex-group-center">{{name}}</div>
    <div class="flexcol" style="gap: 0px">
      <div class="flexrow flex-group-left">
        <select class="voice-and-gestures marginsides10" effect="voice">
          {{#select system.stances.voiceStance}} {{#each config.magic.mod.voice as
        |voiceType key| }}
              <option value="{{key}}" data-dtype="Number">{{localize voiceType.mnemonic}}</option>
            {{/each}} {{/select}}
        </select>
      </div>
      <div class="flexrow flex-group-left">
        <select class="voice-and-gestures marginsides10" effect="gestures">
          {{#select system.stances.gesturesStance}} {{#each config.magic.mod.gestures as
        |gestureType key| }} {{!--log "key" key--}}
              <option value="{{key}}" data-dtype="Number">{{localize gestureType.mnemonic}}</option>
            {{/each}} {{/select}}
        </select>
      </div>
      <div class="flexrow flex-group-center">
        <select name="technique" data-dtype="String" class="SelectedTechnique marginsides10"
          style="text-align: center;">
          {{#select technique}} {{#each system.arts.techniques as |item key|}}
              <option value="{{key}}"><b>{{lookup (lookup ../config.magic.arts key) "short" }}</b> ({{ item.finalScore
                }})
              </option>
            {{/each}} {{/select}}
        </select>
        <select name="form" data-dtype="String" class="SelectedForm marginsides10" style="text-align: center;">
          {{#select form}} {{#each system.arts.forms as |item key|}}
              <option value="{{ key }}"><b>{{lookup (lookup ../config.magic.arts key) "short" }}</b> ({{ item.finalScore
                }})
              </option>
            {{/each}} {{/select}}
        </select>
      </div>
      <div class="flexrow flex-group-left">
        <button class="arm5e rollable dialog-buttons marginsides10"
          data-roll="spont">{{localize "arm5e.sheet.spontaneousMagic"}}</button>
      </div>
      <div class="flexrow flex-group-left">
        <div>
          <button class="arm5e rollable dialog-buttons marginsides10" data-roll="option"
            data-name='{{localize "arm5e.sheet.targeting.label"}}' data-option1="{{ system.characteristics.per.value }}"
            data-txtoption1='{{ localize "arm5e.sheet.perception" }}'
            data-option2="{{ system.laboratory.abilitiesSelected.finesse.value }}"
            data-txtoption2='{{ localize "arm5e.skill.arcane.finesse" }}'>{{localize "arm5e.sheet.targeting.label"}}</button>
        </div>
        <div class="flexcol flex-group-center">
          <input class="magic-total" type="text" readonly disabled
            value="{{numberFormat system.laboratory.targeting.value decimals=0 sign=true}}"
            style="max-width: 70px; font-size: 12pt;" data-dtype="Number" />
        </div>
      </div>

      <div class="flexrow flex-group-left">
        <div>
          <button class="arm5e rollable dialog-buttons marginsides10" data-roll="option"
            data-name='{{localize "arm5e.sheet.fastCastingSpeed.label"}}'
            data-option1="{{ system.characteristics.qik.value }}"
            data-txtoption1='{{ localize "arm5e.sheet.quickness" }}'
            data-option2="{{ system.laboratory.abilitiesSelected.finesse.value }}"
            data-txtoption2='{{ localize "arm5e.skill.arcane.finesse" }}'>{{localize "arm5e.sheet.fastCastingSpeed.label"}}</button>
        </div>
        <div class="flexcol flex-group-center">
          <input class="magic-total" type="text" readonly disabled
            value="{{numberFormat system.laboratory.fastCastingSpeed.value decimals=0 sign=true}}"
            style="max-width: 70px; font-size: 12pt;" data-dtype="Number" />
        </div>
      </div>

      <div class="flexrow flex-group-left">
        <div>
          <button class="arm5e rollable dialog-buttons marginsides10" data-roll="option"
            data-name='{{localize "arm5e.sheet.determiningEffect.label"}}'
            data-option1="{{ system.characteristics.per.value }}"
            data-txtoption1='{{ localize "arm5e.sheet.perception" }}'
            data-option2="{{ system.laboratory.abilitiesSelected.awareness.value }}"
            data-txtoption2='{{ localize "arm5e.skill.general.awareness" }}'>{{localize "arm5e.sheet.determiningEffect.label"}}</button>
        </div>
        <div class="flexcol flex-group-center">
          <input class="magic-total" type="text" readonly disabled
            value="{{numberFormat system.laboratory.determiningEffect.value decimals=0 sign=true}}"
            style="max-width: 70px; font-size: 12pt;" data-dtype="Number" />
        </div>
      </div>
      <div class="flexrow flex-group-left">
        <div>
          <button class="arm5e rollable dialog-buttons marginsides10" data-roll="option"
            data-name='{{localize "arm5e.skill.general.concentration"}}'
            data-option1="{{ system.characteristics.sta.value }}" data-txtoption1='{{ localize "arm5e.sheet.stamina" }}'
            data-option2="{{ system.laboratory.abilitiesSelected.concentration.value }}"
            data-txtoption2='{{ localize "arm5e.skill.general.concentration" }}'>{{localize "arm5e.skill.general.concentration"}}</button>
        </div>
        <div class="flexcol flex-group-center">
          <input class="magic-total" type="text" readonly disabled
            value="{{numberFormat system.laboratory.concentration.value decimals=0 sign=true}}"
            style="max-width: 70px; font-size: 12pt;" data-dtype="Number" />
        </div>
      </div>
    </div>
  </form>
</div>