<form class="{{cssClass}} sanatorium sanatorium-sheet" autocomplete="off">
  <div class="sanatorium header-background" style="width:600px; margin: 0px;">
    <img src="systems/arm5e/assets/sanatorium/Header_Sanatorium.png" />
  </div>
  <div class="flexrow marginsides32">
    <img class="clickable patient" src="{{patient.img}}" title="{{patient.name}}"
      style="max-height:64px; max-width:64px" />
    <h1 class="sanatorium-title width: 100%;" text-align="center">Sanatorium</h1>
  </div>
  <div class="flexrow marginsides32" style="margin-right: 16px;">
    {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.sheet.stamina" name="sta"
    attributes="readonly" value=patient.system.characteristics.sta.value type="number" dtype="Number" classes="wide"}}
    {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.sanatorium.recoveryBonus"
    name="recoveryBonus" attributes="readonly" value=modifiers.activeEffect type="number" dtype="Number" classes="wide"}}
    {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.sanatorium.mundaneHelp" 
        name="modifiers.mundaneHelp" attributes="" value=modifiers.mundaneHelp type="number" dtype="Number" classes="wide resource-focus change-mundane-help"}}
    {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.sanatorium.magicalHelp" 
        name="modifiers.magicalHelp" attributes="" value=modifiers.magicalHelp type="number" dtype="Number" classes="wide resource-focus change-magical-help"}}
    {{>"systems/arm5e/templates/generic/simpleFieldBacksection.html" label="arm5e.sanatorium.labHealth" 
        name="modifiers.labHealth" attributes="readonly" value=modifiers.labHealth type="number" dtype="Number" classes="wide"}}
  </div>
  <div class="flex-center marginsides32 marginbot6 margintop6">
    {{> "systems/arm5e/templates/generic/metalic-bar.html" topoffset="-7px" }}
  </div>
  <div class="sheet-body backSection marginsides32 " style=" min-height:367px;">

    <div class="flexcol" style="margin:10px">
      <div class="resource-content flexrow">
        <div class="resource-content flexrow flex-center flex-between margintop6">
          <label for="curSeason" class="smallTitle" style="font-size:16pt">{{localize "arm5e.sheet.season"}}</label>
          <input type="text" name="curSeason" readonly value="{{curSeasonLabel}}" data-dtype="String"
            class="sanatorium change-season resource-focus" style="
      font-size: 18pt;" />
          <!-- <select name="curSeason" disabled data-type="String" class="change-season flex0 sanatorium">
            {{#select curSeason}} {{#each seasons as |season key|}}
                <option value="{{key}}">{{localize season.label}}</option>
              {{/each}} {{/select}}
          </select> -->
        </div>
        <div class="resource-content flexrow flex-center flex-between margintop6">
          <label for="curYear" class="smallTitle" style="font-size:16pt">{{localize "arm5e.sheet.year"}}</label>
          <input type="number" name="curYear" readonly value="{{curYear}}" data-dtype="Number"
            class="sanatorium change-year resource-focus" style="
        font-size: 18pt;" />
        </div>
      </div>
      <div class="flexrow">
        <div class="flexcol" style="padding-top: 16px; padding-bottom: 12px; max-height: 300px;">
          {{#each wounds }}
            <div class="flexrow">
              {{#each this}}
                <img class="{{this.style}}" src="{{this.img}}" title="{{this.name}} +{{this.bonus}}"
                  style="max-height:48px; max-width:48px;margin:3px" />
                {{#if this.locked}}
                  <a class="" title="Locked" style="position:relative; right:14px;max-width: 0px;">
                    <i class="icon-Icon_Locked_Small"></i>
                  </a>
                {{/if}}
              {{/each}}
            </div>
          {{/each}}
        </div>
        <div class="margintop18" style="min-height:263px">
          <label class="smallTitle">{{localize "arm5e.sanatorium.log"}}</label>
          {{editor log target="log" button=false owner=owner engine="prosemirror" editable=false}}
        </div>
      </div>
    </div>
    <div class="flexrow">
      <div class="flex-center" style="max-width: 100px; margin:3px">
        <label for="availableDays" class="smallTitle"
          style="font-size:14pt">{{localize "arm5e.sanatorium.daysAvailbable"}}</label>

        <input type="number" name="availableDays" {{dateChange}} value="{{availableDays}}" data-dtype="Number"
          class="sanatorium change-available-days resource-focus" style="
        font-size: 14pt;" />
      </div>
      <div class="flex-center marginsides10" style="padding-top: 16px;">
        <label>{{daysLeftLabel}}</label>
        <div class="progressbar">
          <div class="progressbar-inner" {{{progressbarStyle}}}></div>
        </div>
      </div>
    </div>
  </div>
  <div class="flexrow marginsides32">
    <button class="sanatorium button recovery-roll" style="font-size:16pt" {{canRoll}}>
      {{localize "arm5e.sanatorium.button.recovery"}}
    </button>
    <button class="sanatorium button diary-entry" style="font-size:16pt" {{diary}}>
      {{localize "arm5e.sanatorium.button.endSeason"}}
    </button>
  </div>

  <div class="sanatorium footer-background" style="width:600px; margin: 0px; height: 75px;">
    <img src="systems/arm5e/assets/sanatorium/Footer_Sanatorium.png" />
  </div>
</form>