<div class="flexrow" style="margin:10px">
  {{#each config.seasons as |season key|}}
    <div class=" flex-center">
      <label for="season" class="smallTitle" style="font-size:14pt">{{localize season.label}}</label>
    </div>
  {{/each}}
</div>
<div style="margin-left:-10px; margin-right: -16px;">
  {{> "systems/arm5e/templates/generic/metalic-bar.html" topoffset="-7px" }}
</div>
<div class="{{type}}-years flexcol">
  {{#each selectedDates }}
    <div class="backSection calendar-year flex-center flex-between">
      <label for="year" class="smallTitle" style="font-size:16pt">{{this.year}}</label>
      <div class="flexrow">
        {{#each this.seasons }}
          <div class="calendar-season {{this.style}} flexrow item-create" data-type="diaryEntry"
            data-year="{{../this.year}}" data-season="{{@key}}" title="Create activity">
            <div class="flexrow">
              {{#each this.others}}
                <div class="vignette" data-id="{{this.id}}"><img src="{{this.img}}" title="{{this.name}}"
                    {{{this.style}}} /> </div>
              {{/each}}
              <div style="max-width: 25px; max-height: 25px; height: 25px; width: 25px;">
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>