<form class="{{cssClass}} scriptorium scriptorium-sheet" autocomplete="off">
  <div class="scriptorium flex0">
    <img src="systems/arm5e/assets/scriptorium/Scriptorium_header.png" style="border: 0px;" />
  </div>
  <h1 class="scriptorium-title width: 100%;" text-align="center">Scriptorium</h1>
  <header class="scriptorium-header flex0">
    <div class="flexrow" style="margin-left: 32px; margin-right: 57px;">
      <div class="resource-content flexrow flex-center flex-between margintop6">
        <label for="season" class="smallTitle">{{localize "arm5e.sheet.season"}}</label>
        <select name="season" data-type="String" class="change-season flex0 scriptorium">
          {{#select season}} {{#each seasons as |season key|}}
              <option value="{{key}}">{{localize season.label}}</option>
            {{/each}} {{/select}}
        </select>
      </div>
      <div class="resource-content flexrow flex-center flex-between margintop6">
        <label for="year" class="smallTitle">{{localize "arm5e.sheet.year"}}</label>
        <input type="number" name="year" value="{{year}}" data-dtype="Number"
          class="scriptorium change-year resource-focus" />
      </div>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="reading" data-group="primary">
      <div class="navItem-right-ball" style="padding-top: 4px;"><img src="systems/arm5e/assets/bLeft.png"
          style="padding-top: 12px;" /></div>
      <div class="navItem-left-ball" style="padding-top: 4px;"><img src="systems/arm5e/assets/bRight.png"
          style="padding-top: 12px;" /></div>
      {{localize "arm5e.activity.reading"}}
    </a>
    <a class="item posRelative" data-tab="writing" data-group="primary">
      <div class="navItem-right-ball" style="padding-top: 4px;"><img src="systems/arm5e/assets/bLeft.png"
          style="padding-top: 12px;" /></div>
      <div class="navItem-left-ball" style="padding-top: 4px;"><img src="systems/arm5e/assets/bRight.png"
          style="padding-top: 12px;" /></div>
      {{localize "arm5e.activity.writing"}}
    </a>
    <!-- 
    <a class="item posRelative" data-tab="other" data-group="primary">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" style="padding-top: 4px;" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" style="padding-top: 4px;" /></div>
      {{localize "arm5e.generic.other"}}
    </a>
    <a class="item posRelative" data-tab="index" data-group="primary">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" style="padding-top: 4px;" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" style="padding-top: 4px;" /></div>
      {{localize "arm5e.scriptorium.index"}}
    </a> -->

  </nav>
  <div class="marginsides32">
    {{> "systems/arm5e/templates/generic/metalic-bar.html" topoffset="-7px" }}
  </div>
  {{!-- Sheet Body --}}

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="reading">
      <div style="min-height: 418px;">
        <div class="flexcol marginsides32">
          <div class="padding4 flexrow flex-group-left">
            <label class="section-handle header-label clickable" data-section="book-read"
              data-category="scriptorium">{{localize "arm5e.sheet.book"}}</label>
          </div>
          <!-- READING - BOOK -->
          <div
            class="scriptorium foldable-section backSection padding10 resource flexcol {{@root.ui.sections.visibility.scriptorium.book-read}}"
            id="scriptorium-book-read">
            {{#if (eq reading.book.uuid null)}}
              <div class="drop-box drop-book" data-drop="book">
                <label>{{localize "arm5e.scriptorium.msg.dropBook"}}</label>
              </div>
            {{else}}
              <div class="scriptorium item-header resource flexrow" style="width: 100%;">
                <div class="item-image"></div>
                <label>{{localize "arm5e.sheet.book"}}</label>
                <a class="modifier unlink-read-book" title="Break link to book" data-index="{{topicIndex}}"><i
                    class="fas fa-link" style="font-size: 12pt;"></i></a>
              </div>
              {{> "systems/arm5e/templates/generic/metalic-bar.html" topoffset="-7px" }}
            {{/if}}
            <div class="scriptorium item-header resource">
              <label class="header-label">{{localize "arm5e.activity.book.title"}}</label>
              <input type="text" name="reading.book.name" value="{{reading.book.name}}" data-dtype="String"
                {{ui.canEditBook}}>
              <label class="header-label">{{localize "arm5e.sheet.authorship.author"}}</label>
              <input type="text" name="reading.book.system.topics.{{topicIndex}}.author"
                value="{{reading.book.currentTopic.author}}" data-dtype="String" {{ui.canEditBook}}>

            </div>
            <div class="flexrow">
              <div class="flexcol">
                <div class="scriptorium item-header resource">
                  <label class="header-label">{{localize "arm5e.sheet.authorship.language"}}</label>
                  <input type="text" name="reading.book.system.topics.{{topicIndex}}.language"
                    value="{{reading.book.currentTopic.language}}" data-dtype="String" {{ui.canEditBook}}
                    style="max-width: 150px;">
                </div>
                <div class="scriptorium item-header resource">
                  <label class="header-label">{{localize "arm5e.sheet.bookTopic"}}</label>
                  <select class="book-topic-change reading" name="reading.book.system.topics.{{topicIndex}}.category"
                    data-index="{{topicIndex}}" data-activity="reading" data-dtype="String" {{ui.disabledBook}}>
                    {{#select reading.book.currentTopic.category}}
                      {{#each bookTopics as |book key|}}
                        <option value="{{key}}">{{localize book}}</option>
                      {{/each}}
                      <option value="labText" disabled>{{localize "ITEM.TypeLaboratorytext"}}</option>
                    {{/select}}
                  </select>
                  {{#unless (eq reading.book.currentTopic.category "labText")}}
                    <label for="reading.book.system.topics.{{topicIndex}}.type"
                      class="header-label">{{localize "arm5e.sheet.bookType"}}</label>
                    <select name="reading.book.system.topics.{{topicIndex}}.type" data-type="String"
                      data-index="{{topicIndex}}" {{ui.disabledBook}} {{ui.reading.disableType}}>
                      {{#select reading.book.currentTopic.type}} {{#each @root.bookTypes }}
                          <option value="{{this}}">{{this}}</option>
                        {{/each}}
                      {{/select}}
                    </select>
                  {{/unless}}
                </div>
              </div>
              {{#unless (eq topicNum 1)}}
                <div class="flexrow" style="max-width: 180px;">
                  <div class="img-container"><img class="nav-arrow previous-topic clickable" data-index="{{topicIndex}}"
                      src="systems/arm5e/assets/bLeft.png" />
                  </div>
                  <div style="align-items:center;justify-content: center;display: flex;">
                    <label>{{localize "arm5e.sheet.topics.current" current=currentTopicNumber total=topicNum}}</label>
                  </div>
                  <div class="img-container"><img class="nav-arrow next-topic clickable" data-index="{{topicIndex}}"
                      src="systems/arm5e/assets/bRight.png" /></div>
                </div>
              {{/unless}}
            </div>
            <div class="scriptorium resource">
              {{#unless (eq reading.book.currentTopic.category "labText")}}
                <fieldset>
                  <legend>{{localize "arm5e.generic.params"}}</legend>
                  {{#if (eq reading.book.currentTopic.category "ability")}}
                    <div class="scriptorium item-header resource flexrow">
                      <div>
                        <label for="reading.book.system.topics.{{topicIndex}}.key"
                          class="header-label">{{localize "arm5e.sheet.skill.abilityKey"}}</label>
                        <select name="reading.book.system.topics.{{topicIndex}}.key" data-dtype="String"
                          class="ability-key" {{ui.disabledBook}} style="max-width: 180px;">
                          {{#select reading.book.currentTopic.key}}
                            {{#each abilityKeysList as |item key|}}
                              <option value="{{key}}" {{item.selection}}>{{item.label}}</option>
                            {{/each}}
                          {{/select}}
                        </select>
                      </div>
                      <div>
                        {{#if (lookup (lookup abilityKeysList reading.book.currentTopic.key) "option")}}
                          <label for="reading.book.system.topics.{{topicIndex}}.option"
                            class="header-label">{{localize "arm5e.sheet.skill.abilityOption"}}</label>
                          <input type="text" class="ability-option"
                            name="reading.book.system.topics.{{topicIndex}}.option"
                            value='{{reading.book.currentTopic.option}}' {{ui.canEditBook}} style="max-width: 180px;" />
                        {{else}}
                          <!-- <label for="reading.book.system.topics.{{topicIndex}}.option" class="header-label"
                            style="color: gray">{{localize "arm5e.sheet.skill.abilityOption"}}</label> -->
                          <input type="text" name="reading.book.system.topics.{{topicIndex}}.option" data-dtype="String"
                            value="" hidden {{ui.canEditBook}} style="max-width: 150px;" />
                        {{/if}}
                      </div>
                    </div>
                  {{/if}}
                  {{#if (eq reading.book.currentTopic.category "art")}}
                    <div class="resource" style="width: 220px; padding-top: 5px;">
                      <label for="reading.book.system.topics.{{topicIndex}}.art"
                        class="header-label">{{localize "arm5e.sheet.art"}}</label>
                      <select name="reading.book.system.topics.{{topicIndex}}.art" data-type="String"
                        {{ui.disabledBook}}>
                        {{#select reading.book.currentTopic.art}} {{#each arts as |art key|}}
                            <option value="{{key}}">{{art.label}}</option>
                          {{/each}} {{/select}}
                      </select>
                    </div>
                  {{/if}}
                  {{#if (eq reading.book.currentTopic.category "mastery")}}
                    <div class="scriptorium resource">
                      <label for="reading.book.system.topics.{{topicIndex}}.spellName"
                        class="header-label">{{localize "arm5e.sheet.spell"}}</label>
                      <input type="text" name="reading.book.system.topics.{{topicIndex}}.spellName"
                        value='{{reading.book.currentTopic.spellName}}' {{ui.canEditBook}} />
                    </div>
                    <div class="scriptorium resource">
                      <select name="reading.book.system.topics.{{topicIndex}}.spellTech" data-type="String"
                        {{ui.disabledBook}}>
                        {{#select reading.book.currentTopic.spellTech}} {{#each techs as |tech key|}}
                            <option value="{{key}}">{{tech.label}}</option>
                          {{/each}} {{/select}}
                      </select>
                      <select name="reading.book.system.topics.{{topicIndex}}.spellForm" data-type="String"
                        {{ui.disabledBook}}>
                        {{#select reading.book.currentTopic.spellForm}} {{#each forms as |form key|}}
                            <option value="{{key}}">{{form.label}}</option>
                          {{/each}} {{/select}}
                      </select>
                    </div>
                  {{/if}}
                  <div class="scriptorium item-header resource">
                    {{#if (eq reading.book.currentTopic.type "Summa")}}
                      <label class="header-label">{{localize "arm5e.sheet.level"}}</label>
                      <input type="number" name="reading.book.system.topics.{{topicIndex}}.level"
                        value='{{reading.book.currentTopic.level}}' data-dtype="Number" style="max-width: 50px;"
                        {{ui.canEditBook}}>
                    {{/if}}
                    <label class="header-label">{{localize "arm5e.sheet.quality"}}</label>
                    <input type="number" name="reading.book.system.topics.{{topicIndex}}.quality"
                      value='{{reading.book.currentTopic.quality}}' data-dtype="Number" style="max-width: 50px;"
                      {{ui.canEditBook}}>
                  </div>
                </fieldset>
              {{/unless}}
            </div>
          </div>
          <div class="padding4 flexrow flex-group-left">
            <label class="section-handle header-label clickable" data-section="reader"
              data-category="scriptorium">{{localize "arm5e.scriptorium.reader.title"}}</label>
          </div>
          <!-- READING - READER -->
          <div
            class="scriptorium foldable-section backSection resource flexcol  {{@root.ui.sections.visibility.scriptorium.reader}}"
            style="margin-left: 5px;" id="scriptorium-reader">
            {{#if (eq reading.reader.id null)}}
              <div class="drop-box drop-reader" data-drop="reader">
                <label>{{localize "arm5e.scriptorium.msg.dropCharacter"}}</label>
              </div>
            {{else}}
              <div class="scriptorium item-header resource flexrow" style="width: 100%; max-height: 32px;">
                <div class="item-image"></div>
                <label>{{localize "arm5e.scriptorium.reader.title"}}</label>
                <a class="unlink-reader" title="Break link to reader"><i class="fas fa-link"
                    style="font-size: 12pt;"></i></a>
              </div>
              {{> "systems/arm5e/templates/generic/metalic-bar.html" topoffset="-7px"}}
            {{/if}}
            {{#unless (eq reading.reader.id null)}}
              <div class="scriptorium resource">
                <label class="header-label">{{localize "arm5e.scriptorium.reader.name"}}</label>
                <input type="text" name="reading.reader.name" value="{{reading.reader.name}}" data-dtype="String"
                  style="max-width: 220px;" readonly>
              </div>
              <div class="scriptorium resource">
                <label for="reading.reader.language"
                  class="header-label">{{localize "arm5e.scriptorium.reader.languages"}}</label>
                <select name="reading.reader.language" data-dtype="String" class="ability-key">
                  {{#select reading.reader.language}}
                    {{#each reading.reader.languages }}
                      <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
              <div class="scriptorium resource"></div>
              <div class="scriptorium resource"></div>
              {{#if (eq reading.book.currentTopic.category "ability")}}
                <div class="scriptorium resource">
                  <label for="reading.reader.ability" class="header-label">{{localize "arm5e.sheet.abilities"}}</label>
                  <select name="reading.reader.ability" data-dtype="String" class="ability-key" {{ui.editItem}}>
                    {{#select reading.reader.ability}}
                      {{#each reading.reader.abilities }}
                        <option value="{{this.id}}">{{this.name}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                </div>

                <div class="scriptorium resource"></div>
              {{/if}}
              {{#if (eq reading.book.currentTopic.category "mastery")}}
                <div class="scriptorium resource">
                  <label for="reading.reader.spell" class="header-label">{{localize "arm5e.sheet.spells"}}</label>
                  <select name="reading.reader.spell" data-dtype="String" class="ability-key" {{ui.editItem}}>
                    {{#select reading.reader.spell}}
                      {{#each reading.reader.spells }}
                        <option value="{{this.id}}">{{this.name}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                </div>
              {{/if}}
              <ul>
                {{#each ui.reading.warning }}
                  <li>
                    <div class="scriptorium resource"><label class="header-label"
                        style="color:red; padding: 10px; text-align: center;">{{this}}</label>
                    </div>
                  </li>
                {{/each}}
              </ul>
              <div class="scriptorium resource">
                <button class="arm5e flex02 create-reading-activity" style="font-family: bookAntika"
                  data-index="{{topicIndex}}" data-ability-id="{{reading.reader.ability}}"
                  data-spell-id="{{reading.reader.spell}}"
                  {{ui.reading.createPossible}}>{{localize "arm5e.scriptorium.button"}}</button>
              </div>
            {{/unless}}

          </div>
        </div>
      </div>
    </div>
    <!-- ***********
    *** WRITING ****
    **************** -->
    <div class="tab " data-group="primary" data-tab="writing">
      <div style="min-height: 418px;">
        <div class="flexcol marginsides32">
          <div class="padding4 flexrow flex-group-left">
            <label class="section-handle header-label clickable" data-section="writer"
              data-category="scriptorium">{{localize "arm5e.scriptorium.writer.title"}}</label>
          </div>
          <div
            class="scriptorium foldable-section backSection padding10 resource flexcol {{@root.ui.sections.visibility.scriptorium.writer}}"
            id="scriptorium-writer">

            {{#if (eq writing.writer.id null)}}
              <div class="drop-box drop-writer" data-drop="writer">
                <label>{{localize "arm5e.scriptorium.msg.dropCharacter"}}</label>
              </div>
            {{else}}
              <div class="scriptorium item-header resource flexrow" style="width: 100%; max-height: 32px;">
                <div class="item-image"></div>
                <label>{{localize "arm5e.scriptorium.writer.title"}}</label>
                <a class="unlink-writer" title="Break link to writer"><i class="fas fa-link"
                    style="font-size: 12pt;"></i></a>
              </div>
              {{> "systems/arm5e/templates/generic/metalic-bar.html" topoffset="-7px"}}
            {{/if}}
            {{#unless (eq writing.writer.id null)}}
              <div class="scriptorium resource">
                <label class="header-label">{{localize "arm5e.scriptorium.writer.name"}}</label>
                <input type="text" name="writing.writer.name" value="{{writing.writer.name}}" data-dtype="String"
                  style="max-width: 220px;" readonly>
              </div>
              <div class="scriptorium resource">
                <label for="writing.writer.language"
                  class="header-label">{{localize "arm5e.scriptorium.reader.languages"}}</label>
                <select name="writing.writer.language" data-dtype="String" class="ability-key">
                  {{#select writing.writer.language}}
                    {{#each writing.writer.languages }}
                      <option value="{{this.id}}">{{this.name}} ({{this.score}})</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>

              <div class="scriptorium item-header resource">
                <label class="header-label">{{localize "arm5e.sheet.bookTopic"}}</label>
                <select class="book-topic-change writing" name="writing.book.system.topics.{{newTopicIndex}}.category"
                  data-activity="writing" data-index="{{newTopicIndex}}" data-dtype="String" {{ui.disabledBook}}>
                  {{#select writing.book.newTopic.category}}
                    {{#each bookTopics as |book key|}}
                      <option value="{{key}}">{{localize book}}</option>
                    {{/each}}
                    <option value="labText">{{localize "ITEM.TypeLaboratorytext"}}</option>
                  {{/select}}
                </select>
                {{#unless (eq writing.book.newTopic.category "labText")}}
                  <label for="writing.book.system.topics.{{newTopicIndex}}.type"
                    class="header-label">{{localize "arm5e.sheet.bookType"}}</label>
                  <select name="writing.book.system.topics.{{newTopicIndex}}.type" data-type="String"
                    data-index="{{topicIndex}}" {{ui.disabledBook}} {{ui.writing.disableType}}>
                    {{#select writing.book.newTopic.type}} {{#each @root.bookTypes }}
                        <option value="{{this}}">{{this}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                  <div class="scriptorium item-header" style="padding-top: 5px;">
                    <label for="writing.writer.writingBonus"
                      class="header-label">{{localize "arm5e.sheet.genericModifier" mod=(localize "arm5e.sheet.quality")}}:
                      {{writing.writer.writingBonus}}</label>
                  </div>
                {{/unless}}
                <div class="scriptorium item-header" style="padding-top: 5px;">
                  <label for="writing.writer.writingScore" class="header-label">{{writing.writer.writingScoreLabel}}:
                    {{writing.writer.writingScore}}</label>
                </div>

              </div>
              <div class="scriptorium resource"></div>
            {{/unless}}
          </div>
          <div class="padding4 flexrow flex-group-left">
            <label class="section-handle header-label clickable" data-section="book-write"
              data-category="scriptorium">{{localize "arm5e.sheet.book"}}</label>
          </div>
          <div
            class="scriptorium foldable-section backSection padding10 resource flexcol {{@root.ui.sections.visibility.scriptorium.book-write}}"
            id="scriptorium-book-write">

            <div class="scriptorium item-header resource">
              <label class="header-label">{{localize "arm5e.activity.book.title"}}</label>
              <input type="text" name="writing.book.name" value="{{writing.book.name}}" data-dtype="String"
                {{ui.canEditTitle}}>
              <label class="header-label">{{localize "arm5e.sheet.authorship.author"}}</label>
              <input type="text" name="writing.book.system.topics.{{newTopicIndex}}.author"
                value="{{writing.writer.name}}" data-dtype="String" readonly>

            </div>
            {{#unless (eq writing.writer.id null)}}
              {{#if (eq writing.book.newTopic.category "ability")}}
                <div class="scriptorium resource">
                  <label for="writing.writer.ability" class="header-label">{{localize "arm5e.sheet.abilities"}}</label>
                  <select name="writing.writer.ability" data-dtype="String" class="ability-key" {{ui.editItem}}>
                    {{#select writing.writer.ability}}
                      {{#each writing.filteredAbilities }}
                        <option value="{{this.id}}">{{this.name}} ({{this.system.finalScore}})</option>
                      {{/each}}
                    {{/select}}
                  </select>
                </div>

                <div class="scriptorium resource"></div>
              {{/if}}

              {{#if (eq writing.book.newTopic.category "art")}}
                <div class="scriptorium resource">
                  <label for="writing.writer.art" class="header-label">{{localize "arm5e.sheet.arts"}}</label>
                  <select name="writing.writer.art" data-dtype="String" class="ability-key" {{ui.editItem}}>
                    {{#select writing.writer.art}}
                      {{#each writing.filteredArts }}
                        <option value="{{this.id}}">{{this.label}} ({{this.finalScore}})</option>
                      {{/each}}
                    {{/select}}
                  </select>
                </div>

              {{/if}}
              {{#if (eq writing.book.newTopic.category "mastery")}}
                <div class="scriptorium resource">
                  <label for="writing.book.system.spell" class="header-label">{{localize "arm5e.sheet.spells"}}</label>
                  <select name="writing.writer.spell" data-dtype="String" class="ability-key" {{ui.editItem}}>
                    {{#select writing.writer.spell}}
                      {{#each writing.writer.filteredSpells }}
                        <option value="{{this.id}}">{{this.name}} ({{this.mastery}})</option>
                      {{/each}}
                    {{/select}}
                  </select>
                </div>
              {{/if}}
              {{#unless (eq writing.book.newTopic.category "labText")}}
                <div class="scriptorium item-header resource">
                  {{#if (eq writing.book.newTopic.type "Summa")}}
                    <label class="header-label">{{localize "arm5e.sheet.level"}}</label>
                    <input type="number" name="" value='{{writing.book.newTopic.level}}' data-dtype="Number"
                      style="max-width: 50px;" readonly>
                    <input type="range" name="writing.book.system.topics.{{newTopicIndex}}.level"
                      value='{{writing.book.newTopic.level}}' min="1" max="{{writing.book.newTopic.maxLevel}}"
                      data-dtype="Number" style="max-width: 150px;align-items: end;">
                    <label class="header-label">{{writing.book.newTopic.maxLevel}}</label>
                  {{/if}}
                  <label class="header-label">{{localize "arm5e.sheet.quality"}}</label>
                  <input type="number" name="" value='{{writing.book.newTopic.quality}}' data-dtype="Number"
                    style="max-width: 50px;" readonly>
                  <input type="number" name="writing.book.system.topics.{{newTopicIndex}}.quality"
                    value='{{writing.book.newTopic.quality}}' data-dtype="Number" style="max-width: 50px;" hidden>
                </div>
              {{else}}
                <div class="scriptorium item-header resource add-labtext" data-drop="add-labtext">
                  <fieldset style="min-height: 100px;">
                    <legend><label>{{localize "arm5e.sheet.labTexts"}}</label></legend>
                    {{#if labTexts.length}}
                      <div class="scriptorium resource">
                        <ul>
                          {{#each labTexts}}
                            <li data-index="{{@index}}" data-uuid="{{this.uuid}}"><label>"{{this.name}}" :
                                {{this.label}}{{this.level}}</label><a class="remove-labText" data-index="{{@index}}"
                                title="Delete lab text">
                                <i class="icon-Icon_Delete_Hand_Gesture"></i></a>
                            </li>
                          {{/each}}
                        </ul>
                      </div>
                    {{else}}
                      <label>{{localize "arm5e.scriptorium.msg.dropLabText"}}</label>
                    {{/if}}
                  </fieldset>

                </div>
              {{/unless}}

              {{#unless (eq writing.book.newTopic.category "labText")}}
                <div class="scriptorium item-header" style="padding-top: 5px;">
                  <label class="header-label">{{localize "arm5e.sheet.duration"}}:
                    {{writing.writer.duration}}</label>
                </div>
              {{else}}
                <div class="scriptorium item-header" style="padding-top: 5px;">
                  <label class="header-label">{{localize "arm5e.generic.total"}}:
                    {{writing.labTextTotal}}</label>
                </div>
              {{/unless}}
              {{#unless writing.book.id }}
                <div class="drop-box append-book" data-drop="append-book">
                  <label>{{localize "arm5e.scriptorium.msg.appendTopic"}}</label>
                </div>
              {{else}}
                <div class="padding12">
                  <label>{{localize "arm5e.scriptorium.msg.appendTopicTitle" title=writing.book.name}}</label><a
                    class="unlink-bookAppend" title="Break link to book"><i class="fas fa-link"
                      style="font-size: 12pt;"></i></a>
                </div>
              {{/unless}}
            {{/unless}}
          </div>
          <ul>
            {{#each ui.writing.warning }}
              <div class="scriptorium resource"><label class="header-label"
                  style="color:red; padding: 10px; text-align: center;">{{this}}</label>
              </div>
            {{/each}}
          </ul>
          <div class="scriptorium resource">
            <button class="arm5e flex02 create-writing-activity" style="font-family: bookAntika"
              data-index="{{newTopicIndex}}" data-ability-id="{{writing.writer.ability}}"
              data-category="{{writing.book.newTopic.category}}" data-spell-id="{{writing.writer.spell}}"
              {{ui.writing.createPossible}}>{{localize "arm5e.scriptorium.button"}}</button>
          </div>
        </div>





      </div>
    </div>
    <!-- <div class="tab marginsides32" data-group="primary" data-tab="other">
      <label>WIP</label>
     -->
  </section>

  <div class="footer-background flex0">
    <img src="systems/arm5e/assets/scriptorium/Scriptorium_footer.png" />
  </div>
</form>