<form class="{{cssClass}} scriptorium scriptorium-sheet" autocomplete="off">
  <div class="scriptorium header-background" style="width:591px; margin: 0px;">
    <img src="/systems/arm5e/assets/scriptorium/Scriptorium_Header.png" />
  </div>
  <h1 class="scriptorium-title width: 100%;" text-align="center">Scriptorium</h1>
  <header class="sheet-header">
    <div class="flexrow" style="margin-left: 32px; margin-right: 57px;">
      <div class="resource-content flexrow flex-center flex-between margintop6">
        <label for="season" class="smallTitle">{{localize "arm5e.sheet.season"}}</label>
        <select name="season" data-type="String" class="change-season flex0 scriptorium">
          {{#select season}} {{#each seasons as |season key|}}
              <option value="{{key}}">{{localize season.label}}</option>
            {{/each}} {{/select}}
        </select>
      </div>
      <div class="resource-content flexrow flex-center flex-between margintop6">
        <label for="year" class="smallTitle">{{localize "arm5e.sheet.year"}}</label>
        <input type="number" name="year" value="{{year}}" data-dtype="Number" class="scriptorium change-year" />
      </div>
    </div>
  </header>
  <nav class="arm5eTabs scriptorium-tabs tabs tab-header marginsides32" data-group="primary">
    <a class="item posRelative" data-tab="reading" data-group="primary">
      <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" style="padding-top: 0px;" /></div>
      <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" style="padding-top: 0px;" /></div>
      {{localize "arm5e.activity.reading"}}
    </a>
    <a class="item posRelative" data-tab="writing" data-group="primary">
      <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" style="padding-top: 0px;" /></div>
      <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" style="padding-top: 0px;" /></div>
      {{localize "arm5e.activity.writing"}}
    </a>
    <a class="item posRelative" data-tab="other" data-group="primary">
      <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" style="padding-top: 0px;" /></div>
      <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" style="padding-top: 0px;" /></div>
      {{localize "arm5e.generic.other"}}
    </a>
    <a class="item posRelative" data-tab="index" data-group="primary">
      <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" style="padding-top: 0px;" /></div>
      <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" style="padding-top: 0px;" /></div>
      {{localize "arm5e.scriptorium.index"}}
    </a>
    <div class="item-right-ball"><img src="/systems/arm5e/assets/ballSilver.png" style="padding-bottom: 4px;" /></div>
    <div class="item-left-ball"><img src="/systems/arm5e/assets/ballSilver.png" style="padding-bottom: 4px;" /></div>

  </nav>
  <section class="scriptorium-body">
    <section class="tab read-book flex-group-left backSection" data-group="primary" data-tab="reading"
      style="height: 430px;">
      <div class="flexrow">

        {{#if (eq reading.book.id null)}}
          <div class="resource drop-box drop-book" data-drop="book">
            <label>{{localize "arm5e.scriptorium.msg.dropBook"}}</label>
          </div>
        {{else}}
          <div class="scriptorium resource flexrow">
            <label>{{localize "arm5e.sheet.book"}}</label>
            <a class="unlink-read-book" title="Break link to book"><i class="fas fa-link"
                style="font-size: 12pt;"></i></a>
          </div>
        {{/if}}


        {{#if (eq reading.reader.id null)}}
          <div class="resource drop-box drop-reader" data-drop="reader">
            <label>{{localize "arm5e.scriptorium.msg.dropCharacter"}}</label>
          </div>
        {{else}}
          <div class="scriptorium resource flexrow">
            <label>{{localize "arm5e.scriptorium.reader.title"}}</label>
            <a class="unlink-reader" title="Break link to reader"><i class="fas fa-link"
                style="font-size: 12pt;"></i></a>
          </div>
        {{/if}}

      </div>
      <div class="flexrow">
        {{log "UI: " ui}}
        <div class="scriptorium resource flexcol">
          <label class="header-label">{{localize "arm5e.activity.book.title"}}</label>
          <input type="text" name="reading.book.title" value="{{reading.book.title}}" data-dtype="String"
            {{ui.canEditBook}}>
          <label class="header-label">{{localize "arm5e.sheet.authorship.language"}}</label>
          <input type="text" name="reading.book.language" value="{{reading.book.language}}" data-dtype="String"
            {{ui.canEditBook}}>
          <label class="header-label">{{localize "arm5e.sheet.authorship.author"}}</label>
          <input type="text" name="reading.book.author" value="{{reading.book.author}}" data-dtype="String"
            {{ui.canEditBook}}>
          <div class="resource flexcol flexrow">
            <label class="header-label">{{localize "arm5e.sheet.bookTopic"}}</label>
            <select class="book-topic" name="reading.book.topic" data-dtype="String" {{ui.disabledBook}}>
              {{#select reading.book.topic}}
                {{#each bookTopics as |book key|}} -->
                  <option value="{{key}}">{{localize book}}</option>
                {{/each}}
              {{/select}}
            </select>
            <label for="reading.book.type" class="header-label">{{localize "arm5e.sheet.bookType"}}</label>
            <select name="reading.book.type" data-type="String" {{ui.disabledBook}} {{ui.disableType}}>
              {{#select reading.book.type}} {{#each @root.bookTypes }}
                  <option value="{{this}}">{{this}}</option>
                {{/each}} {{/select}}
            </select>
          </div>
          {{#if (eq reading.book.topic "art")}}
            <div class="resource" style="width: 220px; padding-top: 5px;">
              <label for="reading.book.art" class="header-label">{{localize "arm5e.sheet.art"}}</label>
              <select name="reading.book.art" data-type="String" {{ui.disabledBook}}>
                {{#select reading.book.art}} {{#each arts as |art key|}}
                    <option value="{{key}}">{{art.label}}</option>
                  {{/each}} {{/select}}
              </select>
            </div>
          {{/if}}
          {{#if (eq reading.book.topic "ability")}}
            <div class="scriptorium resource">
              <label for="reading.book.key" class="header-label">{{localize "arm5e.sheet.skill.abilityKey"}}</label>
              <select name="reading.book.key" data-dtype="String" class="ability-key" {{ui.disabledBook}}>
                {{#select reading.book.key}}
                  {{#each abilityKeysList as |item key|}}
                    <option value="{{key}}" {{item.selection}}>{{item.name}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
            <div class="scriptorium resource" style="width: 220px; padding-top: 5px;padding-bottom: 15px;">
              {{#if (lookup (lookup abilityKeysList reading.book.key) "option")}}
                <label for="reading.book.option"
                  class="header-label">{{localize "arm5e.sheet.skill.abilityOption"}}</label>
                <input type="text" class="ability-option" name="reading.book.option" value="{{reading.book.option}}" />
              {{else}}
                <label for="reading.book.option" class="header-label"
                  style="color: gray">{{localize "arm5e.sheet.skill.abilityOption"}}</label>
                <input type="text" name="reading.book.option" data-dtype="String" value="" readonly />
              {{/if}}
            </div>
          {{/if}}
          {{#if (eq reading.book.topic "spell")}}
            <div class="scriptorium resource">
              <label for="reading.book.spellName" class="header-label">{{localize "arm5e.sheet.spell"}}</label>
              <input type="text" name="reading.book.spellName" value="{{reading.book.spellName}}" {{ui.canEditBook}} />
            </div>
          {{/if}}
          <div class="grid-2col">
            {{#if (eq reading.book.type "Summa")}}
              <label class="header-label">{{localize "arm5e.sheet.level"}}</label>
              <input type="number" name="reading.book.level" value="{{reading.book.level}}" data-dtype="Number"
                style="max-width: 50px;" {{ui.canEditBook}}>
            {{/if}}
            <label class="header-label">{{localize "arm5e.sheet.quality"}}</label>
            <input type="number" name="reading.book.quality" value="{{reading.book.quality}}" data-dtype="Number"
              style="max-width: 50px;" {{ui.canEditBook}}>
          </div>
        </div>
        <div class="scriptorium resource flexcol">
          {{#unless (eq reading.reader.id null)}}
            <div class="scriptorium resource">
              <label class="header-label">{{localize "arm5e.scriptorium.reader.name"}}</label>
              <input type="text" name="reading.reader.name" value="{{reading.reader.name}}" data-dtype="String"
                style="max-width: 220px;" readonly>
            </div>
            <div class="scriptorium resource">
              <label for="reading.reader.language"
                class="header-label">{{localize "arm5e.scriptorium.reader.languages"}}</label>
              <select name="reading.reader.language" data-dtype="String" class="ability-key">
                {{#select reading.reader.language}}
                  {{#each reading.reader.languages }}
                    <option value="{{this.id}}">{{this.name}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
            <div class="scriptorium resource"></div>
            <div class="scriptorium resource"></div>
            {{#if (eq reading.book.topic "ability")}}
              <div class="scriptorium resource">
                <label for="reading.reader.ability" class="header-label">{{localize "arm5e.sheet.abilities"}}</label>
                <select name="reading.reader.ability" data-dtype="String" class="ability-key" {{ui.editItem}}>
                  {{#select reading.reader.ability}}
                    {{#each reading.reader.abilities }}
                      <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
            {{/if}}
            {{#if (eq reading.book.topic "spell")}}
              <div class="scriptorium resource">
                <label for="reading.reader.spell" class="header-label">{{localize "arm5e.sheet.spells"}}</label>
                <select name="reading.reader.spell" data-dtype="String" class="ability-key" {{ui.editItem}}>
                  {{#select reading.reader.spell}}
                    {{#each reading.reader.spells }}
                      <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
            {{/if}}
            <div class="scriptorium resource"><label class="header-label"
                style="color:red; padding: 10px;">{{localize ui.warning item=ui.warningParam}}</label>
            </div>
            <div class="scriptorium resource">
              <button class="arm5e flex02 create-activity" style="font-family: bookAntika"
                data-ability-id="{{reading.reader.ability}}" data-spell-id="{{reading.reader.spell}}"
                {{ui.createPossible}}>{{localize "arm5e.scriptorium.button"}}</button>
            </div>
          {{/unless}}

        </div>
      </div>
      </div>
    </section>
    <div class="tab marginsides32" data-group="primary" data-tab="writing">
      <label>Work in progress</label>
    </div>
    <div class="tab marginsides32" data-group="primary" data-tab="other">
      <label>WIP</label>
    </div>
  </section>

  <div class="astrolab footer-background" style="width:591px; margin: 0px; height: 75px;">
    <img src="/systems/arm5e/assets/scriptorium/Scriptorium_Footer.png" style="height: 78px;" />
  </div>
</form>