<div class="flexrow flex01">
  <div class="resource">
    <label for="system.source" class="header-label">{{localize "arm5e.sheet.source.label"}}</label>
    <select name="system.source" data-dtype="String">
      {{#select system.source}} {{#each config.generic.sourcesTypes as |type key|}}
          <option value="{{key}}">{{localize label}}</option>
        {{/each}} {{/select}}
    </select>
  </div>
  <div class="resource" style="max-width: 100px;">
    <label class="header-label">{{localize "arm5e.sheet.page"}}</label>
    <input type="number" name="system.page" value="{{system.page}}" data-dtype="Number" style="max-width: 60px;" />
  </div>
  <div class="resource">
    <label class="header-label">{{localize "arm5e.sheet.indexKey"}}</label>
    <input type="text" name="system.indexKey" value="{{system.indexKey}}" data-dtype="String"
      style="font-size: 10px; border:none; color:grey" {{metagame.edit}} />
  </div>
</div>