<form class="{{cssClass}} arm5eChooser" autocomplete="off">
  {{> "systems/arm5e/templates/roll/parts/roll-header.html" header="Inputs" }}
  <div class="flexrow3 backSection" style="padding: 48px">
    <label>{{ localize fieldName }}</label>
    <div class="form-fields">
      <input type="text" class="textInput resource-focus" name="inputField" value="{{value}}"
        placeholder="{{localize placeholder}}" />
    </div>
  </div>
  {{> "systems/arm5e/templates/roll/parts/roll-footer.html" footer="Inputs"}}
</form>