<form class="{{cssClass}} flexcol mainLaboratory" autocomplete="off">
    <div class="header-background">
        <img src="/systems/arm5e/assets/laboratory/header150.png">
    </div>

    {{!-- Sheet Header --}}
    <header class="sheet-header sheet-header-lab">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>

            <div class="resources flexrow flex-between" style="margin-top: 8px;">
                <span class="covenantname flexrow">
                    <label for="data.owner.value" class="bold" style="padding-top: 4px; padding-left: 24px; flex: 0.4;">{{localize "arm5e.sheet.owner"}}</label>
                    <div>
                        <input name="data.owner.value" type="text" value="{{data.owner.value}}" data-dtype="String" />
                        {{#if (eq data.owner.linked true)}}
                            <a class="flexrow0 actor-link" title="Linked to magus" data-actorid="{{data.owner.actorId}}"><i class="fas fa-link fa-sm"></i></a>
                        {{else}}
                            <a class="flexrow0 " title="Not linked to magus"><i class="fas fa-unlink fa-sm"></i></a>
                        {{/if}}
                    </div>
                </span>
                <span class="covenantname flexrow">
                    <label for=" data.covenant.value" class="bold" style="padding-top:4px;padding-left: 24px; flex: 0.4;">{{localize "arm5e.sheet.covenant"}}</label>
                    <div>
                        <input name="data.covenant.value" type="text" value="{{data.covenant.value}}" data-dtype="String" />
                        {{#if (eq data.covenant.linked true)}}
                            <a class="flexrow0 actor-link" title="Linked to covenant" data-actorid="{{data.covenant.actorId}}"><i class="fas fa-link fa-sm"></i></a>
                        {{else}}
                            <a class="flexrow0 " title="Not linked to covenant"><i class="fas fa-unlink fa-sm"></i></a>
                        {{/if}}
                    </div>
                </span>
            </div>

            <div class="resources flexrow flex-between" style="margin-top: 8px;">
                <span class="covenantname flexrow width4">
                    <label for="data.location" class="bold" style="padding-top: 4px; padding-left: 24px; flex: 0.2;">{{localize "arm5e.sheet.location"}}</label>
                    <input name="data.location" type="text" value="{{data.location}}" data-dtype="String" />
                </span>
                <span class="covenantname flexrow" style="padding-top:4px;">
                    <label for="data.points" class="bold" style="padding-top: 4px; padding-left: 24px; flex: 0.6;">{{localize "arm5e.sheet.points"}}</label>
                    <input name="data.points" type="text" value="{{data.points}}" data-dtype="Number" style="flex:0.3;" />
                </span>
            </div>

            <div class="resources grid grid-2col backSection" style=" grid-row-gap: 0px; padding-top: 8px; padding-bottom: 8px;">
                <div class="flexrow flex-group-center">
                    <label class="bold">{{localize "arm5e.sheet.size"}}</label>
                    <input type="text" name="data.size.description" value="{{data.size.description}}" data-dtype="String" />
                    <input class="flex04" type="text" name="data.size.value" value="{{numberFormat data.size.value decimals=0 sign=true}}" data-dtype="Number" />
                    <span class="flex06" >{{numberFormat data.size.bonus decimals=0 sign=true}}&NonBreakingSpace;=&NonBreakingSpace;{{numberFormat data.size.total decimals=0}}</span>
                </div>
                <div class="flexrow flex-group-center">
                    <label class="bold">{{localize "arm5e.sheet.generalQuality"}}</label>
                    <input type="text" name="data.generalQuality.description" value="{{data.generalQuality.description}}" data-dtype="String" />
                    <input class="flex04" type="text" name="data.generalQuality.value" value="{{numberFormat data.generalQuality.value decimals=0 sign=true}}" data-dtype="Number" />
                    <span class="flex06" >{{numberFormat data.generalQuality.bonus decimals=0 sign=true}}&NonBreakingSpace;=&NonBreakingSpace;{{numberFormat data.generalQuality.total decimals=0}}</span>
                </div>
                <div class="flexrow flex-group-center">
                    <label class="bold">{{localize "arm5e.sheet.safety"}}</label>
                    <input type="text" name="data.safety.description" value="{{data.safety.description}}" data-dtype="String" />
                    <input class="flex04" type="text" name="data.safety.value" value="{{numberFormat data.safety.value decimals=0 sign=true}}" data-dtype="Number" />
                    <span class="flex06" >{{numberFormat data.safety.bonus decimals=0 sign=true}}&NonBreakingSpace;=&NonBreakingSpace;{{numberFormat data.safety.total decimals=0}}</span>
                </div>
                <div class="flexrow flex-group-center">
                    <label class="bold">{{localize "arm5e.sheet.health"}}</label>
                    <input type="text" name="data.health.description" value="{{data.health.description}}" data-dtype="String" />
                    <input class="flex04" type="text" name="data.health.value" value="{{numberFormat data.health.value decimals=0 sign=true}}" data-dtype="Number" />
                    <span class="flex06" >{{numberFormat data.health.bonus decimals=0 sign=true}}&NonBreakingSpace;=&NonBreakingSpace;{{numberFormat data.health.total decimals=0}}</span>
                </div>
                <div class="flexrow flex-group-center">
                    <label class="bold">{{localize "arm5e.sheet.refinement"}}</label>
                    <input type="text" name="data.refinement.description" value="{{data.refinement.description}}" data-dtype="String" />
                    <input class="flex04" type="text" name="data.refinement.value" value="{{numberFormat data.refinement.value decimals=0 sign=true}}" data-dtype="Number" />
                    <span class="flex06" >{{numberFormat data.refinement.bonus decimals=0 sign=true}}&NonBreakingSpace;=&NonBreakingSpace;{{numberFormat data.refinement.total decimals=0}}</span>
                </div>
                <div class="flexrow flex-group-center">
                    <label class="bold">{{localize "arm5e.sheet.upkeep"}}</label>
                    <input type="text" name="data.upkeep.description" value="{{data.upkeep.description}}" data-dtype="String" />
                    <input class="flex04" type="text" name="data.upkeep.value" value="{{numberFormat data.upkeep.value decimals=0 sign=true}}" data-dtype="Number" />
                    <span class="flex06" >{{numberFormat data.upkeep.bonus decimals=0 sign=true}}&NonBreakingSpace;=&NonBreakingSpace;{{numberFormat data.upkeep.total decimals=0}}</span>
                </div>
                <div class="flexrow flex-group-center">
                    <label class="bold">{{localize "arm5e.sheet.warping"}}</label>
                    <input type="text" name="data.warping.description" value="{{data.warping.description}}" data-dtype="String" />
                    <input class="flex04" type="text" name="data.warping.value" value="{{numberFormat data.warping.value decimals=0 sign=true}}" data-dtype="Number" />
                    <span class="flex06" >{{numberFormat data.warping.bonus decimals=0 sign=true}}&NonBreakingSpace;=&NonBreakingSpace;{{numberFormat data.warping.total decimals=0}}</span>
                </div>
                <div class="flexrow flex-group-center">
                    <label class="bold">{{localize "arm5e.sheet.aesthetics"}}</label>
                    <input type="text" name="data.aesthetics.description" value="{{data.aesthetics.description}}" data-dtype="String" />
                    <input class="flex04" type="text" name="data.aesthetics.value" value="{{numberFormat data.aesthetics.value decimals=0 sign=true}}" data-dtype="Number" />
                    <span class="flex06" >{{numberFormat data.aesthetics.bonus decimals=0 sign=true}}&NonBreakingSpace;=&NonBreakingSpace;{{numberFormat data.aesthetics.total decimals=0}}</span>
                </div>
            </div>
            <div class="resources grid grid-3col backSection" style=" grid-row-gap: 0px; padding-top: 8px; padding-bottom: 8px;">
                <div class="flexrow flex-group-center">
                    <label class="bold">{{localize "arm5e.sheet.occupiedSize"}}</label>
                    <span class="flex02">{{numberFormat data.occupiedSize}}</span>
                </div>
                <div class="flexrow flex-group-center">
                    <label class="bold">{{localize "arm5e.sheet.freeVirtues"}}</label>
                    <span class="flex02">{{numberFormat data.freeVirtues}}</span>
                </div>
                <div class="flexrow flex-group-center">
                    <label class="bold">{{localize "arm5e.sheet.baseSafety"}}</label>
                    <span class="flex02">{{numberFormat data.baseSafety}}</span>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="arm5eTabs arm5eTabsLAB sheet-tabs tabs" data-group="primary">
        <a class="item posRelative" data-tab="virtues">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.virtuesFlaws"}}
        </a>
        <a class="item posRelative" data-tab="attributes">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.attributes"}}
        </a>
        <a class="item posRelative" data-tab="inventory">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.inventory"}}
        </a>
        <a class="item posRelative" data-tab="diary">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.diary"}}
        </a>
        {{#if isGM}}
            <a class="item posRelative" data-tab="effects">
                <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
                <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
                {{localize "arm5e.sheet.effects"}}
            </a>
        {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Virtues & Flaws Tab --}}
        <div class="tab virtues" data-group="primary" data-tab="virtues">
            {{> "systems/arm5e/templates/actor/parts/actor-virtuesFlaws.html" }}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{> "systems/arm5e/templates/actor/parts/actor-atributesLaboratory.html" }}
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory" data-group="primary" data-tab="inventory">
            {{> "systems/arm5e/templates/actor/parts/actor-inventoryLaboratory.html" }}
        </div>

        {{!-- Diary Tab --}}
        <div class="tab diary" data-group="primary" data-tab="diary">
            {{> "systems/arm5e/templates/actor/parts/actor-diary.html" }}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/arm5e/templates/generic/active-effects.html" }}
        </div>
    </section>

    <div class="footer-background">
        <img src="/systems/arm5e/assets/laboratory/footer.png">
    </div>
</form>