<form class="{{cssClass}} flexcol mainCovenant" autocomplete="off">
    <div class="header-background">
        <img src="/systems/arm5e/assets/covenant/header150.png">
    </div>

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>

            <div class="resources flexrow flex-between">
                <span class="covenantname flexrow">
                    <label for="data.saga" class="header-label" style="padding-top: 4px; padding-left: 24px;">{{localize "arm5e.sheet.saga"}}</label>
                    <input name="data.saga" type="text" value="{{data.saga}}" data-dtype="String" style="flex: 0 0 120px;" />
                </span>
                <span class="covenantname flexrow" style="padding-top:4px;">
                    <label for="data.narrator" class="header-label" style="padding-top: 4px; padding-left: 24px;">{{localize "arm5e.sheet.narrator"}}</label>
                    <input name="data.narrator" type="text" value="{{data.narrator}}" data-dtype="String" style="flex: 0 0 100px;" />
                </span>
            </div>

            <div class="resources flexrow flex-between">
                <span class="covenantname flexrow">
                    <label for="data.tribunal" class="header-label" style="padding-top: 4px; padding-left: 24px;">{{localize "arm5e.sheet.tribunal"}}</label>
                    <input name="data.tribunal" type="text" value="{{data.tribunal}}" data-dtype="String" style="flex: 0 0 120px;" />
                </span>
                <span class="covenantname flexrow" style="padding-top:4px;">
                    <label for="data.aegisCovenant" class="header-label" style="padding-top: 4px; padding-left: 24px;">{{localize "arm5e.sheet.aegisCovenant"}}</label>
                    <input name="data.aegisCovenant" type="text" value="{{data.aegisCovenant}}" data-dtype="String" style="flex: 0 0 100px;" />
                </span>
            </div>

            <div class="resources flexrow flex-between">
                <span class="covenantname flexrow">
                    <label for="data.sagaType" class="header-label" style="padding-top: 4px; padding-left: 24px;">{{localize "arm5e.sheet.sagaType"}}</label>
                    <input name="data.sagaType" type="text" value="{{data.sagaType}}" data-dtype="String" style="flex: 0 0 120px;" />
                </span>
                <span class="covenantname flexrow" style="padding-top:4px;">
                    <label for="data.foundationYear" class="header-label" style="padding-top: 4px; padding-left: 24px;">{{localize "arm5e.sheet.foundationYear"}}</label>
                    <input class="flex08" name="data.foundationYear" type="text" value="{{data.foundationYear}}" data-dtype="String" style="flex: 0 0 100px;" />
                </span>
            </div>

            <div class="resources flexrow flex-between">
                <span class="covenantname flexrow" style="padding-top:4px;">
                    <label for="data.currentYear" class="header-label" style="padding-top: 4px; padding-left: 24px;">{{localize "arm5e.sheet.currentYear"}}</label>
                    <input class="flex08" name="data.currentYear" type="text" value="{{data.currentYear}}" data-dtype="String" style="flex: 0 0 120px;" />
                </span>
                <span class="covenantname flexrow" style="padding-top:4px;">
                    <label for="data.season" class="header-label" style="padding-top: 4px; padding-left: 24px;">{{localize "arm5e.sheet.season"}}</label>
                    <select name="data.season" data-type="String" style="flex: 0 0 100px;">
                        {{#select data.season}}
                            {{#each metadata.seasons as |season key|}}
                                <option value="{{key}}">{{localize season.label}}</option>
                            {{/each}} {{/select}}
                    </select>
                </span>
            </div>

            <div class="resources flexrow flex-between">
                <span class="covenantname flexrow" style="padding-top:4px;">
                    <label for="data.modifiersLife.magi" class="header-label" style="padding-top: 4px; padding-left: 24px;">{{localize "arm5e.sheet.modifiersLifeMagi"}}</label>
                    <input class="flex04" name="data.modifiersLife.magi" type="text" value="{{data.modifiersLife.magi}}" data-dtype="Number" />
                </span>
                <span class="covenantname flexrow" style="padding-top:4px;">
                    <label for="data.modifiersLife.mundane" class="header-label" style="padding-top: 4px; padding-left: 24px;">{{localize "arm5e.sheet.modifiersLifeMundane"}}</label>
                    <input class="flex04" name="data.modifiersLife.mundane" type="text" value="{{data.modifiersLife.mundane}}" data-dtype="Number" />
                </span>
            </div>

            <div class="resources flexrow flex-between">
                <span class="covenantname flexrow" style="padding-top:4px;">
                    <label for="data.typeAura" class="header-label" style="padding-top: 4px; padding-left: 24px;">{{localize "arm5e.sheet.typeAura"}}</label>
                    <select name="data.typeAura" data-type="String" style="flex: 0 0 60px;">
                        {{#select data.typeAura}}
                            {{#each metadata.realms as |realm key|}}
                                <option value="{{key}}">{{localize realm.label}}</option>
                            {{/each}} {{/select}}
                    </select>
                </span>
                <span class="covenantname flexrow">
                    <label for="data.levelAura" class="header-label" style="padding-top: 4px; padding-left: 24px;">{{localize "arm5e.sheet.levelAura"}}</label>
                    <input class="flex04" name="data.levelAura" type="text" value="{{data.levelAura}}" data-dtype="String" style="flex: 0 0 40px;" />
                </span>
                <span class="covenantname flexrow" style="padding-top:4px;">
                    <label for="data.levelsRegio" class="header-label" style="padding-top: 4px; padding-left: 24px;">{{localize "arm5e.sheet.levelsRegio"}}</label>
                    <input class="flex04" name="data.levelsRegio" type="text" value="{{data.levelsRegio}}" data-dtype="String" style="flex: 0 0 40px;" />
                </span>
            </div>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="arm5eTabs arm5eTabsCOV sheet-tabs tabs" data-group="primary">
        <a class="item posRelative" data-tab="attributes">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.attributes"}}
        </a>
        <a class="item posRelative" data-tab="habitants">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.habitants"}}
        </a>
        <a class="item posRelative" data-tab="posessions">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.possessions"}}
        </a>
        <a class="item posRelative" data-tab="economics">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.economics"}}
        </a>
        <a class="item posRelative" data-tab="library">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.library"}}
        </a>
        <a class="item posRelative" data-tab="diary">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.diary"}}
        </a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">


        {{!-- attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{> "systems/arm5e/templates/actor/parts/actor-covenantAtributes.html" }}
        </div>

        {{!-- habitants Tab --}}
        <div class="tab habitants" data-group="primary" data-tab="habitants">
            {{> "systems/arm5e/templates/actor/parts/actor-covenantHabitants.html" }}
        </div>

        {{!-- posessions Tab --}}
        <div class="tab posessions" data-group="primary" data-tab="posessions">
            {{> "systems/arm5e/templates/actor/parts/actor-covenantPosessions.html" }}
        </div>

        {{!-- economics Tab --}}
        <div class="tab economics" data-group="primary" data-tab="economics">
            {{> "systems/arm5e/templates/actor/parts/actor-covenantEconomics.html" }}
        </div>

        {{!-- library Tab --}}
        <div class="tab library" data-group="primary" data-tab="library">
            {{> "systems/arm5e/templates/actor/parts/actor-covenantLibrary.html" }}
        </div>

        {{!-- Diary Tab --}}
        <div class="tab diary" data-group="primary" data-tab="diary">
            {{> "systems/arm5e/templates/actor/parts/actor-diary.html" }}
            {{> "systems/arm5e/templates/actor/parts/actor-covenantCalendar.html" }}
        </div>

    </section>

    <div class="footer-background">
        <img src="/systems/arm5e/assets/covenant/footer.png">
    </div>
</form>