<nav class="sheet-tabs diary-tabs tabs" data-group="diary-secondary">
  <a class="posRelative" data-tab="abilities" data-group="diary-secondary">
    <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
    <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
    {{localize "arm5e.sheet.abilities"}} ({{data.totalXp.abilities}})
  </a>
  {{#if ui.showMagicProgress}}
    <a class="posRelative" data-tab="arts" data-group="diary-secondary">
      <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.arts"}} ({{data.totalXp.arts}})
    </a>
    <a class="posRelative" data-tab="spells" data-group="diary-secondary">
      <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.spells"}} ({{data.totalXp.spells}})
    </a>
  {{/if}}
</nav>
<section class="diary-body">
  <div class="tab" data-tab="abilities" data-group="diary-secondary">

    <header class="effect-change effects-header flexrow">
      <div class="type">{{ localize "arm5e.skill.category.label" }}</div>
      <div class="key">{{ localize "arm5e.sheet.ability" }}</div>
      <div class="xpamount">{{ localize "arm5e.sheet.experience"}}</div>
      <div class="progress-controls">
        {{#if (eq data.defaultAbility "")}}
          {{localize "arm5e.activity.msg.noAbility"}}
        {{else}}
          <a class="progress-control" data-action="add" data-type="abilities" data-default="{{data.defaultAbility}}"
            data-applied="{{data.applied}}"><i class="fas fa-plus"></i></a>
        {{/if}}
      </div>

    </header>
    <div class="resource">
      <ol class="progresses-list">
        {{#each data.progress.abilities as |ability idx|}}
          <li class="item diary-progress flexrow">
            <select name="data.progress.abilities.{{idx}}.category" data-dtype="String" data-index="{{idx}}"
              data-type="abilities" {{@root.data.disabled}} class="progress-category ability-key flex02"
              style="min-width: 135px;">
              {{#select ability.category}}
                {{#each ../data.ownedAbilities as | ab key|   }}
                  <option value="{{key}}">{{localize (lookup ../../config.ABILITIES_CATEGORIES key)}}</option>
                {{/each}}
              {{/select}}
            </select>
            <select name="data.progress.abilities.{{idx}}.id" data-dtype="String" data-index="{{idx}}"
              data-type="abilities" class="progress-ability flex02" {{@root.data.disabled}} style="min-width: 150px;">
              {{#select ability.id}}
                {{#each (lookup ../data.ownedAbilities ability.category) as |ab i|}}
                  <option value="{{ab.id}}">{{ab.name}}</option>
                {{/each}}
              {{/select}}
            </select>
            <div class="xp">
              <input type="number" name="data.progress.abilities.{{idx}}.xp" value="{{ability.xp}}" data-dtype="Number"
                data-index="{{idx}}" data-type="abilities" {{@root.data.canEdit}} class="flex0" style="width:50px"
                min="0" max="5" step="1" />
            </div>
            <div class="progress-controls">
              <a class="progress-control" data-idx="{{idx}}" data-type="abilities" data-action="delete"><i
                  class="icon-Icon_Delete_Hand_Gesture"></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>

  </div>
  <div class="tab" data-tab="arts">
    <header class="effect-change effects-header flexrow" style="padding-left: 15px">
      <div class="key">{{ localize "arm5e.sheet.arts" }}</div>
      <div class="xpamount">{{ localize "arm5e.sheet.experience"}}</div>
      <div class="progress-controls">
        {{#if (eq data.defaultArt "")}}
          {{localize "arm5e.activity.msg.noArt"}}
        {{else}}
          <a class="progress-control" data-action="add" data-type="arts" data-default="{{data.defaultArt}}"
            data-applied="{{data.applied}}"><i class="fas fa-plus"></i></a>
        {{/if}}
      </div>

    </header>
    <div class="resource">
      <ol class="progresses-list">
        {{#each data.progress.arts as |art idx|}}
          <li class="item diary-progress flexrow">
            <select name="data.progress.arts.{{idx}}.key" data-dtype="String" data-index="{{idx}}" data-type="arts"
              class="progress-art flex02" {{@root.data.disabled}} style="min-width: 150px;">
              {{#select art.key}}
                {{#each ../config.magic.arts as |a key|}}
                  <option value="{{key}}">{{a.label}}</option>
                {{/each}}
              {{/select}}
            </select>
            <div class="xp">
              <input type="number" name="data.progress.arts.{{idx}}.xp" value="{{art.xp}}" data-dtype="Number"
                data-index="{{idx}}" data-type="arts" {{@root.data.canEdit}} class="flex0" style="width:50px" min="0"
                max="5" step="1" />
            </div>
            <div class="progress-controls">
              <a class="progress-control" data-idx="{{idx}}" data-type="arts" data-action="delete"><i
                  class="icon-Icon_Delete_Hand_Gesture"></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
  </div>

  <div class="tab" data-tab="spells">
    <header class="effect-change effects-header flexrow" style="padding-left: 15px">
      <div class="form">{{ localize "arm5e.sheet.form" }}</div>
      <div class="key" style="min-width: 200px;">{{ localize "arm5e.sheet.spell" }}</div>
      <div class="xpamount">{{ localize "arm5e.sheet.experience"}}</div>
      <div class="progress-controls">
        {{#if (eq data.defaultSpell "")}}
          {{localize "arm5e.activity.msg.noSpell"}}
        {{else}}
          <a class="progress-control" data-action="add" data-type="spells" data-applied="{{data.applied}}"
            data-default="{{data.defaultSpell}}"><i class="fas fa-plus"></i></a>
        {{/if}}
      </div>
    </header>
    <div class="resource">
      <ol class="progresses-list">
        {{#each data.progress.spells as |spell idx|}}

          <li class="item diary-progress flexrow">
            <select name="data.progress.spells.{{idx}}.form" data-dtype="String" data-index="{{idx}}" data-type="spells"
              {{@root.data.disabled}} class="progress-category  flex02" style="min-width: 135px;">
              {{#select spell.form}}
                {{#each ../data.ownedSpells  as | form key|   }}
                  <option value="{{key}}">{{lookup (lookup ../../config.magic.forms key) "label"}}</option>
                {{/each}}
              {{/select}}
            </select>
            <select name="data.progress.spells.{{idx}}.id" data-dtype="String" data-index="{{idx}}" data-type="spells"
              {{@root.data.disabled}} class="progress-spell flex02" style="min-width: 200px;">
              {{#select spell.id}}
                {{#each (lookup ../data.ownedSpells spell.form) as |spell i|}}
                  <option value="{{spell.id}}">{{spell.name}}</option>
                {{/each}}
              {{/select}}
            </select>
            <div class="xp">
              <input type="number" name="data.progress.spells.{{idx}}.xp" value="{{spell.xp}}" data-dtype="Number"
                data-index="{{idx}}" data-type="spells" {{@root.data.canEdit}} class="flex0" style="width:50px" min="0"
                max="5" step="1" {{data.canEdit}} />
            </div>
            <div class="progress-controls">
              <a class="progress-control" data-idx="{{idx}}" data-type="spells" data-action="delete"
                data-applied="{{data.applied}}"><i class="icon-Icon_Delete_Hand_Gesture"></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
  </div>
</section>