<div class="flexcol">
  <div class="flexrow flex-group-left">
    <label class="section-handle header-label clickable " data-category="{{container}}"
      data-section="enchant-attributes" data-index="{{index}}">{{localize "arm5e.enchantment.attributes"}}</label>
  </div>
  <!-- {{log "prefix: " prefix}} -->
  <div class="foldable-section backSection {{lookup visibility 'enchant-attributes'}}"
    id="{{container}}-enchant-attributes{{index}}-{{docId}}">
    <div class="flexrow ressource">
      {{#unless charged}}
        <div class="resource flexcol flex-center">
          <label class="header-label">{{localize "arm5e.lab.enchantment.effectFrequency" }}</label>
          <select name="{{prefix}}system.effectfrequency" {{noSelect}} data-dtype="Number">
            {{#select enchantData.system.effectfrequency}}
              {{#each @root.config.lab.enchantment.effectUses as |uses key|}}
                <option value="{{key}}">{{uses}} {{localize "arm5e.lab.enchantment.uses-per-day"}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
      {{/unless}}
      <div class="resource flexcol flex-center">
        <label class="header-label">{{localize "arm5e.lab.enchantment.penetration"}}</label>
        <input type="number" {{noEdit}} name="{{prefix}}system.penetration" value="{{enchantData.system.penetration}}"
          data-dtype="Number" />
      </div>
      <div class="resource flexcol flex-center">
        <label class="header-label">{{localize "arm5e.lab.enchantment.maintainConc" }}</label>
        <input type="checkbox" {{noSelect}} name="{{prefix}}system.maintainConc" {{checked
          enchantData.system.maintainConc}} />
      </div>
    </div>
    <div class="flexrow resource">
      <div class="resource">
        <label class="header-label">{{localize "arm5e.lab.enchantment.envTrigger"}}</label>
        <input type="text" {{noEdit}} name="{{prefix}}system.environmentalTrigger"
          value="{{enchantData.system.environmentalTrigger}}" data-dtype="String" />
      </div>
      <div class="resource">
        <label class="header-label">{{localize "arm5e.lab.enchantment.linkTrigger"}}</label>
        <input type="text" {{noEdit}} name="{{prefix}}system.linkedTrigger" value="{{enchantData.system.linkedTrigger}}"
          data-dtype="String" />
      </div>
    </div>
    <div class="flexrow resource">
      <div class="resource">
        <label class="header-label">{{localize "arm5e.lab.enchantment.restrictedUse"}}</label>
        <input type="text" {{noEdit}} name="{{prefix}}system.restrictedUse" value="{{enchantData.system.restrictedUse}}"
          data-dtype="String" />
      </div>
      {{#if @root.planning.expiryAllowed}}
        <div class="resource">
          <label class="header-label">{{localize "arm5e.lab.enchantment.item.expiry.label" }}</label>
          <select name="{{prefix}}system.expiry" {{noSelect}} data-dtype="String">
            {{#select enchantData.system.expiry}} {{#each @root.config.lab.enchantment.expiry as |expiry key|}}
                <option value="{{key}}">{{localize expiry}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
      {{/if}}
    </div>
  </div>
</div>