{{#if ui.showProgress}}
  <div>
    <div class="resource">
      <label class="header-label">{{localize "arm5e.sheet.sourceQuality"}} : </label>
      {{#if ui.editSource}}
        <input type="text" name="system.sourceQuality" value="{{system.sourceQuality}}" data-dtype="Number"
          {{system.canEdit}} style="max-width: 50px;" />
      {{else}}
        {{#if system.done}}
          <label class="header-label"><b>{{system.baseQuality}}</b></label>
        {{else}}
          {{#if ui.showBaseQuality}}
            <label class="header-label"> {{localize "arm5e.generic.base"}} ({{system.baseQuality}})</label>
          {{else}}
            <label class="header-label"> : {{localize "arm5e.generic.default"}} ({{system.sourceDefault}}) </label>
          {{/if}}
          {{#if ui.bonusOptions}}
            <label class="header-label"> + </label>
            <select class="progress-bonus" name="system.optionKey" data-dtype="String" {{@root.system.disabled}}>
              {{#select system.optionKey}} {{#each bonusOptions as |option key|}}
                  <option value="{{key}}">{{localize option.label}} ({{option.modifier}})</option>
                {{/each}} {{/select}}
            </select>
          {{/if}}
          {{#unless (or (eq system.aeBonus 0) system.cappedGain)}}
            <label class="header-label"> + </label>
            <label class="header-label"> {{localize "arm5e.sheet.bonus.activeEffects"}} ({{system.aeBonus}})</label>
          {{/unless}}
          {{#unless system.cappedGain}}
            <label class="header-label"> = <b>{{system.sourceQuality}}</b></label>
          {{else}}
            <label class="header-label"> => <b>{{system.sourceQuality}} *</b></label>
          {{/unless}}
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="grid grid-2col">
  </div>
  {{> "systems/arm5e/templates/item/parts/activities.html" }}
{{/if}}
<div class="flexrow">
  <div class="flexrow">
    {{#if system.applyPossible}}
      {{#if rollNeeded}}
        <button class="arm5e flex03 roll-activity" style="font-family: bookAntika">{{localize rollLabel}}</button>
      {{else}}
        <button class="arm5e flex02 progress-apply"
          style="font-family: bookAntika">{{localize "arm5e.sheet.action.apply"}}</button>
      {{/if}}
    {{else}}
      {{#unless system.done}}
        <button class="arm5e flex02 progress-refresh"
          style="font-family: bookAntika">{{localize "arm5e.lab.planning.button.refresh"}}</button>
      {{else}}
        <button class="arm5e flex02 progress-rollback"
          style="font-family: bookAntika">{{localize "arm5e.sheet.action.rollback"}}</button>
      {{/unless}}
    {{/if}}
    <div class="flexcol">
      <label class="header-label"
        style="color:red; padding: 10px;">{{localize system.applyError param=system.errorParam}}</label>
      <label class="header-label" style="padding: 10px;">{{localize system.applyInfo param=system.infoParam}}</label>
    </div>
  </div>
</div>