{{#if ui.showProgress}}
  <div class="grid grid-3col">
    <div class="resource">
      <label class="header-label">{{localize "arm5e.sheet.sourceQuality"}}</label>
      <input type="text" name="data.sourceQuality" value="{{data.sourceQuality}}" data-dtype="Number"
        {{data.canEdit}} />
    </div>
  </div>
  {{> "systems/arm5e/templates/item/parts/activities.html" }}
{{/if}}
<div class="flexrow">
  {{#unless data.applied}}
    <button class="arm5e flex02 progress-apply" style="font-family: bookAntika"
      {{data.applyPossible}}>{{localize "arm5e.sheet.action.apply"}}</button>
    <label class="header-label"
      style="color:red; padding: 10px;">{{localize data.applyError item=data.errorParam}}</label>
  {{else}}
    <button class="arm5e flex02 progress-rollback"
      style="font-family: bookAntika">{{localize "arm5e.sheet.action.rollback"}}</button>
  {{/unless}}
</div>
<!-- <div class="grid grid-2col">
  <div class="resource">
    {{#if (lookup (lookup abilityKeysList data.key) "option")}}
      <label for="data.option" class="header-label">{{localize "arm5e.sheet.skill.abilityOption"}}</label>
      <input type="text" class="ability-option" name="data.option" value="{{data.option}}" style="width: 200px" />
    {{else}}
      <label for="data.option" class="header-label"
        style="color: gray">{{localize "arm5e.sheet.skill.abilityOption"}}</label>
      <input type="text" name="data.option" data-dtype="String" value="" readonly style="width: 200px" />
    {{/if}}
  </div>
</div> -->