{{#if ui.showProgress}}
  <div>
    <div class="resource">
      <label class="header-label">{{localize "arm5e.sheet.sourceQuality"}} : </label>
      {{#if ui.editSource}}
        <input type="text" name="data.sourceQuality" value="{{data.sourceQuality}}" data-dtype="Number" {{data.canEdit}}
          style="max-width: 50px;" />
      {{else}}
        {{#if data.applied}}
          <label class="header-label"><b>{{data.baseQuality}}</b></label>
        {{else}}
          {{#if ui.showTeacher}}
            <label class="header-label"> {{localize "arm5e.generic.base"}} ({{data.baseQuality}})</label>
          {{else}}
            <label class="header-label"> : {{localize "arm5e.generic.default"}} ({{data.sourceDefault}}) </label>
          {{/if}}
          {{#if ui.bonusOptions}}
            <label class="header-label"> + </label>
            <select class="progress-bonus" name="data.optionKey" data-dtype="String" {{@root.data.disabled}}>
              {{#select data.optionKey}} {{#each bonusOptions as |option key|}}
                  <option value="{{key}}">{{localize option.label}} ({{option.modifier}})</option>
                {{/each}} {{/select}}
            </select>
          {{/if}}
          {{#unless (eq data.aeBonus 0)}}
            <label class="header-label"> + </label>
            <label class="header-label"> {{localize "arm5.sheet.bonus.activeEffects"}} ({{data.aeBonus}})</label>
          {{/unless}}
          {{#unless data.cappedGain}}
            <label class="header-label"> = <b>{{data.sourceQuality}}</b></label>
          {{else}}
            <label class="header-label"> => <b>{{data.sourceQuality}} *</b></label>
          {{/unless}}
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="grid grid-2col">
  </div>
  {{> "systems/arm5e/templates/item/parts/activities.html" }}
{{/if}}
<div class="flexrow">
  {{#unless data.applied}}
    <button class="arm5e flex02 progress-apply" style="font-family: bookAntika"
      {{data.applyPossible}}>{{localize "arm5e.sheet.action.apply"}}</button>
    <label class="header-label"
      style="color:red; padding: 10px;">{{localize data.applyError param=data.errorParam}}</label>
  {{else}}
    <button class="arm5e flex02 progress-rollback"
      style="font-family: bookAntika">{{localize "arm5e.sheet.action.rollback"}}</button>
  {{/unless}}
</div>