<div class="tab spell-design" data-group="primary" data-tab="spell-design">
    <div class="item-controls">
        <a class="item-control item-edit" title="Edit Base Effect"><i class="fas fa-edit"></i></a>
    </div>
    <div class="resource">
        <label class="header-label">Base level</label>
        <input type="text" name="data.baseLevel" size="4" value="{{data.baseLevel}}" data-dtype="Number" />
    </div>
    <div class="resource">
        <label class="header-label">Effect Description</label>
        <input type="text" name="data.BaseEffectDescription" value="{{data.BaseEffectDescription}}" data-dtype="String" />
    </div>
    <div class="grid grid-3col">
        <div class="resource">
            <label class="header-label">{{localize "arm5e.sheet.range"}}</label>
            <select name="data.range.value" data-type="String">
                {{#select data.range.value}}
                    {{#each metadata.magic.ranges as |range key|}}
                        <option value="{{key}}">{{localize range.label}} ({{range.impact}})</option>
                    {{/each}} {{/select}}
                <option></option>
            </select>
            <!--input type="text" name="data.range" value="{{data.range}}" data-dtype="String"/-->
        </div>
        <div class="resource">
            <label class="header-label">{{localize "arm5e.sheet.duration"}}</label>
            <select name="data.duration.value" data-type="String">
                {{#select data.duration.value}}
                    {{#each metadata.magic.durations as |duration key|}}
                        <option value="{{key}}">{{localize duration.label}} ({{duration.impact}})</option>
                    {{/each}} {{/select}}
            </select>
            <!-- <input type="text" name="data.duration" value="{{data.duration}}" data-dtype="String"/> -->
        </div>
        <div class="resource">
            <label class="header-label">{{localize "arm5e.sheet.target"}}</label>
            <select name="data.target.value" data-type="String">
                {{#select data.target.value}}
                    {{#each metadata.magic.targets as |target key|}}
                        <option value="{{key}}">{{localize target.label}} ({{target.impact}})</option>
                    {{/each}} {{/select}}
            </select>
            <!-- <input type="text" name="data.target" value="{{data.target}}" data-dtype="String"/> -->
        </div>

        <div class="resource">
            <label class="header-label">{{localize "arm5e.spell.targets.targetSize"}}</label>
            <input type="text" name="data.targetSize" value="{{data.targetSize}}" data-dtype="Number" />
        </div>
        <div class="resource">
            <label class="header-label">{{localize "arm5e.spell.targets.complexity"}}</label>
            <input type="text" name="data.complexity" value="{{data.complexity}}" data-dtype="Number" />
        </div>
        <div class="resource">
            <label class="header-label">{{localize "arm5e.spell.targets.enhancingReq"}}</label>
            <input type="text" name="data.enhancingRequisite" value="{{data.enhancingRequisite}}" data-dtype="Number" />
        </div>
        <div class="resource">
            <label class="header-label">{{localize "arm5e.spell.applyFocus" }}</label>
            <input type="checkbox" name="data.applyFocus" {{checked data.applyFocus}}>
        </div>

    </div>
</div>