<div class="flexcol flex0">
  <label class="planning-item header-label clickable flex0 " data-item="description-planning"
    data-persist="desc">{{localize "arm5e.sheet.description"}}</label>
  <div class="planning-description {{planning.visibility.desc}}" id="description-planning">
    <div class="flex01" style="height: 200px;">
      {{editor spelldata.system.description target="flags.arm5e.planning.data.system.description" button=edition.spellDesc owner=owner editable=edition.spellDesc}}
    </div>
  </div>
</div>
<div class="flexcol flex0" style="margin-top: 10px;">
  <label class="planning-item header-label clickable flex0 " data-item="attributes-planning"
    data-persist="attr">{{localize "arm5e.sheet.attributes"}}</label>
  <div class="planning-attributes {{planning.visibility.attr}}" id="attributes-planning">
    <div class="flexrow flex02">
      <div class="resource flexcol flex01">
        <label for="{{prefix}}.system.technique.value" class="header-label">{{localize "arm5e.sheet.technique"}}</label>
        <select name="{{prefix}}.system.technique.value" data-type="String" {{edition.spellCombobox}}>
          {{#select spelldata.system.technique.value}} {{#each config.magic.techniques as |techniques key|}}
              <option value="{{key}}">{{techniques.label}}</option>
            {{/each}} {{/select}}
        </select>
      </div>
      <div class="resource flexcol flex01">
        <label for="system.form.value" class="header-label">{{localize "arm5e.sheet.form"}}</label>
        <select name="{{prefix}}.system.form.value" data-type="String" {{edition.spellCombobox}}>
          {{#select spelldata.system.form.value }} {{#each config.magic.forms as |forms key|}}
              <option value="{{key}}">{{forms.label}}</option>
            {{/each}} {{/select}}
        </select>
      </div>
      <div class="resource flexcol flex-center flex01">
        <label class="header-label ">{{localize "arm5e.sheet.Requisites"}}</label>
        <a class="item-control advanced-req" title="Advanced Requistes" data-flavor="{{ui.flavor}}"><i
            class="fas fa-gavel fa-lg"></i></a>
      </div>
      <div class="resource flexcol flex01">
        <label class="header-label flex01" style="max-width: 100px">{{localize "arm5e.sheet.level"}}</label>
        <input type="number" name="{{prefix}}.system.level" value="{{spelldata.system.level}}" style="max-width: 60px"
          data-dtype="Number" {{edition.spellField}} />
      </div>
      <div class="resource flexcol flex-center ">
        <label class="header-label">{{localize "arm5e.sheet.ritual"}}</label>
        <input type="checkbox" name="{{prefix}}.system.ritual" {{checked spelldata.system.ritual}}
          {{edition.spellCombobox}} />
      </div>
      <div class="resource flexcol flex-center">
        <label class="header-label">{{localize "arm5e.sheet.general"}}</label>
        <input type="checkbox" name="{{prefix}}.system.general" size="4" {{checked spelldata.system.general}}
          {{edition.spellCombobox}} />
      </div>
    </div>
    <div class="flexrow flex02">
      <div class="resource">
        <label class="header-label">{{localize "arm5e.sheet.range"}}</label>
        <select name="{{prefix}}.system.range.value" data-type="String" class="spell-attribute"
          {{edition.spellCombobox}}>
          {{#select spelldata.system.range.value}} {{#each ranges as |range key|}}
              <option value="{{key}}" {{disabled range.disabled}}>
                {{localize range.label}}{{#if (eq range.disabled undefined)}}
                  ({{range.impact}}){{/if}}
              </option>
            {{/each}} {{/select}}
          <option></option>
        </select>
        <!--input type="text" name="system.range" value="{{system.range}}" data-dtype="String"/-->
      </div>
      <div class="resource">
        <label class="header-label">{{localize "arm5e.sheet.duration"}}</label>
        <select name="{{prefix}}.system.duration.value" data-type="String" class="spell-attribute"
          {{edition.spellCombobox}}>
          {{#select spelldata.system.duration.value}} {{#each durations as |duration key|}}
              <option value="{{key}}" {{disabled duration.disabled}}>
                {{localize duration.label}}{{#if (eq duration.disabled undefined)}} ({{duration.impact}}){{/if}}
              </option>
            {{/each}} {{/select}}
        </select>
        <!-- <input type="text" name="system.duration" value="{{system.duration}}" data-dtype="String"/> -->
      </div>
      <div class="resource">
        <label class="header-label">{{localize "arm5e.sheet.target"}}</label>
        <select name="{{prefix}}.system.target.value" data-type="String" class="spell-attribute"
          {{edition.spellCombobox}}>
          {{#select spelldata.system.target.value}} {{#each targets as |target key|}}
              <option value="{{key}}" {{disabled target.disabled}}>{{localize target.label}}
                {{#if (eq target.disabled undefined)}}
                  ({{target.impact}}){{/if}}
              </option>
            {{/each}} {{/select}}
        </select>
        <!-- <input type="text" name="system.target" value="{{system.target}}" data-dtype="String"/> -->
      </div>
    </div>
    <div class="flexrow flex01">
      <div class="resource">
        <label class="header-label">Base level</label>
        <input style="max-width: 70px;" type="number" name="{{prefix}}.system.baseLevel" size="4"
          value="{{spelldata.system.baseLevel}}" class="resource-focus" data-dtype="Number" {{edition.spellField}} />
      </div>
      <div class="resource">
        {{#if spelldata.system.general}}
          <label class="header-label">{{localize "arm5e.spell.effect.levelOffset"}}</label>
          <input type="number" name="{{prefix}}.system.levelOffset" value="{{spelldata.system.levelOffset}}"
            class="resource-focus" data-dtype="Number" style="max-width: 40px;" {{edition.spellField}} />
        {{/if}}
      </div>
    </div>
    <div class="flexrow flex02">
      <div class="resource">
        <label class="header-label">{{localize "arm5e.spell.effect.description"}}</label>
        <input type="text" name="{{prefix}}.system.baseEffectDescription"
          value="{{spelldata.system.baseEffectDescription}}" title="{{spelldata.system.baseEffectDescription}}"
          data-dtype="String" {{edition.spellField}} />
      </div>
    </div>
    <div class="flexrow flex02">
      <div class="resource">
        <label class="header-label">{{localize "arm5e.spell.targets.targetSize"}}</label>
        <input type="number" name="{{prefix}}.system.targetSize" value="{{spelldata.system.targetSize}}"
          class="resource-focus" data-dtype="Number" {{edition.spellField}} />
      </div>
      <div class="resource">
        <label class="header-label">{{localize "arm5e.spell.targets.complexity"}}</label>
        <input type="number" name="{{prefix}}.system.complexity" value="{{spelldata.system.complexity}}"
          class="resource-focus" data-dtype="Number" {{edition.spellField}} />
      </div>
      <div class="resource">
        <label class="header-label">{{localize "arm5e.spell.targets.enhancingReq"}}</label>
        <input type="number" name="{{prefix}}.system.enhancingRequisite" value="{{spelldata.system.enhancingRequisite}}"
          class="resource-focus" data-dtype="Number" {{edition.spellField}} />
      </div>
      <div class="resource">
        <label class="header-label">{{localize "arm5e.spell.applyFocus" }}</label>
        <input type="checkbox" name="{{prefix}}.system.applyFocus" {{checked spelldata.system.applyFocus}}
          {{edition.spellCombobox}} />
      </div>
    </div>
  </div>
</div>