<div class="grid grid-2col">
  <div class="resource">
    <label class="header-label">Base level</label>
    <input style="max-width: 70px;" type="number" name="system.baseLevel" size="4" value="{{system.baseLevel}}"
      data-dtype="Number" />
  </div>
  <div class="resource">
    <label class="header-label">{{localize "arm5e.sheet.general"}}</label>
    <input type="checkbox" name="system.general" size="4" {{checked system.general}} />
    {{#if system.general}}
      <label class="header-label">{{localize "arm5e.spell.effect.levelOffset"}}</label>
      <input type="number" name="system.levelOffset" value="{{system.levelOffset}}" data-dtype="Number"
        style="max-width: 40px;" class="resource-focus" />
    {{/if}}
  </div>
</div>
<div class="resource">
  <label class="header-label">{{localize "arm5e.spell.effect.description"}}</label>
  <input type="text" name="system.baseEffectDescription" value="{{system.baseEffectDescription}}" data-dtype="String" />
</div>
<div class="flexrow">
  <div class="resource">
    <label class="header-label">{{localize "arm5e.sheet.range"}}</label>
    <select name="system.range.value" data-type="String" class="spell-attribute">
      {{#select system.range.value}} {{#each ranges as |range key|}}
          <option value="{{key}}" {{disabled range.disabled}}>
            {{localize range.label}}{{#if (eq range.disabled undefined)}}
              ({{range.impact}}){{/if}}
          </option>
        {{/each}} {{/select}}
      <option></option>
    </select>
    <!--input type="text" name="system.range" value="{{system.range}}" data-dtype="String"/-->
  </div>
  <div class="resource">
    <label class="header-label">{{localize "arm5e.sheet.duration"}}</label>
    <select name="system.duration.value" data-type="String" class="spell-attribute">
      {{#select system.duration.value}} {{#each durations as |duration key|}}
          <option value="{{key}}" {{disabled duration.disabled}}>
            {{localize duration.label}}{{#if (eq duration.disabled undefined)}} ({{duration.impact}}){{/if}}
          </option>
        {{/each}} {{/select}}
    </select>
    <!-- <input type="text" name="system.duration" value="{{system.duration}}" data-dtype="String"/> -->
  </div>
  <div class="resource">
    <label class="header-label">{{localize "arm5e.sheet.target"}}</label>
    <select name="system.target.value" data-type="String" class="spell-attribute">
      {{#select system.target.value}} {{#each targets as |target key|}}
          <option value="{{key}}" {{disabled target.disabled}}>{{localize target.label}}
            {{#if (eq target.disabled undefined)}}
              ({{target.impact}}){{/if}}
          </option>
        {{/each}} {{/select}}
    </select>
    <!-- <input type="text" name="system.target" value="{{system.target}}" data-dtype="String"/> -->
  </div>

  <div class="resource">
    <label class="header-label">{{localize "arm5e.spell.targets.targetSize"}}</label>
    <input type="number" name="system.targetSize" value="{{system.targetSize}}" class="resource-focus"
      data-dtype="Number" />
  </div>
  <div class="resource">
    <label class="header-label">{{localize "arm5e.spell.targets.complexity"}}</label>
    <input type="number" name="system.complexity" value="{{system.complexity}}" class="resource-focus"
      data-dtype="Number" />
  </div>
  <div class="resource">
    <label class="header-label">{{localize "arm5e.spell.targets.enhancingReq"}}</label>
    <input type="number" name="system.enhancingRequisite" value="{{system.enhancingRequisite}}" class="resource-focus"
      data-dtype="Number" />
  </div>
  {{#if item.parent}} {{#if (ne item.parent.system.type "magicCodex")}}
      <div class="resource">
        <label class="header-label">{{localize "arm5e.spell.applyFocus" }}</label>
        <input type="checkbox" name="system.applyFocus" {{checked system.applyFocus}} />
      </div>
    {{/if}} {{/if}}
  <div class="resource">
    <label class="header-label"><b>{{localize "arm5e.spell.targets.baseSize.label" }}: </b></label>
    {{#with (lookup config.magic.forms system.form.value)}}
      <label class="header-label">{{localize baseSize}}</label>
    {{/with}}
  </div>
</div>