<div class="padding4 flexrow flex-group-left">
  <label class="section-handle clickable" data-category="planning" data-section="vis-cost">
    {{localize "arm5e.lab.visCosts.label" amount=planning.data.visCost.amount
     tech=planning.data.visCost.technique form=planning.data.visCost.form }}</label>
</div>
<div
  class="foldable-section backSection enchantment padding4 {{lookup @root.ui.sections.visibility.planning 'vis-cost'}}"
  id="planning-vis-cost-{{@root.actor._id}}">
  <div class="padding4 flexrow flex-group-left">
    <label class="section-handle header-label clickable" data-category="planning"
      data-section="magus-vis">{{localize "arm5e.lab.visCosts.magusStock"}}</label>
  </div>
  <div
    class="foldable-section backSection enchantment padding4 {{lookup @root.ui.sections.visibility.planning 'magus-vis'}}"
    id="planning-magus-vis-{{@root.actor._id}}">
    {{#each planning.data.visCost.magus as |vis id|}}
      <div class="padding4 flexrow flex-group-left">
        <label class="header-label ">{{vis.label}}</label>
        <label class="header-label modifier">{{vis.art}}</label>
        <div class="padding2 modifier">
          <input type="number" readonly value="{{vis.amount}}" data-dtype="Number" />
        </div>
        <div class="padding2 modifier">
          <input class="vis-use resource-focus" type="number" name="{{../prefix}}visCost.magus.{{id}}.used"
            value="{{vis.used}}" data-dtype="Number" data-id="{{id}}" data-stock="magus" data-amount="{{vis.amount}}" />
        </div>
      </div>
    {{/each}}
  </div>
  <div class="padding4 flexrow flex-group-left">
    <label class="section-handle header-label clickable" data-category="planning"
      data-section="lab-vis">{{localize "arm5e.lab.visCosts.labStock"}}</label>
  </div>

  <div
    class="foldable-section backSection enchantment padding4 {{lookup @root.ui.sections.visibility.planning 'lab-vis'}}"
    id="planning-lab-vis-{{@root.actor._id}}">
    {{#each planning.data.visCost.lab as | vis id |}}
      <div class="padding4 flexrow flex-group-left">
        <label class="header-label ">{{vis.label}}</label>
        <label class="header-label modifier">{{vis.art}}</label>
        <div class="padding2 modifier">
          <input type="number" readonly value="{{vis.amount}}" data-dtype="Number" />
        </div>
        <div class="padding2 modifier">
          <input class="vis-use resource-focus" type="number" name="{{../prefix}}visCost.lab.{{id}}.used"
            value="{{vis.used}}" data-dtype="Number" data-id="{{id}}" data-stock="lab" data-amount="{{vis.amount}}" />
        </div>
      </div>
    {{/each}}
  </div>
</div>