<form class="{{cssClass}} mainItem" autocomplete="off">

    {{> "systems/arm5e/templates/item/parts/item-header.html" }}
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>

            <div class="resource">
                <label>{{localize "arm5e.sheet.speciality"}}<input type="text" name="data.speciality" value="{{data.speciality}}" data-dtype="String" /></label>
            </div>
            {{#if item.parent }}
                <div class="grid grid-3col">
                    <label>{{localize "arm5e.sheet.score"}}<input type="text" name="data.derivedScore" value="{{data.derivedScore}}" data-dtype="Number" readonly /></label>
                    <div class="ressource" style="padding-top: 18px;">
                        <a class="item-control decrease-ability" title="Decrease score"><i class="fas fa-minus"></i></a>
                        <a class="item-control increase-ability" title="Increase score"><i class="fas fa-plus"></i></a>
                    </div>
                    <label>{{localize "arm5e.sheet.experience"}}<input type="text" name="data.xp" value="{{data.xp}}" data-dtype="Number" /></label>
                </div>
            {{/if}}
            <div class="resource">
                <label>{{localize "arm5e.sheet.defaultCharacteristicForAbility"}}</label>
                <div class="flexcol flexrow">
                    <select name="data.defaultCharacteristicForAbility" data-type="String" class="default-characteristic">
                        {{#select data.defaultCharacteristicForAbility}}
                        {{#each metadata.character.characteristics as |item key|}}
                        <option value="{{key}}">{{localize label}}</option>
                        {{/each}} {{/select}}
                    </select>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
        <a class="item posRelative" data-tab="description">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.description"}}
        </a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            {{#if (eq metagame true)}}
                {{> "systems/arm5e/templates/generic/source.html" }}
            {{/if}}
        </div>

    </section>
    {{> "systems/arm5e/templates/item/parts/item-footer.html" }}
</form>