<form class="sheet-content flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="resource flexcol">
          <label for="system.art" class="header-label">{{localize "arm5e.sheet.art"}}</label>
          <select name="system.art" data-type="String">
            {{#select system.art}} {{#each config.magic.arts as |arts key|}}
                <option value="{{key}}">{{arts.label}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
        {{#if displayStudyIcon}}
          <div>
            <a class="vis-study" title="{{localize 'arm5e.activity.visStudy'}}"
              style=" font-size: 16pt; padding: 0px"><i class="icon-Icon_Effects"></i>
            </a>
          </div>
        {{/if}}
      </div>
      <div class="resource">
        <label class="header-label">{{localize "arm5e.sheet.pawns"}}</label>
        <input type="text" name="system.quantity" value="{{system.quantity}}" class="resource-focus" data-dtype="Number"
          style="max-width: 100px;" />
      </div>
    </div>
  </header>


  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <label for="system.description" class="header-label">{{localize "arm5e.sheet.description"}}</label>
    <div class="tab editor">
      {{editor system.description target="system.description" button=true owner=owner engine="prosemirror" editable=editable}}
      {{#if metagame.view }}
        {{> "systems/arm5e/templates/generic/source.html" }}
      {{/if}}
    </div>
  </section>
</form>