<form class="{{cssClass}} mainItem" autocomplete="off">
    {{> "systems/arm5e/templates/item/parts/item-header.html" }}
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname" style="margin-top: 36px;"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>

            <div class="resource flexcol" style="margin-top: 8px;">
                <label class="bold">{{localize "arm5e.sheet.owner"}}</label>
                <input type="text" name="data.owner" value="{{data.owner}}" data-dtype="String" />
            </div>

            <div class="resource flexcol" style="margin-top: 8px;">
                <label class="bold">{{localize "arm5e.sheet.location"}}</label>
                <input type="text" name="data.location" value="{{data.location}}" data-dtype="String" />
            </div>

            <div class="grid grid-2col" style="margin-top: 8px;">
                <div class="resource flexcol flexrow">
                    <label for="data.quality" class="bold">{{localize "arm5e.sheet.quality"}}</label>
                    <input type="text" name="data.quality" value="{{data.quality}}" data-dtype="Number" />
                </div>
                <div class="resource flexcol flexrow">
                    <label for="data.score" class="bold">{{localize "arm5e.lab.upkeep"}}</label>
                    <input type="text" name="data.upkeep" value="{{data.upkeep}}" data-dtype="Number" />
                </div>
            </div>

            <div class="grid grid-2col" style="margin-top: 8px;">
                <div class="resource" style="margin-top: 8px;">
                    <label class="bold">{{localize "arm5e.lab.usage.label"}}</label>
                    <select name="data.usage" data-type="String">
                        {{#select data.usage}}
                            {{#each metadata.lab.usage as |usage key|}}
                                <option value="{{key}}">{{localize usage.label}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>

                <div class="resource" style="margin-top: 8px;">
                    <label class="bold">{{localize "arm5e.sheet.points"}}</label>
                    <input type="text" readonly name="data.points" value="{{data.points}}" data-dtype="Number" />
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
        <a class="item posRelative" data-tab="description">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.description"}}
        </a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
    {{> "systems/arm5e/templates/item/parts/item-footer.html" }}
</form>