<form class="sheet-content flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="flexcol">
      <div class="flexrow">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="flexcol header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
          {{#if system.canEquip}}
            <div class="resource flexcol flexrow">
              <label for="system.ability" class="header-label">{{localize "arm5e.sheet.ability"}} </label>
              <select name="system.ability" data-type="String" class="ability-key">
                {{#select system.ability}} {{#each system.abilities }}
                    <option value="{{id}}">{{name}}</option>
                  {{/each}} {{/select}}
              </select>
            </div>
          {{/if}}
          <div class="grid grid-2col">
            {{#if system.canEquip}}
              <div class="resource">
                <label class="header-label">{{localize "arm5e.sheet.equipped"}}</label>
                <input type="checkbox" name="system.equipped" class="toggle" data-item-id="{{item.id}}"
                  data-attr="equipped" {{checked system.equipped}} />
              </div>
              <div class="resource">
                <label class="header-label">{{localize "arm5e.sheet.weaponExpert"}}</label>
                <input type="checkbox" name="system.weaponExpert" {{checked system.weaponExpert}} />
              </div>
            {{/if}}
          </div>
          <div class="grid grid-3col">
            <div class="resource flex-group-right">
              <label class="header-label">{{localize "arm5e.sheet.initiative"}}</label>
              <input type="number" name="system.init" value="{{system.init}}" class="modifier resource-focus"
                data-dtype="Number" />
            </div>
            <div class="resource flex-group-right">
              <label class="header-label">{{localize "arm5e.sheet.attack"}}</label>
              <input type="number" name="system.atk" value="{{system.atk}}" class="modifier resource-focus"
                data-dtype="Number" />
            </div>
            <div class="resource flex-group-right">
              <label class="header-label">{{localize "arm5e.sheet.defense"}}</label>
              <input type="number" name="system.dfn" value="{{system.dfn}}" class="modifier resource-focus"
                data-dtype="Number" />
            </div>
            <div class="resource flex-group-right">
              <label class="header-label">{{localize "arm5e.sheet.damage"}}</label>
              <input type="number" name="system.dam" value="{{system.dam}}" class="modifier resource-focus"
                data-dtype="Number" />
            </div>
            <div class="resource flex-group-right">
              <label class="header-label">{{localize "arm5e.sheet.range"}}</label>
              <input type="number" name="system.range" value="{{system.range}}" class="modifier resource-focus"
                data-dtype="Number" />
            </div>
            <div class="resource flex-group-right">
              <label class="header-label">{{localize "arm5e.sheet.load"}}</label>
              <input type="number" name="system.load" value="{{system.load}}" class="modifier resource-focus"
                data-dtype="Number" />
            </div>
          </div>
          {{#if isGM}}
            <div class="flexrow">
              <div class="resource">
                <label class="header-label">{{localize "arm5e.sheet.state.label"}}</label>
                <input type="text" name="system.state" style="max-width: 150px;"
                  value="{{localize (lookup config.lab.enchantment.state system.state)}}" data-dtype="String" readonly>
              </div>
              <div class="resource" style="max-width: 100px;">
                <img src="systems/arm5e/assets/icons/Icon_Details_option1.png" class="appraise" title="Appraisal"
                  style="border: 0px; width: 32px; height: 32px;" />
              </div>
            </div>
          {{/if}}
        </div>
      </div>
      <div class="flexrow">
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.strengthNeeded"}}</label>
          <input type="number" name="system.str" value="{{system.str}}" class="modifier resource-focus"
            data-dtype="Number" />
        </div>

        <div class="resource">
          <label for="system.cost.value" class="header-label">{{localize "arm5e.sheet.cost"}}</label>
          <select name="system.cost.value" data-type="String">
            {{#select system.cost.value}} {{#each config.item.costs as |costs key|}}
                <option value="{{key}}">{{localize label}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.quantity"}}</label>
          <input type="number" name="system.quantity" value="{{system.quantity}}" class="modifier resource-focus"
            data-dtype="Number" />
        </div>
        <div class="resource flex0" style="min-width: 100px;">
          <label class="checkbox-label">{{localize "arm5e.sheet.horse"}}</label>
          <input type="checkbox" name="system.horse" {{checked system.horse}} />
        </div>
      </div>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="description">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
    {{#if (ne system.state "inert")}}
      <a class="item posRelative" data-tab="enchantments">
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
        {{localize "arm5e.sheet.item.enchantments"}}
      </a>
    {{/if}}
  </nav>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    {{#if (eq system.state "inert")}}
      <div class="tab" data-group="primary" data-tab="description">
        <div>
          {{editor system.description target="system.description" button=true owner=owner engine="prosemirror" editable=editable}}
        </div>
      </div>
    {{else }}
      <div>
        {{> "systems/arm5e/templates/item/parts/enchant-extension.html" }}
      </div>
    {{/if}}
    {{#if metagame.view }}
      <div class="resource flexrow">
        <label class="header-label">{{localize "arm5e.sheet.indexKey"}}</label>
        <input type="text" name="system.indexKey" value="{{system.indexKey}}" data-dtype="String"
          style="font-size: 10px; border:none; color:grey" {{metagame.edit}} />
      </div>
    {{/if}}
  </section>
</form>