<form class="{{cssClass}} flexcol mainItem" autocomplete="off"
  style="background-image: url('systems/arm5e/assets/item/{{ui.flavor}}_background.png')">
  {{> "systems/arm5e/templates/item/parts/item-header.html" flavor=ui.flavor }}
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname" style="margin-top: 36px">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
      </h1>

      <div class="resource flexcol" style="margin-top: 8px">
        <label class="bold">{{localize "arm5e.sheet.job"}}</label>
        <input type="text" name="system.job" value="{{system.job}}" data-dtype="String" />
      </div>

      <div class="grid grid-2col" style="margin-top: 8px">
        <div class="resource flexcol flexrow">
          <label for="system.yearBorn" class="bold">{{localize "arm5e.sheet.yearBorn"}}</label>
          <input type="text" name="system.yearBorn" value="{{system.yearBorn}}" data-dtype="String" />
        </div>
        <div class="resource flexcol flexrow">
          <label for="system.quantity" class="bold">{{localize "arm5e.sheet.quantity"}}</label>
          <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="description">
      <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
  </nav>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
  </section>
  {{> "systems/arm5e/templates/item/parts/item-footer.html" flavor=ui.flavor}}
</form>