<form class="sheet-content flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>

      <div class="resource">
        <label for="system.location" class="header-label">{{localize "arm5e.sheet.location"}}</label>
        <input type="text" name="system.location" value="{{system.location}}" data-dtype="String" />
      </div>

      <div class="resource">
        <label for="system.dimensions" class="header-label">{{localize "arm5e.sheet.dimensions"}}</label>
        <input type="text" name="system.dimensions" value="{{system.dimensions}}" data-dtype="String" />
      </div>

      <div class="resource">
        <label class="header-label">{{localize "arm5e.sheet.inhabitants"}}</label>
        <input type="text" name="system.inhabitants" value="{{system.inhabitants}}" data-dtype="String" />
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="description">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
  </nav>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner engine="prosemirror" editable=editable}}
    </div>
  </section>
</form>