<form class="{{cssClass}} flexcol mainItem" autocomplete="off"
  style="background-image: url('systems/arm5e/assets/item/{{ui.flavor}}_background.png')">
  {{> "systems/arm5e/templates/item/parts/item-header.html" flavor=ui.flavor}}
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-col">
        <div class="resource flexcol flexrow">
          <label for="system.technique.value" class="header-label">{{localize "arm5e.sheet.technique"}}</label>
          <select name="system.technique.value" data-type="String">
            {{#select system.technique.value}} {{#each config.magic.techniques as |techniques key|}}
                <option value="{{key}}">{{techniques.label}}</option>
              {{/each}} {{/select}}
          </select>
        </div>

        <div class="resource flexcol flexrow">
          <label for="system.form.value" class="header-label">{{localize "arm5e.sheet.form"}}</label>
          <select name="system.form.value" data-type="String">
            {{#select system.form.value}} {{#each config.magic.forms as |forms key|}}
                <option value="{{key}}">{{forms.label}}</option>
              {{/each}} {{/select}}
          </select>
        </div>

        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.level"}}</label>
          <input type="text" name="system.level" value="{{system.level}}" data-dtype="Number" />
        </div>

        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.uses"}}</label>
          <input type="text" name="system.uses" value="{{system.uses}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="description">
      <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
    <a class="item posRelative" data-tab="attributes">
      <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.attributes"}}
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="grid grid-3col">
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.range"}}</label>
          <select name="system.range.value" data-type="String" class="spell-attribute">
            {{#select system.range.value}} {{#each ranges as |range key|}}
                <option value="{{key}}" {{disabled range.disabled}}>
                  {{localize range.label}}{{#if (eq range.disabled undefined)}}
                    ({{range.impact}}){{/if}}
                </option>
              {{/each}} {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.duration"}}</label>
          <select name="system.duration.value" data-type="String" class="spell-attribute">
            {{#select system.duration.value}} {{#each durations as |duration key|}}
                <option value="{{key}}" {{disabled duration.disabled}}>
                  {{localize duration.label}}{{#if (eq duration.disabled undefined)}} ({{duration.impact}}){{/if}}
                </option>
              {{/each}} {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.target"}}</label>
          <select name="system.target.value" data-type="String" class="spell-attribute">
            {{#select system.target.value}} {{#each targets as |target key|}}
                <option value="{{key}}" {{disabled target.disabled}}>{{localize target.label}}
                  {{#if (eq target.disabled undefined)}}
                    ({{target.impact}}){{/if}}
                </option>
              {{/each}} {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.effects"}}</label>
          <input type="text" name="system.effects" value="{{system.effect}}" data-dtype="String" />
        </div>
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.creator"}}</label>
          <input type="text" name="system.creator" value="{{system.creator}}" data-dtype="String" />
        </div>
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.year"}}</label>
          <input type="text" name="system.year" value="{{system.year}}" data-dtype="String" />
        </div>
      </div>
    </div>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}} {{#if (eq
      metagame true)}} {{> "systems/arm5e/templates/generic/source.html" }} {{/if}}
    </div>
  </section>
  {{> "systems/arm5e/templates/item/parts/item-footer.html" flavor=ui.flavor}}
</form>