<form class="{{cssClass}} flexcol mainItem limited-sheet" autocomplete="off"
  style="background-image: url('systems/arm5e/assets/item/{{ui.flavor}}_background.webp')">
  {{> "systems/arm5e/templates/item/parts/item-header.html" flavor=ui.flavor}}

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname">
        <div class="flexrow"><input class="flex1" name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </div>
      </h1>
      <div class="flex-group-left padding12 backSection" style="height: 457px;">
        <label class="smallTitle">{{localize "arm5e.sheet.description"}}</label>
        {{editor system.description target="system.description" button=true owner=owner engine="prosemirror" editable=editable}}
      </div>
  </header>
  {{> "systems/arm5e/templates/item/parts/item-footer.html" flavor=ui.flavor}}
</form>