<form class="{{cssClass}} main" autocomplete="off">
    <header class="sheet-header">

        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="name"/></h1>
            <div class="grid grid-col">
                <div class="resource">
                    <label>{{localize "arm5e.sheet.year"}}<input type="text" name="data.year"  value="{{data.year}}"  data-dtype="String" /></label>
                </div>
                <div class="resource">
                    <label>{{localize "arm5e.sheet.season"}}<input type="text" name="data.season"  value="{{data.season}}"  data-dtype="String" /></label>
                </div>
                <div class="resource">
                    <label>{{localize "arm5e.sheet.date"}}<input type="text" name="data.date"  value="{{data.date}}"  data-dtype="String" /></label>
                </div>
                <div class="resource">
                    <label>{{localize "arm5e.sheet.experience"}}<input type="text" name="data.experience"  value="{{data.experience}}"  data-dtype="Number" /></label>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
        <a class="item posRelative" data-tab="description">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/ballBronce.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/ballBronce.png" /></div>
            {{localize "arm5e.sheet.description"}}
        </a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
