<form class="sheet-content flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.quantity"}}</label>
          <input type="number" name="system.quantity" value="{{system.quantity}}" class=" modifier resource-focus"
            data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.weight"}}</label>
          <input type="number" name="system.weight" value="{{system.weight}}" class="modifier resource-focus"
            data-dtype="Number" />
        </div>
        {{#if isGM}}
          <div class="resource">
            <label class="header-label">{{localize "arm5e.sheet.state.label"}}</label>
            <input type="text" name="system.state"
              value="{{localize (lookup config.lab.enchantment.receptacle.state system.state)}}" data-dtype="String"
              readonly>
          </div>
          <div class="resource">
            <img src="systems/arm5e/assets/icons/Icon_Details_option1.png" class="appraise"
              title="{{localize 'arm5e.lab.enchantment.item.appraisal'}}"
              style="border: 0px; width: 32px; height: 32px;" />
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="description">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
    {{#if (ne system.state "inert")}}
      <a class="item posRelative" data-tab="enchantments">
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
        {{localize "arm5e.sheet.attributes"}}
      </a>
    {{/if}}
  </nav>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{#if (eq system.state "inert")}}
      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
        {{editor system.description target="system.description" button=true owner=owner engine="prosemirror"
         editable=editable}}
      </div>
    {{else }}
      <div>
        {{> "systems/arm5e/templates/item/parts/enchant-extension.html" }}
      </div>
    {{/if}}
    {{#if metagame.view }}
      <div class="resource flexrow">
        <label class="header-label">{{localize "arm5e.sheet.indexKey"}}</label>
        <input type="text" name="system.indexKey" value="{{system.indexKey}}" data-dtype="String"
          style="font-size: 10px; border:none; color:grey" {{metagame.edit}} />
      </div>
    {{/if}}
  </section>
</form>