<form class="{{cssClass}} mainItem" autocomplete="off">
    {{> "systems/arm5e/templates/item/parts/item-header.html" }}
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="resource flexcol flexrow">
                <input type="text" name="data.enchantmentName" value="{{data.enchantmentName}}">
            </div>
            <div class="resource flexcol flexrow">
                <label class="header-label">
                    {{data.localizedDesc}}
                </label>
            </div>
            <div class="resource flexcol flexrow">
                <label class="header-label">{{localize "arm5e.lab.enchantment.penetration"}} : {{data.penetration}}</label>
            </div>
            {{#if data.charged}}
                <div class="resource">
                    <label class="header-label">{{localize "arm5e.sheet.uses"}}</label>
                    <input type="text" name="data.uses" value="{{data.charges}}" data-dtype="Number" />
                </div>
            {{/if}}
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
        <a class="item posRelative" data-tab="description">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.description"}}
        </a>
        <a class="item posRelative" data-tab="attributes">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.effect"}}
        </a>
        <a class="item posRelative" data-tab="enchantment">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.lab.enchantment.label"}}
        </a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="header-label">{{localize "arm5e.sheet.range"}}
                        {{#with (lookup metadata.magic.ranges data.range.value)~}}
                            <label class="header-label">: {{localize label}}</label>
                        {{/with}}
                </div>
                <div class="resource">
                    <label class="header-label">{{localize "arm5e.sheet.duration"}}</label>
                    {{#with (lookup metadata.magic.durations data.duration.value)~}}
                        <label class="header-label">: {{localize label}}</label>
                    {{/with}}
                </div>
                <div class="resource">
                    <label class="header-label">{{localize "arm5e.sheet.target"}}</label>
                    {{#with (lookup metadata.magic.targets data.target.value)~}}
                        <label class="header-label">: {{localize label}}</label>
                    {{/with}}
                </div>
                <div class="resource">
                    <label class="header-label">{{localize "arm5e.spell.targets.targetSize"}}</label>
                    <label class="header-label">: {{data.targetSize}}</label>
                </div>
                <div class="resource">
                    <label class="header-label">{{localize "arm5e.spell.targets.complexity"}}</label>
                    <label class="header-label">: {{data.complexity}}</label>
                </div>
                <div class="resource">
                    <label class="header-label">{{localize "arm5e.spell.targets.enhancingReq"}}</label>
                    <label class="header-label">: {{data.enhancingRequisite}}</label>
                </div>
                {{> "systems/arm5e/templates/item/parts/item-magic-item.html" }}
            </div>



        </div>
        <div class="tab enchantment" data-group="primary" data-tab="enchantment">
            {{> "systems/arm5e/templates/item/parts/item-enchantment.html" }}
        </div>

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="header-label">{{localize "arm5e.sheet.creator"}}</label>
                    <input type="text" name="data.creator" value="{{data.creator}}" data-dtype="String" />
                </div>
                <div class="resource">
                    <label for="data.season" class="header-label">{{localize "arm5e.sheet.season"}}</label>
                    <select name="data.season" data-type="String" style="width: 100%">
                        {{#select data.season}}
                            {{#each metadata.seasons as |season key|}}
                                <option value="{{key}}">{{localize season.label}}</option>
                            {{/each}} {{/select}}
                    </select>
                </div>
                <div class="resource">
                    <label class="header-label">{{localize "arm5e.sheet.year"}}</label>
                    <input type="text" name="data.year" value="{{data.year}}" data-dtype="String" />
                </div>
            </div>
            <div class="resource">
                <label class="header-label">{{localize "arm5e.sheet.description"}}</label>
            </div>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            {{#if (eq metagame true)}}
                {{> "systems/arm5e/templates/generic/source.html" }}
            {{/if}}
        </div>

    </section>
    {{> "systems/arm5e/templates/item/parts/item-footer.html" }}
</form>