<form class="{{cssClass}} main" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>

            <div class="grid grid-2col">
                <div class="resource flexcol flexrow">
                    <label for="data.loyalty" class="header-label">{{localize "arm5e.sheet.loyalty"}}</label>
                    <input type="text" name="data.loyalty" value="{{data.loyalty}}" data-dtype="String"/>
                </div>
                <div class="resource flexcol flexrow">
                    <label for="data.points" class="header-label">{{localize "arm5e.sheet.points"}}</label>
                    <input type="text" name="data.points" value="{{data.points}}" data-dtype="Number"/>
                </div>
            </div>

            
            <div class="resource">
                <label class="header-label">{{localize "arm5e.sheet.yearBorn"}}</label>
                <input type="text" name="data.yearBorn" value="{{data.yearBorn}}" data-dtype="String"/>
            </div>
            <div class="resource">
                <label class="header-label">{{localize "arm5e.sheet.giftType"}}</label>
                <input type="text" name="data.giftType" value="{{data.giftType}}" data-dtype="String"/>
            </div>
            <div class="resource flexcol flex-center">
                <label class="header-label">{{localize "arm5e.sheet.job"}}</label>
                <input type="text" name="data.job" {{checked data.job}} data-dtype="Number" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "arm5e.sheet.description"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
