<form class="{{cssClass}} flexcol mainItem" autocomplete="off"
  style="background-image: url('systems/arm5e/assets/item/{{ui.flavor}}_background.png')">
  {{> "systems/arm5e/templates/item/parts/item-header.html" flavor=ui.flavor }}
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"
      style="height: 165px; flex-basis: 165px;" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="name" /></h1>
      <div class="flexrow">
        <div class="resource">
          <label>{{localize "arm5e.sheet.year"}}<input type="number" name="system.dates.0.year"
              value="{{system.dates.0.year}}" data-dtype="Number" /></label>
        </div>
        <div class="resource">
          <label>{{localize "arm5e.sheet.season"}}</label><select name="system.dates.0.season" data-type="String"
            style="width: 100%">
            {{#select system.dates.0.season}} {{#each config.seasons as |season key|}}
                <option value="{{key}}">{{localize season.label}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
        {{#unless (eq system.dates.length 1)}}
          <a class="select-dates flex0" style="width:50px"><i class=" icon-Tool_Astrolab"></i></a>
        {{/unless}}
      </div>
      <div class="grid grid-col">

        <div class="resource">
          <label>{{localize "arm5e.sheet.date"}}<input type="text" name="system.dates.0.date"
              value="{{system.dates.0.date}}" data-dtype="String" /></label>
          <input type="checkbox" name="system.dates.0.applied" hidden {{checked system.dates.0.applied}}
            data-dtype="Boolean">
        </div>
        <div class="resource">
          <label class="header-label">{{localize "arm5e.activity.activity"}}</label>
          <select class="progress-activity" name="system.activity" data-type="String" style="width: 100%"
            {{@root.system.disabled}}>
            {{#select system.activity}} {{#each config.activities.generic as |activity key|}}

                <option value="{{key}}" {{activity.display.choosable}}>{{localize activity.label}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
      </div>
    </div>
  </header>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="description" data-group="primary">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
    <a class="item posRelative" data-tab="advanced" data-group="primary">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.advanced"}}
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div style="height: 255px">
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
      </div>
    </div>
    {{!-- Advanced Tab --}}
    <div class="tab" data-group="primary" data-tab="advanced">
      {{#if ui.showTab}}
        {{> "systems/arm5e/templates/item/parts/seasonal-activity.html" }}
      {{/if}}
    </div>
  </section>
  {{> "systems/arm5e/templates/item/parts/item-footer.html" flavor=ui.flavor}}
</form>