<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">

        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="name"/></h1>
            <div class="grid grid-col">
                <div class="resource">
                    <label>{{localize "arm5e.sheet.size"}}<input type="text" name="data.size"  value="{{data.size}}"  data-dtype="String" /></label>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "arm5e.sheet.description"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
