<form class="{{cssClass}} mainItem" autocomplete="off"
  style="background-image: url('systems/arm5e/assets/item/{{ui.flavor}}_background.png')">
  {{> "systems/arm5e/templates/item/parts/item-header.html" flavor=ui.flavor}}
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="resource flexcol flexrow">
          <label for="system.art" class="header-label">{{localize "arm5e.sheet.art"}}</label>
          <select name="system.art" data-type="String">
            {{#select system.art}} {{#each config.magic.arts as |art key|}}
                <option value="{{key}}">{{art.label}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
        <div class="resource flexcol flexrow">
          <label for="system.type" class="header-label">{{localize "arm5e.sheet.bookType"}}</label>
          <select name="system.type" data-type="String">
            {{#select system.type}} {{#each @root.config.books.types }}
                <option value="{{this}}">{{this}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.level"}}</label>
          <input type="text" name="system.level" value="{{system.level}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.quality"}}</label>
          <input type="text" name="system.quality" value="{{system.quality}}" data-dtype="Number" />
        </div>
      </div>

      <div class="grid grid-2col"></div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="description">
      <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
    <a class="item posRelative" data-tab="authorship">
      <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.authorship.label"}}
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}} {{#if (eq
      metagame true)}} {{> "systems/arm5e/templates/generic/source.html" }} {{/if}}
    </div>
    {{!-- Authorship Tab --}} {{> "systems/arm5e/templates/item/parts/authorship.html" }}
  </section>
  {{> "systems/arm5e/templates/item/parts/item-footer.html" flavor=ui.flavor}}
</form>