<form class="{{cssClass}} main" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname" style="margin-top: 36px;"><input name="name" type="text" value="{{item.name}}"
                    placeholder="Name" /></h1>

            <div class="resource flexcol" style="margin-top: 8px;">
                <label class="bold">{{localize "arm5e.sheet.job"}}</label>
                <input type="text" name="data.job" value="{{data.job}}" data-dtype="String" />
            </div>

            <div class="grid grid-2col" style="margin-top: 8px;">
                <div class="resource flexcol flexrow">
                    <label for="data.yearBorn" class="bold">{{localize "arm5e.sheet.yearBorn"}}</label>
                    <input type="text" name="data.yearBorn" value="{{data.yearBorn}}" data-dtype="String" />
                </div>
                <div class="resource flexcol flexrow">
                    <label for="data.score" class="bold">{{localize "arm5e.sheet.score"}}</label>
                    <input type="text" name="data.score" value="{{data.score}}" data-dtype="Number" />
                </div>
            </div>

            <div class="grid grid-2col" style="margin-top: 8px;">
                <div class="resource flexcol flexrow">
                    <label for="data.loyalty" class="bold">{{localize "arm5e.sheet.loyalty"}}</label>
                    <input type="text" name="data.loyalty" value="{{data.loyalty}}" data-dtype="String" />
                </div>
                <div class="resource flexcol flexrow">
                    <label for="data.points" class="bold">{{localize "arm5e.sheet.points"}}</label>
                    <input type="text" name="data.points" value="{{data.points}}" data-dtype="Number" />
                </div>
            </div>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
        <a class="item posRelative" data-tab="description">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/ballBronce.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/ballBronce.png" /></div>
            {{localize "arm5e.sheet.description"}}
        </a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>