<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
              <div class="resource">
                <label class="resource-label">Quantity</label>
                  <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Weight</label>
                  <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
              </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="description">Description</a>
  
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="grid grid-2col">
                <div class="resource flexcol flexrow">
                    <label for="data.type.value" class="header-label">Book Type</label>
                        <select name="data.type.value"  data-type="String">
                            {{#select item.data.type.value}}
                            {{#each item.data.types as |type key|}}
                        <option value="{{key}}">{{type.label}}</option> {{/each}} {{/select}}
                        </select>
                </div>
                <div class="resource">
                  <label class="header-label">Level</label>
                    <input type="text" name="data.level" value="{{item.data.level}}" data-dtype="Number"/>
                </div>
                <div class="resource">
                    <label class="header-label">Quality</label>
                      <input type="text" name="data.quality" value="{{item.data.quality}}" data-dtype="Number"/>
                  </div>
        </div>

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>


    </section>
</form>
