<form class="sheet-content flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname" style="font-size: 24pt; font-family: blackmoor">{{localize "arm5e.sheet.spell-design"}}</h1>
      <h1 class="charname">
        <div class="flexrow"><input name="name" type="text" title="{{item.name}}" value="{{item.name}}"
            placeholder="Name" />
          {{#if item.isOwned}}
            <div class="flex0 padding10 "><a class="rollable" data-roll="spell" data-id="{{item._id}}"
                title='{{localize "arm5e.dialog.button.roll"}}'><img src="systems/arm5e/assets/dice.png"
                  style="border: 0px; height:30px; min-height:30px; min-width: 30px;"></a>
            </div>
          {{/if}}
        </div>
      </h1>
      <div class="grid grid-2col">
        <div class="resource flexcol flexrow">
          <label for="system.technique.value" class="header-label">{{localize "arm5e.sheet.technique"}}</label>
          <select name="system.technique.value" data-type="String">
            {{#select system.technique.value}} {{#each config.magic.techniques as |techniques key|}}
                <option value="{{key}}">{{techniques.label}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
        <div class="resource flexcol flexrow">
          <label for="system.form.value" class="header-label">{{localize "arm5e.sheet.form"}}</label>
          <select name="system.form.value" data-type="String">
            {{#select system.form.value}} {{#each config.magic.forms as |forms key|}}
                <option value="{{key}}">{{forms.label}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
      </div>
      <div class="grid grid-2col">
        <div class="resource flexcol flex-center">
          <label class="header-label">{{localize "arm5e.sheet.Requisites"}}</label>
          <a class="item-control advanced-req" title="Advanced Requistes" data-flavor="{{ui.flavor}}"><i
              class="fas fa-gavel fa-lg"></i></a>
        </div>
        <div class="resource flexcol flex-center">
          <label class="header-label">{{localize "arm5e.sheet.level"}}</label>
          <input class="design-level" type="number" name="system.level" value="{{system.level}}"
            style="max-width: 60px;" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="spell-design">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.attributes"}}
    </a>
    <a class="item posRelative" data-tab="description">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Spell Design Tab --}}
    <div class="tab spell-design" data-group="primary" data-tab="spell-design">
      {{> "systems/arm5e/templates/item/parts/spell-design.html" }}
    </div> {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner engine="prosemirror" editable=editable}}
    </div>
  </section>
</form>