<form class="{{cssClass}} main" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
                <div class="resource flexcol">
                    <label for="data.art.value" class="header-label">{{localize "arm5e.sheet.art"}}</label>
                    <select name="data.art.value"  data-type="String">
                    {{#select item.data.art.value}}
                    {{#each item.data.arts as |arts key|}}
                    <option value="{{key}}">{{arts.label}}</option> {{/each}} {{/select}}
                    </select>
                </div>
            </div>
            <div class="resource">
                <label class="header-label">{{localize "arm5e.sheet.pawns"}}</label>
                <input type="text" name="data.pawns" value="{{data.pawns}}" data-dtype="Number"/>
            </div>
            <div class="resource">
                <label class="header-label">{{localize "arm5e.sheet.location"}}</label>
                <input type="text" name="data.place" value="{{data.place}}" data-dtype="String"/>
            </div>
            
            <div class="resource flexcol">
                <label for="data.art.value" class="header-label">{{localize "arm5e.sheet.season"}}</label>
                <select name="data.season"  data-type="String">
                {{#select item.data.season}}
                {{#each item.data.seasons as |arts key|}}
                <option value="{{key}}">{{localize arts.label}}</option> {{/each}} {{/select}}
                </select>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "arm5e.sheet.description"}}</a>
        <a class="item" data-tab="attributes">{{localize "arm5e.sheet.attributes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
                <label for="data.form" class="header-label">{{localize "arm5e.sheet.physicalForm"}}</label>
                {{editor content=data.form target="data.form" button=true owner=owner editable=editable}}
        </div>

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
