<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">

        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="name"/></h1>


            <div class="resource">
                <label for="data.type" class="header-label">{{localize "arm5e.sheet.type"}}</label>
                <input type="text" name="data.type" value="{{data.type}}" data-dtype="String"/>
            </div>

            <div class="resource">
                <label for="data.incoming" class="header-label">{{localize "arm5e.sheet.incoming"}}</label>
                <input type="text" name="data.incoming" value="{{data.incoming}}" data-dtype="Number"/>
            </div>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "arm5e.sheet.description"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
