<form class="sheet-content flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"
      style="height: 165px; flex-basis: 165px;" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="name" /></h1>
      <div class="flexrow">
        <div class="resource">
          <label>{{localize "arm5e.generic.begins"}}: </label>
        </div>
        <div class="resource">
          <label>{{localize "arm5e.sheet.year"}}<input type="number" name="system.dates.0.year"
              value="{{firstSeason.year}}" class="resource-focus change-year" data-dtype="Number"
              {{@root.ui.editDate}} /></label>
        </div>
        <div class="resource">
          <label>{{localize "arm5e.sheet.season"}}</label>
          <select name="system.dates.0.season" class="change-season" data-type="String" style="width: 100%"
            {{@root.ui.editDate}}>
            {{#select firstSeason.season}} {{#each config.seasons as |season key|}}
                <option value="{{key}}">{{localize season.label}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
      </div>
      {{#if (gt system.duration 1)}}
        <div class="flexrow">
          <div class="resource">
            <label>{{localize "arm5e.generic.ends"}}: </label>
          </div>
          <div class="resource">
            <label>{{localize "arm5e.sheet.year"}}<input type="number" name="lastSeason.year"
                value="{{lastSeason.year}}" class="resource-focus" data-dtype="Number" disabled /></label>
          </div>
          <div class="resource">
            <label>{{localize "arm5e.sheet.season"}}</label>
            <select name="lastSeason.season" data-type="String" style="width: 100%" disabled>
              {{#select lastSeason.season}} {{#each config.seasons as |season key|}}
                  <option value="{{key}}">{{localize season.label}}</option>
                {{/each}} {{/select}}
            </select>
          </div>
        </div>
      {{/if}}
      <div class="grid grid-col">
        <div class="resource">
          <label>{{localize "arm5e.sheet.date"}}<input type="text" name="system.dates.0.date"
              value="{{firstSeason.date}}" data-dtype="String" /></label>
        </div>
        <div class="resource">
          <label class="header-label">{{localize "arm5e.activity.activity"}}</label>
          <select class="progress-activity" name="system.activity" data-type="String" style="width: 100%"
            {{@root.system.disabled}}>
            {{#select system.activity}} {{#each config.activities.generic as |activity key|}}

                <option value="{{key}}" {{activity.display.attribute}}>{{localize activity.label}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
      </div>

      <div class="flexrow">
        <div class="flex01">
          <label>{{localize "arm5e.sheet.duration"}}</label> <input type="number" class="duration"
            name="system.duration" value="{{system.duration}}" data-dtype="Number" {{ui.editDuration}} />
        </div>
        {{#if ui.schedule}}
          <div class="resource">
            <a class="select-dates flex0" style="width:50px"><i {{{astrolabIconStyle}}}
                class=" icon-Tool_Astrolab"></i></a>
          </div>
        {{/if}}
        {{#if isOwned}}
          <div class="flexrow ">
            <a class="item-control item-delete-confirm"
              title='{{localize "arm5e.hints.delete" item=(localize "arm5e.sheet.diary")}}'><i
                class="icon-Icon_Delete_Hand_Gesture"></i></a>
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="description" data-group="primary">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
    {{#if ui.showTab}}
      <a class="item posRelative" data-tab="advanced" data-group="primary">
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
        {{localize "arm5e.sheet.advanced"}}
      </a>
    {{/if}}
  </nav>
  <div>
    {{> "systems/arm5e/templates/generic/metalic-bar.html"  }}
  </div>
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div style="height: 255px">
        {{editor system.description target="system.description" button=true owner=owner engine="prosemirror" editable=editable}}
      </div>
    </div>
    {{#if ui.showTab}}
      {{!-- Advanced Tab --}}
      <div class="tab" data-group="primary" data-tab="advanced">
        {{> "systems/arm5e/templates/item/parts/seasonal-activity.html" }}
      </div>
      <div class="flexrow">
        {{#if system.applyPossible}}
          {{#if rollNeeded}}
            <button class="arm5e flex03 roll-activity" style="font-family: bookAntika">{{localize rollLabel}}</button>
          {{else}}
            <button class="arm5e flex02 progress-apply" style="font-family: bookAntika"
              data-qualitymod="{{system.sourceModifier}}">{{localize "arm5e.sheet.action.apply"}}
            </button>
          {{/if}}
        {{else}}
          {{#unless system.done}}
            <button class="arm5e flex02 progress-refresh"
              style="font-family: bookAntika">{{localize "arm5e.lab.planning.button.refresh"}}</button>
          {{else}}
            <button class="arm5e flex02 progress-rollback"
              style="font-family: bookAntika">{{localize "arm5e.sheet.action.rollback"}}</button>
          {{/unless}}
        {{/if}}
        <div class="flexcol">
          <label class="header-label"
            style="color:red; padding: 10px;">{{localize system.applyError param=system.errorParam}}</label>
          <label class="header-label"
            style="padding: 10px;">{{localize system.applyInfo param=system.infoParam}}</label>
        </div>
      </div>
    {{/if}}
  </section>
</form>