<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
              <div class="resource">
                <label class="header-label">Quantity</label>
                  <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="header-label">Weight</label>
                  <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
              </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="grid grid-3col">
                <div class="resource">
                  <label class="header-label">Protection</label>
                    <input type="text" name="data.prot" value="{{data.prot}}" data-dtype="Number"/>
                </div>
                <div class="resource flexcol flex-center">
                    <label class="header-label">Full Set</label>
                        <input type="checkbox" name="data.full" {{checked data.full}}>
                  </div>
                <div class="resource flexcol">
                    <label for="data.cost.value" class="header-label">Cost</label>
                    <select name="data.cost.value"  data-type="String">
                      {{#select item.data.cost.value}}
                      {{#each item.data.costs as |costs key|}}
                      <option value="{{key}}">{{costs.label}}</option> {{/each}} {{/select}}
                    </select>
                </div>
              </div>
        </div>

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
