<form class="{{cssClass}} mainItem" autocomplete="off"
  style="background-image: url('systems/arm5e/assets/item/{{ui.flavor}}_background.png')">
  {{> "systems/arm5e/templates/item/parts/item-header.html" flavor=ui.flavor}}
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.quantity"}}</label>
          <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.weight"}}</label>
          <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
        </div>

        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.equiped"}}</label>
          <input type="checkbox" name="system.equiped" {{checked system.equiped}} />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="description">
      <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
    <a class="item posRelative" data-tab="attributes">
      <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.attributes"}}
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="grid grid-3col">
        <div class="resource">
          <label class="header-label">{{localize "arm5e.sheet.protection"}}</label>
          <input type="number" name="system.prot" value="{{system.prot}}" data-dtype="Number" />
        </div>
        <div class="resource flexcol flex-center">
          <label class="header-label">{{localize "arm5e.sheet.fullSet"}}</label>
          <input type="checkbox" name="system.full" {{checked system.full}} />
        </div>
        <div class="resource flexcol">
          <label for="system.cost.value" class="header-label">{{localize "arm5e.sheet.cost"}}</label>
          <select name="system.cost.value" data-type="String">
            {{#select system.cost.value}} {{#each config.item.costs as |costs key|}}
                <option value="{{key}}">{{localize costs.label}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
      </div>
    </div>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
  </section>
  {{> "systems/arm5e/templates/item/parts/item-footer.html" flavor=ui.flavor}}
</form>