<form class="{{cssClass}} flexcol mainItem" autocomplete="off"
  style="background-image: url('systems/arm5e/assets/item/{{ui.flavor}}_background.png')">
  {{> "systems/arm5e/templates/item/parts/item-header.html" flavor=ui.flavor}}
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <label for="system.type" class="smallTitle" style="padding-left: 24px">{{localize "arm5e.sheet.type"}}</label>
      <select class="width2" name="system.type" data-type="String">
        {{#select system.type}} {{#each config.lab.labTextType as |type key|}}
            <option value="{{key}}">{{localize type}}</option>
          {{/each}} {{/select}}
      </select>
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="resource flexcol flexrow">
          <label for="system.technique.value" class="header-label">{{localize "arm5e.sheet.technique"}}</label>
          <select name="system.technique.value" data-type="String">
            {{#select system.technique.value}} {{#each config.magic.techniques as |techniques key|}}
                <option value="{{key}}">{{techniques.label}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
        <div class="resource flexcol flexrow">
          <label for="system.form.value" class="header-label">{{localize "arm5e.sheet.form"}}</label>
          <select name="system.form.value" data-type="String">
            {{#select system.form.value}} {{#each config.magic.forms as |forms key|}}
                <option value="{{key}}">{{forms.label}}</option>
              {{/each}} {{/select}}
          </select>
        </div>
      </div>
      <div class="flexrow flex-between">
        <div class="resource flexcol flex-center flex01">
          <label class="header-label">{{localize "arm5e.sheet.Requisites"}}</label>
          <a class="item-control advanced-req" title="Advanced Requistes" data-flavor="{{ui.flavor}}"><i
              class="fas fa-gavel fa-lg"></i></a>
        </div>
        {{#if (ne system.type "enchantment")}}
          <div class="resource flexcol flex-center flex0">
            <label class="header-label">{{localize "arm5e.sheet.ritual"}}</label>
            <input type="checkbox" name="system.ritual" {{checked system.ritual}} />
          </div>
          {{#if isOwned}}
            <div class="resource flexcol flex-center flex0" style="margin-top: 10px;">
              <a class=" study-labtext" title='{{localize "arm5e.hints.read" item=(localize "arm5e.sheet.book")}}'
                style="padding-left: 5px; padding-top: 5px;"><i class="icon-Icon_Readspell"></i></a>
            </div>
          {{/if}}
        {{/if}}
        <div class="resource flex02">
          <label class="header-label">{{localize "arm5e.sheet.level"}}</label>
          <input type="number" name="system.level" value="{{system.level}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="description">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
    {{#unless (eq system.type "raw")}}
      <a class="item posRelative" data-tab="attributes">
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
        {{localize "arm5e.sheet.attributes"}}
      </a>
    {{/unless}}
    {{#if (eq system.type "enchantment")}}
      <a class="item posRelative" data-tab="enchantment">
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
        {{localize "arm5e.lab.enchantment.label"}}
      </a>
    {{/if}}
    <a class="item posRelative" data-tab="authorship">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.authorship.label"}}
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="flexrow flex-between">
        <div class="resource flex01">
          <label class="header-label">{{localize "arm5e.sheet.range"}}</label>
          <select name="system.range.value" data-type="String" class="spell-attribute">
            {{#select system.range.value}} {{#each ranges as |range key|}}
                <option value="{{key}}" {{disabled range.disabled}}>
                  {{localize range.label}}{{#if (eq range.disabled undefined)}}
                    ({{range.impact}}){{/if}}
                </option>
              {{/each}} {{/select}}
            <option></option>
          </select>
        </div>
        <div class="resource flex01">
          <label class="header-label">{{localize "arm5e.sheet.duration"}}</label>
          <select name="system.duration.value" data-type="String" class="spell-attribute">
            {{#select system.duration.value}} {{#each durations as |duration key|}}
                <option value="{{key}}" {{disabled duration.disabled}}>
                  {{localize duration.label}}{{#if (eq duration.disabled undefined)}} ({{duration.impact}}){{/if}}
                </option>
              {{/each}} {{/select}}
          </select>
        </div>
        <div class="resource flex01">
          <label class="header-label">{{localize "arm5e.sheet.target"}}</label>
          <select name="system.target.value" data-type="String" class="spell-attribute">
            {{#select system.target.value}} {{#each targets as |target key|}}
                <option value="{{key}}" {{disabled target.disabled}}>{{localize target.label}}
                  {{#if (eq target.disabled undefined)}}
                    ({{target.impact}}){{/if}}
                </option>
              {{/each}} {{/select}}
          </select>
        </div>
      </div>
      <div class="flexrow flex-between">
        <div class="resource">
          <label class="header-label">{{localize "arm5e.spell.effect.baseLevel"}}</label>
          <input type="number" name="system.baseLevel" size="4" value="{{system.baseLevel}}" data-dtype="Number" />
        </div>
        <div class="resource flexcol flex-center">
          <label class="header-label">{{localize "arm5e.sheet.general"}}</label>
          <input type="checkbox" name="system.general" size="4" {{checked system.general}} />
        </div>
        {{#if system.general}}
          <div class="resource flexcol flex-center">
            <label class="header-label">{{localize "arm5e.spell.effect.levelOffset"}}</label>
            <input type="number" name="system.levelOffset" value="{{system.levelOffset}}" data-dtype="Number"
              style="max-width: 40px;" />
          </div>
        {{/if}}
      </div>
      <div class="flexrow resource">
        <label class="flex02 header-label">{{localize "arm5e.spell.effect.description"}}</label>
        <input type="text" name="system.baseEffectDescription" value="{{system.baseEffectDescription}}"
          data-dtype="String" />
      </div>
      <div class="grid grid-3col">
        <div class="resource">
          <label class="header-label">{{localize "arm5e.spell.targets.targetSize"}}</label>
          <input type="number" name="system.targetSize" value="{{system.targetSize}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="header-label">{{localize "arm5e.spell.targets.complexity"}}</label>
          <input type="number" name="system.complexity" value="{{system.complexity}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="header-label">{{localize "arm5e.spell.targets.enhancingReq"}}</label>
          <input type="number" name="system.enhancingRequisite" value="{{system.enhancingRequisite}}"
            data-dtype="Number" />
        </div>
      </div>

    </div>
    {{!-- Enchantment Tab --}} {{#if (eq system.type "enchantment")}} {{>
    "systems/arm5e/templates/item/parts/enchantment.html" }} {{/if}} {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}} {{#if (eq
      metagame true)}} {{> "systems/arm5e/templates/generic/source.html" }} {{/if}}
    </div>
    <div class="tab" data-group="primary" data-tab="authorship">
      {{!-- Authorship Tab --}} {{> "systems/arm5e/templates/item/parts/authorship.html" }}
    </div>
  </section>
  {{> "systems/arm5e/templates/item/parts/item-footer.html" flavor=ui.flavor}}
</form>