<form class="{{cssClass}} mainItem" autocomplete="off">
    {{> "systems/arm5e/templates/item/parts/item-header.html" }}
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="grid grid-2col">
                <div class="resource flexcol flexrow">
                    <label for="data.technique.value" class="header-label">{{localize "arm5e.sheet.technique"}}</label>
                    <select name="data.technique.value" data-type="String">
                        {{#select data.technique.value}}
                            {{#each metadata.magic.techniques as |techniques key|}}
                                <option value="{{key}}">{{techniques.label}}</option>
                            {{/each}} {{/select}}
                    </select>
                </div>
                <div class="resource flexcol flexrow">
                    <label for="data.form.value" class="header-label">{{localize "arm5e.sheet.form"}}</label>
                    <select name="data.form.value" data-type="String">
                        {{#select data.form.value}}
                            {{#each metadata.magic.forms as |forms key|}}
                                <option value="{{key}}">{{forms.label}}</option>
                            {{/each}} {{/select}}
                    </select>
                </div>
                <div class="resource flexcol flexrow">
                    <label for="data.technique-requisite.value" class="header-label">{{localize "arm5e.sheet.techniqueRequisite"}}</label>
                    <select name="data.technique-requisite.value" data-type="String">
                        {{#select data.technique-requisite.value}}
                            <option value="">N/A</option>
                            {{#each metadata.magic.techniques as |techniques key|}}
                                <option value="{{key}}">{{techniques.label}}</option>
                            {{/each}}
                        {{/select}}

                    </select>
                </div>
                <div class="resource flexcol flexrow">
                    <label for="data.form-requisite.value" class="header-label">{{localize "arm5e.sheet.formRequisite"}}</label>
                    <select name="data.form-requisite.value" data-type="String">
                        {{#select data.form-requisite.value}}
                            <option value="">N/A</option>
                            {{#each metadata.magic.forms as |forms key|}}
                                <option value="{{key}}">{{forms.label}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="resource">
                    <label class="header-label">{{localize "arm5e.spell.effect.baseLevel"}}</label>
                    <input type="text" name="data.baseLevel" value="{{data.baseLevel}}" data-dtype="Number" />
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
        <a class="item posRelative" data-tab="description">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/ballBronce.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/ballBronce.png" /></div>
            {{localize "arm5e.sheet.description"}}
        </a>

    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.baseEffectDescription target="data.baseEffectDescription" button=true owner=owner editable=editable}} </div>
    </section>
    {{> "systems/arm5e/templates/item/parts/item-footer.html" }}
</form>