<form class="{{cssClass}} mainItem" autocomplete="off">
    {{> "systems/arm5e/templates/item/parts/item-header.html" }}
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="grid grid-2col">
                <div class="resource">
                    <label for="data.type.value" class="header-label">{{localize data.type.label}}</label>
                    <select name="data.type.value" data-type="String">
                        {{#select data.type.value}}
                            {{#each metadata.character.flawTypes as |type key|}}
                                <option value="{{key}}">{{localize label}}</option>
                            {{/each}} {{/select}}
                    </select>
                    <label for="data.impact.value" class="header-label">{{localize data.impact.label}}</label>
                    <select name="data.impact.value" data-type="String">
                        {{#select data.impact.value}}
                            {{#each metadata.impacts as |impact key|}}
                                <option value="{{key}}">{{localize impact.label}}</option>
                            {{/each}} {{/select}}
                    </select>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
        <a class="item posRelative" data-tab="description">
            <div class="navItem-right-ball"><img src="/systems/arm5e/assets/bLeft.png" /></div>
            <div class="navItem-left-ball"><img src="/systems/arm5e/assets/bRight.png" /></div>
            {{localize "arm5e.sheet.description"}}
        </a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            {{#if (eq metagame true)}}
                <div class="grid grid-2col flex2">
                    <div class="resource">
                        <label for="data.source" class="header-label">{{localize "arm5e.sheet.source.label"}}</label>
                        <select name="data.source" data-type="String">
                            {{#select data.source}}
                                {{#each metadata.generic.sourcesTypes as |type key|}}
                                    <option value="{{key}}">{{localize label}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="resource">
                        <label class="header-label">{{localize "arm5e.sheet.page"}}</label>
                        <input type="text" name="data.page" value="{{data.page}}" data-dtype="Number" style="width:180px;" />
                    </div>
                </div>
            {{/if}}
        </div>

    </section>
    {{> "systems/arm5e/templates/item/parts/item-footer.html" }}
</form>